/*@font-face {
  font-family: 'Mono';
  src: url('../fonts/PTM55F_W.woff') format('woff'),
  url('../fonts/PTM55F_W.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}*/

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,600,600i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i&subset=cyrillic');
