footer {
  background-color: #155290;
  padding-top: 50px;
  padding-bottom: 100px;

  .footer-logo {
    .footer-logo-link {

    }
  }
  .footer-about {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #3e75ac;
    font-size: 14px;
  }
  .footer-links-header {
    color: #3e75ac;
    text-transform: lowercase;
    font-size: 15px;
    margin-bottom: 7px;
  }
  .footer-link {
    display: block;
    font-size: 14px;
    color: white;
    white-space: nowrap;
  }
  .social-wrap {
    display: flex;
    align-items: center;
    .social-icon {
      display: inline-block;
      margin-right: 20px;
      i {
        color: #477CB1;
        font-size: 24px;
      }
    }
    .social-link {
      display: inline-block;
      color: white;
      font-size: 15px;
    }
  }
  .social-links {
    padding-left: 40px;
    padding-top: 20px;
    .link {
      color: #477CB1;
      transition: all .2s ease;
      font-size: 24px;
      margin-right: 6px;
      text-decoration: none !important;
      &:hover {
        color: white;
      }
    }
  }
}