html, body {
  background: #fff;
  /*font-variant-numeric: lining-nums;*/
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans', 'Fira Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  min-height: 100vh;

  /*overflow-x: hidden;
  overflow-y: auto;*/
  &.no-scroll {
    overflow: hidden !important;
  }
}

.img-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  img {
    min-height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
.btn, .form-control {
  box-shadow: none !important;
}
.btn {
  padding: 18px 30px;
  border-radius: 0;
  font-size: 14px;
  transition: all 0.25s ease;

  &.blue {
    background-color: #155290;
    color: white;
    border: 2px solid #155290;
    &:hover {
      background-color: #45679f;
      border: 2px solid #45679f;
    }
  }
  &.white-border {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    &:hover {
      background-color: white;
      color: #155290;
    }
  }
  &.blue-border {
    background-color: transparent;
    color: #202020;
    border: 2px solid #155290;
    &:hover {
      background-color: #155290;
      color: white;
    }
  }

  &:active {
    box-shadow: inset 0px 0px 15px 2px rgba(0, 0, 0, 0.4) !important;
  }
}

.checkbox {
  label {
    padding-left: 0;
    vertical-align: bottom;
    font-size: 16px;
  }
  label:after {
    content: '';
    display: table;
    clear: both;
  }
  .cr {
    position: relative;
    display: inline-block;
    border: 2px solid #d3d3d3;
    border-radius: 0;
    width: 1.5em;
    height: 1.5em;
    float: left;
    margin-right: 10px;
    background-color: transparent;
    transition: all .2s ease;
    &:hover {
      border: 2px solid #155290;
    }
  }
  .cr .cr-icon {
    position: absolute;
    font-size: 20px;
    line-height: 0;
    top: 10px;
    left: 0;
    color: #155290;
    font-weight: bold;
  }

  label input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked + .cr {
    border: 2px solid #155290;
  }

  label input[type="checkbox"] + .cr > .cr-icon {
    transform: scale(1.5) rotateZ(-10deg);
    opacity: 0;
    transition: all .3s ease-in;
  }

  label input[type="checkbox"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
  }

  label input[type="checkbox"]:disabled + .cr {
    opacity: .5;
  }
}
.radiobox {
  label {
    padding-left: 0;
    vertical-align: bottom;
    font-size: 16px;
  }
  label:after {
    content: '';
    display: table;
    clear: both;
  }
  .cr {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    float: left;
    margin-right: 10px;
    background-color: transparent;
    transition: all .2s ease;
    border: 2px solid #d3d3d3;
    &:hover {
      border: 2px solid #155290;
    }
  }
  .cr .cr-icon {
    position: absolute;
    font-size: 15px;
    line-height: 20px;
    width: 100%;
    text-align: center;
    color: #155290;
    font-weight: bold;
  }

  label input[type="radio"] {
    display: none;
  }

  input[type="radio"]:checked + .cr {
    border: 2px solid #155290;
  }

  label input[type="radio"] + .cr > .cr-icon {
    transform: scale(0);
    opacity: 0;
    transition: all .3s ease-in;
  }

  label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1);
    opacity: 1;
  }

  label input[type="radio"]:disabled + .cr {
    opacity: .5;
  }
}
.breadcrumb {
  background-color: transparent;
  border-radius: 0;
  padding: 0;
  .breadcrumb-item {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    color: #b6b7b8;
    a {
      color: #155290;
      text-decoration: none;
      transition: all .2s ease;
      &:hover {
        color: #1672bb;
      }
    }
  }
}
.pagination {
  border-radius: 0;
  .page-item {
    width: 45px;
    text-align: center;
    a {
      border-radius: 0 !important;
      border: 1px solid #155290 !important;
      box-shadow: none !important;
      transition: all .2s ease;
      color: #155290;
    }
    &.disabled {
      &.hover {
        cursor: not-allowed;
      }
      .page-span {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        margin-left: -1px;
        line-height: 1.25;
        border-radius: 0 !important;
        border: 1px solid #155290 !important;
        box-shadow: none !important;
        transition: all .2s ease;
        background-color: #eaeef2 !important;
        color: #6c757d !important;
      }
    }
    &.active {
      a {
        background-color: #1672bb;
        color: white;
      }
    }
    &:hover {
      a {
        background-color: #155290;
        color: white;
      }
    }
  }
}
.modal {
  .modal-content {
    border-radius: 0;
  }
  .modal-header {
    text-align: center;
    .modal-title {
      margin-left: auto;
      font-size: 22px;
    }
  }
  .modal-body {
    padding: 30px 50px;
    label {
      font-size: 13px;
    }
    input, textarea {
      border-radius: 0;
    }
  }
  .modal-footer {
    border-top: none;
    justify-content: center;
    .btn {
      padding: 10px 15px;
    }
  }
}

.metric-block .touchspin-wrap.blocked {
  opacity: 0.4;
  pointer-events: none;
}

.anim-before {
  opacity: 0;
}
.anim {
  animation: customFadeInUp 1s ease both;
}
@keyframes customFadeInUp {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Custom fancybox design */
.fancybox-toolbar {
  .fancybox-button {
    background: transparent;
    width: 45px;
    height: 45px;
    opacity: 0.4;
    transition: all .2s ease;
    &:hover {
      opacity: 1;
    }
  }
  .fancybox-button--close {

  }
}
.fancybox-navigation {
  .fancybox-button:before, .fancybox-button:after {
    display: none;
  }
  .fancybox-button {
    color: #444 !important;
    padding: 10px !important;
    background: rgba(255, 255, 255, .15);
    height: 60px !important;
    opacity: 0.6 !important;
    transition: all .2s ease;
    &:hover {
      opacity: 1 !important;
    }
    &.disabled {
      background: rgba(30, 30, 30, .6);
    }
    svg {
      height: 40px;
      margin: 0 auto;
    }
  }
}
