header {
  position: fixed;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 29;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

  .header-logo-link {
    background: url("../img/pics/logo_blue.svg") no-repeat;
    display: block;
    width: 145px;
    height: 60px;
    background-position: top left;
    background-size: contain;
    transition: all .25s ease;

    &.background--light {
      background-image: url("../img/pics/logo_blue.svg");
    }
    &.background--dark {
      background-image: url("../img/pics/Logo_white.png");
    }
    &.background--complex {
      background-image: url("../img/pics/logo_blue.svg");
    }
  }
  .header-menu-btn {
    position: relative;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    border: none;
    display: block;
    height: 33px;
    width: 30px;
    z-index: 14;
    &.background--light {
      span {
        background-color: black;
      }
    }
    &.background--dark {
      span {
        background-color: white;
      }
    }
    &.background--complex {
      span {
        background-color: gray;
      }
    }
    &:hover {
      cursor: pointer;
      span:nth-child(1) {
        top: 4px;
      }
      span:nth-child(4) {
        top: 23px;
      }
    }
    span {
      transition: all .25s ease-in-out;
      display: block;
      position: absolute;
      height: 3px;
      margin: 0;
      width: 100%;
      opacity: 1;
      background-color: black;
    }
    span:nth-child(1) {
      top: 0px;
    }
    span:nth-child(2), span:nth-child(3) {
      top: 13px;
    }
    span:nth-child(4) {
      top: 28px;
    }
    &.active span {
      background-color: black;
    }
    &.active span:nth-child(1) {
      top: 13px;
      opacity: 0;
      transform: scale(0, 0);
    }
    &.active span:nth-child(2) {
      transform: rotate(45deg);
    }
    &.active span:nth-child(3) {
      transform: rotate(-45deg);
    }
    &.active span:nth-child(4) {
      top: 13px;
      opacity: 0;
      transform: scale(0, 0);
    }
  }
  .header-menu {
    z-index: 10;
  }
  .overlay {
    position: absolute;
    t: 0;
    r: 0;
    b: 0;
    l: 0;
    width: 100vw;
    height: 100vh;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.45);
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
    &.shown {
      opacity: 1;
      visibility: visible;
    }
  }
  .menu-wrap {
    position: absolute;
    right: 0;
    top: 0;
    width: calc((100% - 1160px) / 2 + 400px);
    height: 100vh;
    z-index: 12;
    background-color: white;
    transform: translateX(100%);
    transition: all .6s ease;
    &.shown {
      transform: translateX(0);
    }
  }
  .menu-inner {
    width: 300px;
    padding-top: 143px;
    padding-left: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 80px;
    overflow-y: auto;
  }
  .menu-links-wrap {
    .menu-links {
      margin-bottom: 20px;
    }
    .menu-link {
      color: black;
      display: table;
      text-decoration: none;
      margin-bottom: 5px;
      font-weight: 600;
      &:after {
        display: block;
        content: "";
        margin-top: 1px;
        height: 2px;
        width: 0%;
        transition: width .2s ease-in-out;
        background-color: #155290;
      }
      &:hover:after, &:focus:after, &.active:after {
        width: 100%;
      }
    }
    .menu-cat {
      color: #b4b4b4;
      text-transform: lowercase;
      font-size: 15px;
    }
  }
  .social-links-wrap {
    margin-left: -40px;
    .social-links {
      display: flex;
      align-items: center;
      .social-icon {
        display: inline-block;
        margin-right: 20px;
        i {
          color: #cdcdcd;
          font-size: 24px;
        }
      }
      .social-link {
        display: inline-block;
        color: black;
        font-size: 15px;
      }
    }
    .social-links-services {
      padding-left: 40px;
      padding-top: 10px;
      .link {
        color: #cdcdcd;
        transition: all .2s ease;
        font-size: 24px;
        margin-right: 6px;
        text-decoration: none !important;
        &:hover {
          color: #195091;
        }
      }
    }
  }
}