@media screen and (min-width: 1635px) {
}

@media screen and (max-width: 1634.98px) {
}

@media screen and (min-width: 1400px) and  (max-width: 1634.98px) {
}

@media screen and (min-width: 1200px) and  (max-width: 1399.98px) {
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1160px !important;
  }
}

@media screen and (max-width: 1199.98px) {
  .page-index {
    .style-block {
      .intro-text {
        max-width: 100%;
        .title {
          font-size: 30px;
        }
        .text {
          font-size: 16px;
        }
      }
    }
    .slider-block {
      .swiper-pagination-bullet-active {
        background: black !important;
      }
      .text-wrap {
        .text-title {
          font-size: 16px;
        }
      }
    }
  }

  .page-style {
    .intro-block {
      .intro-text {
        max-width: 100%;
        .title {
          font-size: 30px;
        }
        .text {
          font-size: 16px;
        }
      }
    }
    .blog-block {
      .block-title {
        font-size: 32px;
      }
    }
  }
}

@media screen and (min-width: 992px) and  (max-width: 1199.98px) {
}

@media screen and (max-width: 991.98px) {
  header {
    .menu-wrap {
      width: calc((100% - 720px) / 2 + 400px);
    }
    .menu-inner {
      padding-top: 40px;
      padding-left: 60px;
      padding-bottom: 40px;
    }
  }

  .fancybox-container {
    .fancybox-toolbar {
      .fancybox-button {
        width: 40px;
        height: 40px;
        padding: 7px;
      }
    }
    .fancybox-navigation {
      .fancybox-button {
        padding: 5px;
        width: 40px;
        svg {
          height: 35px;
        }
      }
    }
  }

  .page-index {
    .intro-block {
      .title {
        font-size: 32px !important;
      }
    }
    .stepper-block {
      .step-pic {
        svg {
          height: 80px;
        }
      }
    }
    .style-block {
      .intro-wrap {
        .intro-text {
          padding-left: 0;
          width: 100%;
          text-align: center;
          .title {
            font-size: 26px;
          }
          .text {
            font-size: 14px;
          }
        }
      }
    }
    .blog-block {
      .blog-desc {
        padding-top: 0;
      }
    }
    .slider-block {
      .swiper-container {
        height: 530px;
      }
    }
  }

  .page-principles {
    .slider-block {
      .swiper-container {
        height: 460px;
      }
    }
    .stepper-block {
      .step-pic {
        svg {
          height: 80px;
        }
      }
    }
  }

  .page-style {
    .intro-block {
      .intro-wrap {
        .intro-text {
          padding-left: 0;
          width: 100%;
          text-align: center;
          .title {
            font-size: 26px;
          }
          .text {
            font-size: 14px;
          }
        }
      }
    }
  }

  .page-blog_detail {
    .blog-block {
      .blog-title {
        font-size: 32px;
        line-height: 1.1;
      }
      .blog-text {
        font-size: 15px;
      }
      .blog-li {
        font-size: 15px;
      }
      .btn.blue-border {
        padding: 10px 30px !important;
      }
    }
    .other-row {
      .blog-title {
        font-size: 28px;
      }
      .blog-subtitle {
        font-size: 20px;
        line-height: 1.2;
      }
    }
  }
}

@media screen and (min-width: 768px) and  (max-width: 991.98px) {
}

@media screen and (max-width: 767.98px) {
  footer {
    .footer-links {
      margin-bottom: 30px;
    }
  }

  .modal {
    .modal-body {
      padding: 20px 20px;
    }
  }

  .fancybox-container {
    .fancybox-toolbar {
      .fancybox-button {
        width: 40px;
        height: 40px;
        padding: 7px;
      }
    }
    .fancybox-navigation {
      .fancybox-button {
        padding: 5px;
        width: 40px;
        top: 45%;
        background: rgba(30, 30, 30, .4);
        svg {
          height: 35px;
        }
      }
    }
  }

  .page-index {
    .intro-block {
      .title {
        font-size: 26px !important;
      }
    }
    .stepper-block {
      .step-text {
        margin-bottom: 30px;
        margin-top: 0;
      }
      .step-pic {
        svg {
          height: 80px;
        }
      }
    }
    .style-block {
      padding-top: 20px;
      .intro-link {
        height: calc(100vh / 2);
      }
      .block-bg {
        height: calc(100vh / 2);
      }
      .intro-wrap {
        height: calc(100vh / 2);
        .intro-text {
          .title {
            font-size: 32px;
          }
          .text {
            font-size: 16px;
          }
        }
      }
    }
    .blog-block {
      .blog-row {
        padding-bottom: 40px;
      }
      .blog-desc {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
    .slider-block {
      .swiper-container {
        height: 430px;
      }
    }
  }

  .page-principles {
    .slider-block {
      .swiper-container {
        height: 330px;
      }
    }
    .stepper-block {
      .step-text {
        margin-bottom: 30px;
        margin-top: 0;
      }
      .step-pic {
        svg {
          height: 80px;
        }
      }
    }
    .blog-block {
      .blog-desc {
        padding-bottom: 30px;
      }
    }
  }

  .page-style {
    .intro-block {
      padding-top: 100px;
      .intro-link {
        height: calc(100vh / 2);
      }
      .block-bg {
        height: calc(100vh / 2);
      }
      .intro-wrap {
        height: calc(100vh / 2);
        .intro-text {
          .title {
            font-size: 32px;
          }
          .text {
            font-size: 16px;
          }
        }
      }
    }
    .blog-block {
      .blog-desc {
        padding-top: 0px;
        padding-bottom: 20px;
        .desc-title, .desc-text {
          padding: 0;
        }
      }
    }
  }

  .page-faq {
    .faq-block {
      .block-title {
        font-size: 32px;
      }
    }
  }

  .page-calc {
    .style-block {
      .style-picker-wrap {
        margin-bottom: 20px;
        float: left;
        width: 50%;
        padding: 0 10px;
      }
      .style-picker-pic {
        display: block;

        .img-wrap {
          top: 0px;
          &:first-child {
            position: relative;
          }
        }
      }
    }
    .status-block {
      .status-wrap {
        height: 30px;
      }
      .status-wrap.right {
        justify-content: flex-start;
      }
    }
  }
}

@media screen and (min-width: 576px) and  (max-width: 767.98px) {
}

@media screen and (max-width: 575.98px) {
  header {
    .menu-wrap {
      width: 100%;
    }
    .menu-inner {
      padding-top: 40px;
      padding-left: 60px;
      padding-bottom: 40px;
    }
  }

  .pagination {
    .page-link {
      padding: 5px 8px;
    }
  }

  .page-index {
    .intro-block {
      .title {
        font-size: 26px !important;
      }
      .intro-text {
        padding-left: 0;
        padding-bottom: 20px;
      }
      .btn {
        margin-bottom: 20px;
      }
    }
    .style-block {
      padding-top: 0px;
      .intro-link {
        height: 100vh;
      }
      .block-bg {
        height: 100vh;
      }
      .intro-wrap {
        height: 100vh;
        .intro-text {
          padding: 0;
          .title {
            font-size: 32px;
          }
          .text {
            font-size: 16px;
          }
        }
      }
    }
    .review-block {
      .review-wrap {
        padding-left: 0;
        padding-right: 0;
      }
      .review-inner {
        padding-left: 0;
        padding-right: 0;
      }
      .review-pic {
        width: 80px;
        height: 80px;
      }
    }
    .slider-block {
      .swiper-container {
        height: 340px;
      }
    }
  }

  .page-principles {
    .slider-block {
      .block-title {
        font-size: 28px;
      }
      .swiper-container {
        height: 280px;
      }
      .text-wrap {
        .text {
          font-size: 14px;
        }
      }
    }
  }

  .page-style {
    .intro-block {
      padding-top: 0px;
      .intro-link {
        height: 100vh;
      }
      .block-bg {
        height: 100vh;
      }
      .intro-wrap {
        height: 100vh;
        .intro-text {
          padding: 0;
          .title {
            font-size: 32px;
          }
          .text {
            font-size: 16px;
          }
        }
      }
    }
    .blog-block {
      .block-title {
        font-size: 26px;
        line-height: 1;
      }
      .blog-desc {
        .desc-title {
          font-size: 20px;
        }
        .desc-text {
          font-size: 14px;
        }
        .desc-title, .desc-text {
          padding: 0;
        }
      }
    }
    .dop-block {
      .pic-1, .pic-4 {
        height: 200px !important;
      }
      .pic-2, .pic-3 {
        height: 100px !important;
      }
    }
  }

  .page-faq {
    .faq-block {
      .block-title {
        font-size: 24px;
      }
      .faq-text {
        max-width: 100%;
        padding-left: 35px;
      }
    }
  }

  .page-blog {
    .blog-block {
      .blog-text {
        font-size: 15px;
      }
    }
  }
}