@define-mixin bg $pic, $position: center, $size: contain {
  background-image: url(../img/pics/$(pic).png);
  background-position: $position;
  background-size: $size;
  background-repeat: no-repeat;
}

@define-mixin bg2 $pic, $position: center, $cover: contain {
  background-image: url(../img/pics/$(pic).jpg);
  background-position: $position;
  background-size: $size;
  background-repeat: no-repeat;
}