.page-blog {
  padding-top: 140px;

  .blog-block {
    .block-title {
      text-align: left;
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    .blog-wrap {
      padding-bottom: 20px;
      border-bottom: 1px solid #d1d1d1;
      margin-bottom: 30px;
    }
    .blog-tag {
      .tag {
        display: inline-block;
        color: #b6b7b8;
        font-style: italic;
        font-size: 14px;
        margin-right: 10px;
        &:before {
          content: "# ";
        }
      }
    }
    .blog-title {
      font-size: 24px;
      font-weight: 700;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .blog-date {
      color: #155290;
      font-size: 14px;
      font-style: italic;
    }
    .blog-row {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .blog-text {
      color: #a7a8a8;
      padding-top: 20px;
    }
    .blog-pic {
      align-items: start;
      img {
        min-height: 0;
        height: auto;
      }
    }
    .btn.blue-border {
      margin-top: 40px;
      padding: 12px 50px;
    }
  }
  .pagination-block {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}