.page-blog_detail {
  padding-top: 140px;

  .blog-block {
    .blog-tag {
      .tag {
        display: inline-block;
        color: #b6b7b8;
        font-style: italic;
        font-size: 14px;
        margin-right: 10px;
        &:before {
          content: "# ";
        }
      }
    }
    .blog-date {
      color: #155290;
      font-size: 14px;
      font-style: italic;
      margin-bottom: 20px;
    }
    .blog-title {
      font-size: 40px;
      font-weight: 700;
      margin-top: 5px;
      margin-bottom: 5px;
    }
    .blog-row {
      margin-bottom: 40px;
    }
    .blog-subtitle {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px;
      margin-top: 20px;
    }
    .blog-text {
      font-size: 18px;
      text-align: center;
      /*color: #a7a8a8;*/
      /*padding-top: 20px;*/
      padding-bottom: 20px;
    }
    .blog-pic {
      margin-bottom: 20px;
      height: auto;
      img {
        min-height: 0;
        height: auto;
        object-fit: contain;
      }
    }
    .blog-ul {
      margin-bottom: 20px;
      .blog-li {
        margin-bottom: 10px;
      }
    }
    .blog-btns {
      margin-bottom: 20px;
      .btn.blue-border {
        padding: 12px 50px;
        margin-right: 15px;
        margin-bottom: 15px;
      }
    }
    .other-row {
      margin-bottom: 40px;
      .blog-title {
        margin-bottom: 30px;
      }
    }
    .blog-other {
      margin-bottom: 40px;
      .blog-pic {
        height: 200px;
        img {
          height: 100%;
          object-fit: cover;
        }
      }
      .blog-link {
        margin-top: 20px;
        svg {
          margin-right: 10px;
          margin-left: 10px;
          fill: #155290;
          transform: rotate(180deg);
        }
        a {
          color: #155290;
          font-size: 14px;
          text-decoration: none !important;
          &:hover {
            color: #45679f;
          }
        }
      }
      .blog-subtitle {
        text-align: left;
      }
    }
  }
  .pagination-block {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}