.page-calc {
  padding-top: 100px;

  .style-block {
    .block-title {
      font-size: 40px;
      font-weight: 700;
      margin: 20px 0;
      text-align: center;
    }
    .style-picker-col {
      min-width: 230px;
    }
    .style-picker-wrap {
      margin-bottom: 20px;
      .picker-title {
        font-weight: 700;
        margin-bottom: 15px;
      }
    }
    .style-picker-pic {
      position: relative;
      /*display: none;*/
      display: flex;
      height: 100%;
      align-items: center;
      .img-wrap {
        position: absolute;
        height: auto;
      }
    }
  }
  .metric-block {
    padding-top: 40px;
    padding-bottom: 70px;

    .block-title {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .block-title-text {
      max-width: 520px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    .touchspin-wrap {
      display: flex;
      justify-content: center;

      .bootstrap-touchspin {
        display: inline-flex;
        width: auto;
      }
      .input-group-btn {
        align-items: center;
      }
      .btn {
        width: 30px;
        height: 30px;
        padding: 0;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #d3d3d3;
        color: #d3d3d3;
        font-weight: 500;
        font-size: 20px;
        &:hover {
          background-color: #155290;
          color: white;
        }
      }
      .form-control {
        background-color: transparent;
        border: none;
        box-shadow: none;
        font-size: 100px;
        width: 200px;
        text-align: center;
      }
      &.short {
        .form-control {
          width: 100px;
        }
      }
      &.blocked {
        opacity: 0.4;
        pointer-events: none;
      }
    }
    .touchspin-text {
      text-align: center;
      color: #848383;
      font-style: italic;
      margin-bottom: 10px;
    }
    .touchspin-other {
      label {
        color: #848383;
        font-style: italic;
      }
    }
    .metric-text {
      margin-top: 35px;
      padding-left: 30px;
      font-size: 15px;
      color: #848383;
    }
    .btn.blue-border {
      margin-top: 40px;
      margin-left: 30px;
      padding: 12px 45px;
    }
  }
  .option-block {
    .block-title {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }
    .block-subtitle {
      font-size: 18px;
      font-style: italic;
      margin-bottom: 10px;
    }
    .option-picker-wrap {
      margin-bottom: 20px;
    }
    .option-list {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        border-bottom: 1px dotted #C2C2C2;
        position: relative;
        padding: 0;
        margin-bottom: 5px;

        span {
          background-color: #FFF;
          margin: 0;
          bottom: -5px;

          &.option-name {
            position: relative;
            margin-right: 7em;
            padding-right: 2px;
          }
          &.option-price {
            position: absolute;
            right: 0;
            padding-left: 10px;
            &:after {
              content: ' р.';
              color: #848383;
            }
          }
          &.option-size {
            position: absolute;
            right: 100px;
            padding-left: 2px;
            padding-right: 2px;
          }
        }
        .checkbox {
          label {
            margin-bottom: 0;
            .cr {
              width: 18px;
              height: 18px;
              margin-right: 10px;
              bottom: -2px;
            }
            .cr-icon {
              font-size: 15px;
              line-height: 14px;
              width: 14px;
              top: 0;
            }
          }
        }
        .option-size {
          display: none;
          &.shown {
            display: block;
          }
        }
        .option-touchspin {
          .btn {
            background-color: transparent;
            color: black;
            padding: 0;
            text-align: center;
            border: 1px solid transparent;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            line-height: 1;
            transition: all .2s ease;
            &:hover {
              border: 1px solid #155290;
            }
          }
          .form-control {
            background-color: transparent;
            border: none;
            color: black;
            padding: 0;
            width: 40px;
            text-align: center;
          }
        }
        .option-img-wrap {
          bottom: -1px;
          position: relative;
          margin-top: 10px;
          .option-img {
            justify-content: start;
            height: auto;
            img {
              width: auto;
              object-fit: contain;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
  .result-block {
    padding-bottom: 30px;
    .block-title {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin-bottom: 20px;
    }
    .smeta-btn {
      font-weight: 700;
      font-size: 18px;
      transition: all .2s ease;
      &:hover {
        cursor: pointer;
        color: #155290;
      }
      &:after {
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        transform: rotate(135deg);
        width: 10px;
        height: 10px;
        transition: all .2s ease;
        content: '';
        margin-left: 15px;
        margin-bottom: -2px;
        display: inline-block;
      }
      &.collapsed {
        &:after {
          transition: all .2s ease;
          margin-bottom: 4px;
          transform: rotate(-45deg);
        }
      }
    }
    .smeta-text {
      font-size: 15px;
      color: #717172;
      width: 450px;
      padding-top: 8px;
    }
    .smeta-wrap {
      margin-bottom: 20px;
    }
    .calc-res-wrap {
      background-color: #145290;
      padding: 40px;
    }
    .calc-res-title {
      font-size: 16px;
      font-weight: 600;
      color: #fff;
    }
    .calc-res-value {
      font-size: 40px;
      font-weight: bold;
      color: #fff;
    }
    .calc-res-btn {
      padding: 12px 40px;
      margin-top: 70px;
    }
    .calc-res-link {
      color: #145290;
      font-size: 13px;
      font-weight: 600;
      text-decoration: none !important;
      transition: all .2s ease;
      i {
        font-size: 18px;
        margin-right: 5px;
        vertical-align: middle;
      }
      &:hover {
        color: #146eb8;
      }
    }
  }
  .dop-block {
    padding-bottom: 80px;
    .block-title {
      text-align: center;
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 40px;
    }
    .dop-pic {
      margin-bottom: 20px;
      &.pic-1 {
        height: calc(450px + 20px);
      }
      &.pic-2 {
        height: calc(450px / 3);
      }
      &.pic-3 {
        height: calc(450px / 3);
      }
      &.pic-4 {
        height: calc(450px / 3 * 2);
      }
    }

    .item-grid {
      padding-bottom: 30px;
    }
    .gallery-img-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      width: 100%;
      max-height: 200px;
      overflow: hidden;
      transition: all .2s ease;
      img {
        height: auto;
        object-fit: contain;
        width: 100%;
      }
      &:hover {

      }
    }
  }
  .status-block {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #fff;
    box-shadow: 0 1px 15px rgba(0, 0, 0, .3);
    transform: translateY(60px);
    transition: transform .3s;
    z-index: 29;
    &.shown {
      transform: translateY(0px);
    }

    .status-wrap {
      height: 60px;
      display: flex;
      align-items: center;
      &.right {
        justify-content: flex-end;
      }
    }
    .status-text {
      .title {
        font-size: 16px;
        font-weight: 600;
        color: #212529;
        margin-right: 7px;
      }
      .text {
        color: #145290;
        font-weight: 600;
        &.price {
          &:after {
            content: ' р.';
          }
        }
      }
    }
  }

}