.page-contacts {
  padding-top: 100px;

  .title-block {
    .block-title {
      margin: 15px 0;
      font-size: 40px;
      text-align: center;
      font-weight: 700;
    }
    .block-title-text {
      width: 100%;
      max-width: 750px;
      margin: 0 auto;
      font-size: 15px;
      text-align: center;
      color: #727272;
    }
  }
  .contact-block {
    padding-top: 50px;
    padding-bottom: 100px;
    .contact-form {
      .form-text {
        width: 100%;
        max-width: 300px;
        font-size: 13px;
        text-align: center;
        margin: 0 auto;
        color: #727272;
        padding-bottom: 30px;
      }
      .input-group {
        background-color: #fbfbfb;
        margin-bottom: 20px;
      }
      .input-group-text {
        border-radius: 0;
        border: none;
        border-bottom: 2px solid #ced4da;
        align-items: start;
      }
      .form-control {
        font-size: 15px;
        border-radius: 0;
        border: none;
        border-bottom: 2px solid #ced4da;
        background-color: #fbfbfb;
      }
      .btn.blue-border {
        padding: 10px 35px;
      }
    }
    .social-links-wrap {
      margin-top: 60px;
      .social-links {
        display: flex;
        align-items: center;
        .social-icon {
          display: inline-block;
          margin-right: 20px;
          i {
            color: #cdcdcd;
            font-size: 24px;
          }
        }
        .social-link {
          display: inline-block;
          color: black;
          font-size: 15px;
        }
      }
      .social-links-services {
        padding-left: 40px;
        padding-top: 10px;
        .link {
          color: #cdcdcd;
          transition: all .2s ease;
          font-size: 24px;
          margin-right: 6px;
          &:hover {
            color: #195091;
          }
        }
      }
    }
  }
}