.page-faq {
  padding-top: 100px;

  .faq-block {
    padding-top: 50px;
    padding-bottom: 70px;
  }
  .block-title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  .faq-btn {
    font-weight: 600;
    font-size: 18px;
    transition: all .2s ease;
    &:hover {
      cursor: pointer;
      color: #155290;
    }
    &:before {
      transition: all .2s ease;
      content: '-';
      margin-right: 15px;
      width: 20px;
      display: inline-block;
    }
    &.collapsed {
      &:before {
        transition: all .2s ease;
        content: '+';
      }
    }
  }
  .faq-text {
    font-size: 15px;
    color: #717172;
    padding-left: 100px;
    padding-top: 15px;
  }
  .faq-wrap {
    padding-bottom: 20px;
    border-bottom: 1px dashed #c6c6c6;
    margin-bottom: 20px;
  }
}