.page-gallery {
  padding-top: 140px;

  .gallery-block {
    .block-title {
      text-align: left;
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 30px;
    }
    .item-grid {
      padding-bottom: 30px;
    }
    .gallery-img-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      width: 100%;
      overflow: hidden;
      transition: all .2s ease;
      img {
        height: auto;
        object-fit: contain;
        width: 100%;
      }
      &:hover {

      }
    }
  }
  .pagination-block {
    padding-top: 30px;
    padding-bottom: 50px;
  }
}