.page-index {

  .intro-block {
    .block-bg {
      z-index: 1;
      position: absolute;
      l: 0;
      t: 0;
      width: 100%;
      height: 100vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
      }
    }
    .intro-wrap {
      height: 100vh;
      z-index: 2;
      position: relative;
    }
    .intro-text {
      padding-bottom: 100px;
      padding-left: 40px;
      max-width: 800px;

      .title {
        font-family: 'Fira Sans';
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
      }
      .text {
        margin-bottom: 40px;
        color: white;
        font-size: 14px;
      }
      .btn.blue {
        margin-right: 30px;
      }
      .btn.white-border {
        width: 195px;
      }
    }
  }

  .info-block {
    padding-top: 40px;
    padding-bottom: 70px;
    .block-title {
      margin-bottom: 30px;
      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }
    .text-wrap {
      padding-bottom: 30px;
    }
    .text-title {
      margin-bottom: 10px;
      font-size: 18px;
      font-weight: 600;
      &:before {
        content: ' • ';
        color: #155290;
      }
    }
    .text {
      font-size: 15px;
      color: #717172;
    }
    .btn.blue-border {
      margin-top: 25px;
      width: 250px;
    }
  }

  .stepper-block {
    background: url("../img/pics/bg_step.jpg") no-repeat;
    background-position: center;
    background-size: cover;

    .stepper-wrap {
      padding: 105px 0 110px 0;
    }
    .step-pic {
      svg {
        width: 100%;
        height: 115px;
      }
    }
    .step-text {
      margin-top: 10px;
      color: white;
      line-height: 1.3;
      font-size: 15px;
    }
  }

  .style-block {
    padding-top: 50px;

    .block-title {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 40px;
    }
    .intro-link {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 4;
      left: 0;
      &:hover + .block-bg .shadow-bg {
        background-color: transparent;
      }
      &.active + .block-bg .shadow-bg {
        background-color: transparent;
      }
    }
    .block-bg {
      position: absolute;
      l: 0;
      t: 0;
      width: 100%;
      height: 100vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
      }
      .shadow-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 3;
        transition: all .15s ease;
      }
    }
    .intro-wrap {
      height: 100vh;
      z-index: 2;
      position: relative;
    }
    .intro-text {
      padding-bottom: 40px;
      padding-left: 40px;
      max-width: 800px;

      .title {
        font-family: 'Fira Sans';
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
      }
      .text {
        margin-bottom: 40px;
        color: white;
        font-size: 18px;
      }
    }
  }

  .blog-block {
    padding-top: 60px;

    .block-title {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 45px;
    }
    .blog-row {
      padding-bottom: 50px;
    }
    .blog-pic {
      img {
        object-fit: contain;
      }
    }
    .blog-desc {
      padding-top: 60px;
      .desc-title {
        font-size: 25px;
        font-weight: 700;
      }
      .desc-subtitle {
        font-size: 14px;
        color: #155290;
      }
      .desc-text {
        max-height: 240px;
        margin-top: 25px;
        color: #717172;
        font-size: 15px;
      }
      .desc-link {
        margin-top: 50px;
        svg {
          margin-right: 10px;
          fill: #155290;
          &.rotate {
            transform: rotate(180deg);
            margin-left: 10px;
          }
        }
        a {
          color: #155290;
          font-size: 14px;
          text-decoration: none !important;
          &:hover {
            color: #45679f;
          }
        }
      }
    }
  }

  .review-block {
    padding-top: 50px;
    padding-bottom: 50px;

    .block-title {
      font-size: 24px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 40px;
    }
    .review-wrap {
      padding: 0 20px;
      padding-bottom: 50px;
    }
    .review-inner {
      height: 290px;
      border: 2px solid #e8e8e8;
      padding: 45px 20px 0;
    }
    .review-svg {
      fill: #155290;
    }
    .review-text {
      height: 110px;
      overflow: hidden;
      color: #7d7e7e;
      font-size: 15px;
      margin-bottom: 40px;
    }
    .review-who {
      margin-bottom: 20px;
    }
    .review-name {
      font-size: 18px;
      font-weight: 600;
    }
    .review-about {
      color: #7d7e7e;
      font-size: 14px;
    }
    .review-pic {
      display: flex;
      align-items: center;
      position: absolute;
      bottom: -30px;
      right: 0;
      width: 100px;
      height: 100px;
      z-index: 2;
      img {
        max-height: 100%;
        border-radius: 50%;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .slider-block {
    padding-bottom: 40px;
    .block-title {
      text-align: center;
      font-size: 26px;
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 30px;
    }
    .slider-wrap {
    }
    .swiper-container {
      width: 100%;
      height: 580px;
      padding-top: 0px;
      padding-bottom: 35px;
    }
    .swiper-slide {
      display: flex;
      text-align: center;
      font-size: 18px;
      background: #fff;
      justify-content: center;
      align-items: center;
      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }
    .swiper-pagination {
      bottom: 70px;
      .swiper-pagination-bullet-active {
        background: black;
      }
    }
    .text-wrap {
      margin-bottom: 20px;
      .text-title {
        font-size: 18px;
        font-weight: 600;
        i {
          font-size: 24px;
          color: #155290;
          margin-right: 7px;
        }
      }
    }
  }

  .metric-block {
    padding-bottom: 70px;

    .block-title {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
    }
    .touchspin-wrap {
      display: flex;
      justify-content: center;

      .bootstrap-touchspin {
        display: inline-flex;
        width: auto;
      }
      .input-group-btn {
        align-items: center;
      }
      .btn {
        width: 30px;
        height: 30px;
        padding: 0;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #d3d3d3;
        color: #d3d3d3;
        font-weight: 500;
        font-size: 20px;
        &:hover {
          background-color: #155290;
          color: white;
        }
      }
      .form-control {
        background-color: transparent;
        border: none;
        box-shadow: none;
        font-size: 100px;
        width: 200px;
        text-align: center;
      }
      &.short {
        .form-control {
          width: 100px;
        }
      }
    }
    .touchspin-text {
      text-align: center;
      color: #848383;
      font-style: italic;
      margin-bottom: 10px;
    }
    .touchspin-other {
      label {
        color: #848383;
        font-style: italic;
      }
    }
    .metric-text {
      margin-top: 35px;
      padding-left: 30px;
      font-size: 15px;
      color: #848383;
    }
    .btn.blue-border {
      margin-top: 40px;
      margin-left: 30px;
      padding: 12px 45px;
    }
  }
}