.page-principles {
  padding-top: 100px;

  .slider-block {
    .block-title {
      text-align: center;
      font-size: 42px;
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 30px;
    }
    .slider-wrap {
    }
    .swiper-container {
      width: 100%;
      height: 580px;
      padding-top: 0px;
      padding-bottom: 35px;
    }
    .swiper-slide {
      display: flex;
      text-align: center;
      font-size: 18px;
      background: #fff;
      justify-content: center;
      align-items: center;
      img {
        object-fit: contain;
        height: 100%;
        width: 100%;
      }
    }
    .swiper-pagination {
      bottom: 70px;
      .swiper-pagination-bullet-active {
        background: black;
      }
    }
    .text-wrap {
      margin-bottom: 20px;
      .text-title {
        font-size: 18px;
        font-weight: 600;
        &:before {
          content: ' • ';
          color: #155290;
        }
      }
      .text {
        font-size: 15px;
        color: #717172;
      }
    }
  }

  .stepper-block {
    padding-top: 30px;
    .block-title {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 40px;
    }
    .stepper-wrap {
    }
    .step-pic {
      svg {
        width: 100%;
        height: 115px;
      }
    }
    .step-text {
      margin-top: 10px;
      color: black;
      line-height: 1.3;
      font-size: 15px;
    }
  }

  .blog-block {
    padding-top: 60px;

    .blog-row {
      padding-bottom: 50px;
    }
    .blog-pic {
      img {
        object-fit: contain;
      }
    }
    .blog-desc {
      padding-top: 25px;
      .desc-title {
        font-size: 25px;
        font-weight: 700;
      }
      .desc-text {
        margin-top: 25px;
        color: #717172;
        font-size: 16px;
      }
    }
  }

  .metric-block {
    padding-top: 40px;
    padding-bottom: 70px;

    .block-title {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .block-title-text {
      max-width: 520px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    .touchspin-wrap {
      display: flex;
      justify-content: center;

      .bootstrap-touchspin {
        display: inline-flex;
        width: auto;
      }
      .input-group-btn {
        align-items: center;
      }
      .btn {
        width: 30px;
        height: 30px;
        padding: 0;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #d3d3d3;
        color: #d3d3d3;
        font-weight: 500;
        font-size: 20px;
        &:hover {
          background-color: #155290;
          color: white;
        }
      }
      .form-control {
        background-color: transparent;
        border: none;
        box-shadow: none;
        font-size: 100px;
        width: 200px;
        text-align: center;
      }
      &.short {
        .form-control {
          width: 100px;
        }
      }
    }
    .touchspin-text {
      text-align: center;
      color: #848383;
      font-style: italic;
      margin-bottom: 10px;
    }
    .touchspin-other {
      label {
        color: #848383;
        font-style: italic;
      }
    }
    .metric-text {
      margin-top: 35px;
      padding-left: 30px;
      font-size: 15px;
      color: #848383;
    }
    .btn.blue-border {
      margin-top: 40px;
      margin-left: 30px;
      padding: 12px 45px;
    }
  }
}