.page-style {

  .intro-block {
    .intro-link {
      position: absolute;
      width: 100%;
      height: 100%;
      display: block;
      z-index: 4;
      left: 0;
      &:hover + .block-bg .shadow-bg {
        background-color: transparent;
      }
      &.active + .block-bg .shadow-bg {
        background-color: transparent;
      }
    }
    .block-bg {
      position: absolute;
      l: 0;
      t: 0;
      width: 100%;
      height: 100vh;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        pointer-events: none;
      }
      .shadow-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 3;
        transition: all .15s ease;
      }
    }
    .intro-wrap {
      height: 100vh;
      z-index: 2;
      position: relative;
    }
    .intro-text {
      padding-bottom: 40px;
      padding-left: 40px;
      max-width: 800px;

      .title {
        font-family: 'Fira Sans';
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
      }
      .text {
        margin-bottom: 40px;
        color: white;
        font-size: 18px;
      }
    }
  }

  .blog-block {
    padding-top: 50px;

    .block-title {
      text-align: center;
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 40px;
    }
    .block-title-text {
      margin-bottom: 30px;
    }
    .block-title-pic {
      padding-top: 40px;
      padding-bottom: 70px;
    }
    .blog-row {
      padding-bottom: 80px;
    }
    .blog-pic {
      img {
        object-fit: contain;
      }
    }
    .blog-desc {
      padding-top: 25px;
      .desc-title {
        font-size: 25px;
        font-weight: 700;
      }
      .desc-text {
        margin-top: 25px;
        color: #717172;
        font-size: 16px;
      }
      .btn.blue-border {
        margin-top: 30px;
        padding: 12px 50px;
      }
    }
  }

  .dop-block {
    .block-title {
      text-align: center;
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 40px;
    }
    .dop-pic {
      margin-bottom: 20px;
      &.pic-1 {
        height: calc(450px + 20px);
      }
      &.pic-2 {
        height: calc(450px / 3);
      }
      &.pic-3 {
        height: calc(450px / 3);
      }
      &.pic-4 {
        height: calc(450px / 3 * 2);
      }
    }

    .item-grid {
      padding-bottom: 30px;
    }
    .gallery-img-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: auto;
      width: 100%;
      max-height: 200px;
      overflow: hidden;
      transition: all .2s ease;
      img {
        height: auto;
        object-fit: contain;
        width: 100%;
      }
      &:hover {

      }
    }
  }

  .metric-block {
    padding-top: 40px;
    padding-bottom: 70px;

    .block-title {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 10px;
    }
    .block-title-text {
      max-width: 520px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 10px;
    }
    .touchspin-wrap {
      display: flex;
      justify-content: center;

      .bootstrap-touchspin {
        display: inline-flex;
        width: auto;
      }
      .input-group-btn {
        align-items: center;
      }
      .btn {
        width: 30px;
        height: 30px;
        padding: 0;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid #d3d3d3;
        color: #d3d3d3;
        font-weight: 500;
        font-size: 20px;
        &:hover {
          background-color: #155290;
          color: white;
        }
      }
      .form-control {
        background-color: transparent;
        border: none;
        box-shadow: none;
        font-size: 100px;
        width: 200px;
        text-align: center;
      }
      &.short {
        .form-control {
          width: 100px;
        }
      }
    }
    .touchspin-text {
      text-align: center;
      color: #848383;
      font-style: italic;
      margin-bottom: 10px;
    }
    .touchspin-other {
      label {
        color: #848383;
        font-style: italic;
      }
    }
    .metric-text {
      margin-top: 35px;
      padding-left: 30px;
      font-size: 15px;
      color: #848383;
    }
    .btn.blue-border {
      margin-top: 40px;
      margin-left: 30px;
      padding: 12px 45px;
    }
  }
}