block footer
  footer
    .container
      .row
        .col-lg-3.col-12
          .footer-logo
            a.footer-logo-link(href="index.html")
              img(src="img/pics/Logo_white.png")
          .footer-about
            | Занимайтесь любыми делами, <br> а ремонт мы возьмём на себя.
        .col-lg-2.col-md-3.col-sm-6
          .footer-links
            .footer-links-header
              | Стили
            a.footer-link(href="#") Скандинавский стиль
            a.footer-link(href="#") Классический стиль
            a.footer-link(href="#") Эко-стиль
        .col-lg-2.col-md-3.col-sm-6
          .footer-links
            .footer-links-header
              | О нас
            a.footer-link(href="#") Принципы работы
            a.footer-link(href="#") Контакты
            a.footer-link(href="#") Частые вопросы
            a.footer-link(href="#") Фотогалерея
            a.footer-link(href="#") Блог
        .col-lg-2.col-md-2.col-sm-6
          .footer-links
            .footer-links-header
              | Стоимость
            a.footer-link(href="#") Калькулятор
        .col-lg-3.col-md-4.col-sm-6
          .footer-social
            .social-wrap
              .social-icon
                i.mdi.mdi-forum-outline
              a.social-link(href="tel:89991645421") +7 (999) 164-54-21
            .social-wrap
              .social-icon
                i.mdi.mdi-email-outline
              a.social-link(href="mailto:info@info.ru") info@info.ru
            .social-wrap
              .social-icon
                i.mdi.mdi-map-marker
              .social-link Нижний Новгород, <br> ул. Пушкина, д.666
            .social-links
              a.link(href="#")
                i.mdi.mdi-vk
              a.link(href="#")
                i.mdi.mdi-pinterest
              a.link(href="#")
                i.mdi.mdi-instagram
              a.link(href="#")
                i.mdi.mdi-facebook
              a.link(href="#")
                i.mdi.mdi-youtube-play





