block header
  header
    .container
      .row.justify-content-between
        .col-auto
          .header-logo
            a.header-logo-link(href="index.html")
        .col-auto
          .header-menu-btn
            span.icon-bar
            span.icon-bar
            span.icon-bar
            span.icon-bar
      .header-menu
        .overlay
        .menu-wrap
          .menu-inner#header-scroll
            .menu-links-wrap
              .menu-links
                a.menu-link(href="index.html") Главная
              .menu-links
                .menu-cat Стили
                a.menu-link(href="style.html") Скандинавский стиль
                a.menu-link(href="style.html") Классический стиль
                a.menu-link(href="style.html") Эко-стиль
              .menu-links
                .menu-cat Стоимость
                a.menu-link(href="calc.html") Калькулятор
              .menu-links
                .menu-cat О нас
                a.menu-link(href="principles.html") Принципы работы
                a.menu-link(href="contacts.html") Контакты
                a.menu-link(href="faq.html") Частые вопросы
                a.menu-link(href="gallery.html") Фотогалерея
                a.menu-link(href="blog.html") Блог
            .social-links-wrap
              .social-links
                .social-icon
                  i.mdi.mdi-phone-in-talk
                a.social-link(href="tel:89991645421") +7 (999) 164-54-21
              .social-links
                .social-icon
                  i.mdi.mdi-email-outline
                a.social-link(href="mailto:info@info.ru") info@info.ru
              .social-links-services
                a.link(href="#")
                  i.mdi.mdi-vk
                a.link(href="#")
                  i.mdi.mdi-pinterest
                a.link(href="#")
                  i.mdi.mdi-instagram
                a.link(href="#")
                  i.mdi.mdi-facebook
                a.link(href="#")
                  i.mdi.mdi-youtube-play

