doctype html
html(lang='ru')
  head
    include head

  body
    include preloader

    include header
    block content
    include footer

    include scripts
    script(type='text/javascript', src='js/main.js')
    script(type='text/javascript', src='js/custom.js')