block scripts
  script(type='text/javascript', src='js/jquery.min.js')
  script(type='text/javascript', src='js/bootstrap.min.js')
  script(type='text/javascript', src='js/imgLiquid-min.js')
  script(type='text/javascript', src='js/perfect-scrollbar.min.js')
  script(type='text/javascript', src='js/jquery.dotdotdot.js')