extends components/layout

block content
  main.page-blog_detail

    section.breadcrumb-block
      .container
        .row
          .col
            nav.breadcrumb-wrap
              ol.breadcrumb
                li.breadcrumb-item
                  a(href='#') Главная
                li.breadcrumb-item
                  a(href='#') Блог
                li.breadcrumb-item.active Блог детальная

    section.blog-block
      .container
        .row
          .col
            .blog-tag
              .tag # Название тега 1
              .tag # Название тега 2
              .tag # Название тега N
            .blog-title
              | Заголовок блога детальная
            .blog-date
              | 15 февраля 2018
            .blog-row.row.justify-content-center
              .col-12
                .blog-subtitle
                  | Lorem ipsum dolor sit amet
              .col-xl-9.col-lg-10
                .blog-pic.img-wrap
                  img(src="img/pics/options_4.jpg")
              .col-xl-10
                .blog-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deserunt inventore laudantium
                  | nesciunt omnis quod ullam vel, velit voluptate voluptates! Amet dignissimos minus perferendis
                  | praesentium voluptatibus. A aliquid ea iure.
                .blog-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deserunt inventore laudantium
                  | nesciunt omnis quod ullam vel, velit voluptate voluptates! Amet dignissimos minus perferendis
                  | praesentium voluptatibus. A aliquid ea iure.
              .col-12
                .blog-subtitle
                  | Lorem ipsum dolor sit amet
              .col-xl-7.col-lg-9.col-md-10
                ul.blog-ul
                  li.blog-li
                    | Lorem 123212321
                  li.blog-li
                    | Lorem 123212321
                  li.blog-li
                    | Lorem 123212321
                  li.blog-li
                    | Lorem 123212321
                  li.blog-li
                    | Lorem 123212321
              .col-xl-9.col-lg-10
                .blog-pic.img-wrap
                  img(src="img/pics/options_4.jpg")
              .col-xl-10.col-lg-10
                .blog-btns
                  a.btn.blue-border(href="blog_detail.html") Подробнее
                  a.btn.blue-border(href="blog_detail.html") Ссылка 1
                  a.btn.blue-border(href="blog_detail.html") Подробнее
                  a.btn.blue-border(href="blog_detail.html") Другая страница 234
            .other-row.row
              .col-12.blog-title
                | Другие идеи, <br> которые могли бы вам понравиться
              .col-xl-4.col-lg-4.offset-lg-0.col-md-10.offset-md-1.col-12
                .blog-other
                  .blog-pic.img-wrap
                    img(src="img/pics/options_1.jpg")
                  .blog-subtitle
                    | Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
                  .blog-link
                    a(href="#")
                      | Узнать больше
                    svg(xmlns='http://www.w3.org/2000/svg', width='28.97', height='9', viewbox='0 0 28.97 9')
                      path.cls-1(data-name='Forma 1 copy', d='M1135.25,2554.13a0.459,0.459,0,0,1,.65,0,0.447,0.447,0,0,1,0,.64l-3.32,3.27h26.96a0.45,0.45,0,0,1,.46.45,0.459,0.459,0,0,1-.46.46h-26.96l3.32,3.27a0.447,0.447,0,0,1,0,.64,0.459,0.459,0,0,1-.65,0l-4.11-4.05a0.419,0.419,0,0,1,0-.63Z', transform='translate(-1131.03 -2554)')
              .col-xl-4.col-lg-4.offset-lg-0.col-md-10.offset-md-1.col-12
                .blog-other
                  .blog-pic.img-wrap
                    img(src="img/pics/options_2.jpg")
                  .blog-subtitle
                    | Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
                  .blog-link
                    a(href="#")
                      | Узнать больше
                    svg(xmlns='http://www.w3.org/2000/svg', width='28.97', height='9', viewbox='0 0 28.97 9')
                      path.cls-1(data-name='Forma 1 copy', d='M1135.25,2554.13a0.459,0.459,0,0,1,.65,0,0.447,0.447,0,0,1,0,.64l-3.32,3.27h26.96a0.45,0.45,0,0,1,.46.45,0.459,0.459,0,0,1-.46.46h-26.96l3.32,3.27a0.447,0.447,0,0,1,0,.64,0.459,0.459,0,0,1-.65,0l-4.11-4.05a0.419,0.419,0,0,1,0-.63Z', transform='translate(-1131.03 -2554)')
              .col-xl-4.col-lg-4.offset-lg-0.col-md-10.offset-md-1.col-12
                .blog-other
                  .blog-pic.img-wrap
                    img(src="img/pics/options_4.jpg")
                  .blog-subtitle
                    | Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
                  .blog-link
                    a(href="#")
                      | Узнать больше
                    svg(xmlns='http://www.w3.org/2000/svg', width='28.97', height='9', viewbox='0 0 28.97 9')
                      path.cls-1(data-name='Forma 1 copy', d='M1135.25,2554.13a0.459,0.459,0,0,1,.65,0,0.447,0.447,0,0,1,0,.64l-3.32,3.27h26.96a0.45,0.45,0,0,1,.46.45,0.459,0.459,0,0,1-.46.46h-26.96l3.32,3.27a0.447,0.447,0,0,1,0,.64,0.459,0.459,0,0,1-.65,0l-4.11-4.05a0.419,0.419,0,0,1,0-.63Z', transform='translate(-1131.03 -2554)')




