extends components/layout

block content
  main.page-blog

    section.breadcrumb-block
      .container
        .row
          .col
            nav.breadcrumb-wrap
              ol.breadcrumb
                li.breadcrumb-item
                  a(href='#') Главная
                li.breadcrumb-item.active Блог

    section.blog-block
      .container
        .row
          .col
            .block-title
              | Блог
        .row
          .col
            .blog-wrap
              .blog-tag
                .tag # Название тега 1
                .tag # Название тега 2
                .tag # Название тега N
              .blog-title
                | Заголовок для Блога 1
              .blog-date
                | 15 февраля 2018
              .row.blog-row
                .col-lg-6
                  .blog-pic.img-wrap
                    img(src="img/pics/options_4.jpg")
                .col-lg-6
                  .blog-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deserunt inventore laudantium
                    | nesciunt omnis quod ullam vel, velit voluptate voluptates! Amet dignissimos minus perferendis
                    | praesentium voluptatibus. A aliquid ea iure.
                  a.btn.blue-border(href="blog_detail.html") Подробнее

        .row
          .col
            .blog-wrap
              .blog-tag
                .tag # Название тега 1
                .tag # Название тега 2
                .tag # Название тега N
              .blog-title
                | Заголовок для Блога 1
              .blog-date
                | 15 февраля 2018
              .row.blog-row
                .col-lg-6
                  .blog-pic.img-wrap
                    img(src="img/pics/options_2.jpg")
                .col-lg-6
                  .blog-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deserunt inventore laudantium
                    | nesciunt omnis quod ullam vel, velit voluptate voluptates! Amet dignissimos minus perferendis
                    | praesentium voluptatibus. A aliquid ea iure.
                  a.btn.blue-border(href="blog_detail.html") Подробнее

        .row
          .col
            .blog-wrap
              .blog-tag
                .tag Название тега 1
                .tag Название тега 2
                .tag Название тега N
              .blog-title
                | Заголовок для Блога 1
              .blog-date
                | 15 февраля 2018
              .row.blog-row
                .col-lg-6
                  .blog-pic.img-wrap
                    img(src="img/pics/options_1.jpg")
                .col-lg-6
                  .blog-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad deserunt inventore laudantium
                    | nesciunt omnis quod ullam vel, velit voluptate voluptates! Amet dignissimos minus perferendis
                    | praesentium voluptatibus. A aliquid ea iure.
                  a.btn.blue-border(href="blog_detail.html") Подробнее

    section.pagination-block
      .container
        .row
          .col
            nav.pagination-wrap
              ul.pagination
                li.page-item.disabled
                  span
                    span.page-span
                      i.mdi.mdi-chevron-double-left
                li.page-item.disabled
                  span
                    span.page-span
                      i.mdi.mdi-chevron-left
                li.page-item.active
                  a.page-link(href='#') 1
                li.page-item
                  a.page-link(href='#') 2
                li.page-item.disabled
                  span
                    span.page-span
                      i.mdi.mdi-dots-horizontal
                li.page-item
                  a.page-link(href='#') 99
                li.page-item
                  a.page-link(href='#')
                    span.page-span
                      i.mdi.mdi-chevron-right
                li.page-item
                  a.page-link(href='#')
                    span.page-span
                      i.mdi.mdi-chevron-double-right





