extends components/layout

append head
  link(rel='stylesheet', type='text/css', href='css/jquery.bootstrap-touchspin.min.css')
  link(rel='stylesheet', type='text/css', href='css/jquery.fancybox.min.css')
append scripts
  script(type='text/javascript', src='js/jquery.bootstrap-touchspin.min.js')
  script(type='text/javascript', src='js/masonry.min.js')
  script(type='text/javascript', src='js/jquery.fancybox.min.js')
  script(type='text/javascript', src='js/calc.js')

block content
  main.page-calc

    section.style-block
      .container
        .row
          .col-12
            .block-title
              | Калькулятор ремонта
        .row
          .style-picker-col.col-xl-2.col-lg-2.col-md-3.col-12
            .style-picker-wrap.picker-style
              .picker-title
                | Выбор стиля
              .picker-radio.radiobox
                label
                  input(type='radio', name="style_picker_radio_1", value='1', checked)
                  span.cr
                    i.cr-icon.mdi.mdi-circle
                  span.text Классический
              .picker-radio.radiobox
                label
                  input(type='radio', name="style_picker_radio_1", value='2')
                  span.cr
                    i.cr-icon.mdi.mdi-circle
                  span.text Скандинавский
              .picker-radio.radiobox
                label
                  input(type='radio', name="style_picker_radio_1", value='3')
                  span.cr
                    i.cr-icon.mdi.mdi-circle
                  span.text Эко-стиль
            .style-picker-wrap.picker-wall
              .picker-title
                | Стены
              .picker-radio.radiobox
                label
                  input(type='radio', name="style_picker_radio_2", value='1', checked)
                  span.cr
                    i.cr-icon.mdi.mdi-circle
                  span.text Слоновая кость
              .picker-radio.radiobox
                label
                  input(type='radio', name="style_picker_radio_2", value='2')
                  span.cr
                    i.cr-icon.mdi.mdi-circle
                  span.text Пастельно-синий
              .picker-radio.radiobox
                label
                  input(type='radio', name="style_picker_radio_2", value='3')
                  span.cr
                    i.cr-icon.mdi.mdi-circle
                  span.text Оливковый
            .style-picker-wrap.picker-material
              .picker-title
                | Материал пола
              .picker-radio.radiobox
                label
                  input(type='radio', name="style_picker_radio_3", value='1', checked)
                  span.cr
                    i.cr-icon.mdi.mdi-circle
                  span.text Паркетная доска
              .picker-radio.radiobox
                label
                  input(type='radio', name="style_picker_radio_3", value='2')
                  span.cr
                    i.cr-icon.mdi.mdi-circle
                  span.text Ламинат
            .style-picker-wrap.picker-floor
              .picker-title
                | Пол
              .picker-radio.radiobox
                label
                  input(type='radio', name="style_picker_radio_4", value='1', checked)
                  span.cr
                    i.cr-icon.mdi.mdi-circle
                  span.text Венге
              .picker-radio.radiobox
                label
                  input(type='radio', name="style_picker_radio_4", value='2')
                  span.cr
                    i.cr-icon.mdi.mdi-circle
                  span.text Светлое дерево
          .col-md.col-12
            .style-picker-pic
              .img-wrap.bg
                img(src="/img/calc/1/bg.png", alt="")
              .img-wrap.wall
                img(src="/img/calc/1/wall/1.png", alt="")
              .img-wrap.floor
                img(src="/img/calc/1/floor/1/1.png", alt="")

    section.metric-block
      .container
        .row
          .col
            .block-title
              | Метрики
        form
          .row
            .col-xl-4.col-lg-4.col-md-7
              .touchspin-wrap
                input(type="text", value="100", name="num_1", readonly)
              .touchspin-text
                | площадь квартиры, м²
            .col-xl-2.col-lg-3.col-md-5
              .touchspin-wrap.short
                input(type="text", value="4", name="num_2", readonly)
              .touchspin-text
                | количество комнат
              .touchspin-other
                .checkbox.text-center
                  label
                    input(type="checkbox", value)
                    span.cr
                      i.cr-icon.mdi.mdi-check
                    | Студия
            .col-xl-6.col-lg-5.col-12
              .metric-text
                | Стоимость ремонта рассчитывается из двух частей - базовой стоимости и дополнительных оций.
                | Дополнительные оции оплачиваются отдельно и предоставлены на ваш выбор.
                | Базовая стоимость зависит только от площади и параметров квартиры, и не может быть изменена, в неё входит:

    section.option-block
      .container
        .row.justify-content-center
          .col-12
            .block-title
              | Дополнительные опции
          .col-xl-10
            .option-picker-wrap
              ul.option-list
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Теплый пол (одно помещение)
                  span.option-size
                    .option-touchspin
                      input(type="text", value="", name="option_size[]", readonly)
                  span.option-price 15000
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Керамический пол на кухне/в прихожей (одно помещение)
                  span.option-size
                    .option-touchspin
                      input(type="text", value="", name="option_size[]", readonly)
                  span.option-price 9000
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Кухонный фартук
                  span.option-price 9000
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Подвесной унитаз
                  span.option-price 25000
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Гигиенический душ
                  span.option-price 6000
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Система защиты от протечек NEPTUN, шт.
                  span.option-size
                    .option-touchspin
                      input(type="text", value="", name="option_size[]", readonly)
                  span.option-price 31000
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Полотенцесушитель
                  span.option-price 11000
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Водонакопительный прибор
                  span.option-price 13000
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Вентилятор в санузел
                  span.option-price 3500
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Входная дверь TORREX
                  span.option-price 44000
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Укладка террасного настила ИКЕА Руннен на балконе, м²
                  span.option-size
                    .option-touchspin
                      input(type="text", value="", name="option_size[]", readonly)
                  span.option-price 14000
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Акцентная стена с декоративными обоями (5 п м)
                  span.option-size
                    .option-touchspin
                      input(type="text", value="", name="option_size[]", readonly)
                  span.option-price 10000
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Укладка плитки на балконе, м²
                  span.option-size
                    .option-touchspin
                      input(type="text", value="", name="option_size[]", readonly)
                  span.option-price 12000
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Шторы (ИКЕА)
                  span.option-size
                    .option-touchspin
                      input(type="text", value="", name="option_size[]", readonly)
                  span.option-price 8000
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Объединение санузлов
                  span.option-price 15000
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Ковролин в спальне
                  span.option-price 30000
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Декоративная штукатурка
                  span.option-price 73000
          .col-xl-10
            .block-subtitle
              | Замена окон
          .col-xl-10
            .option-picker-wrap
              ul.option-list
                li
                  span.option-name.checkbox
                    label(data-toggle="collapse", data-target="#option-img-1")
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Одностворчатое окно
                  span.option-price 15000
                  .option-img-wrap#option-img-1.collapse
                    .option-img.img-wrap
                      img(src="img/window/wn_1.png")
                li
                  span.option-name.checkbox
                    label(data-toggle="collapse", data-target="#option-img-2")
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Двустворчатое окно
                  span.option-price 18500
                  .option-img-wrap#option-img-2.collapse
                    .option-img.img-wrap
                      img(src="img/window/wn_2.png")
                li
                  span.option-name.checkbox
                    label(data-toggle="collapse", data-target="#option-img-3")
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Трехстворчатое окно
                  span.option-price 28000
                  .option-img-wrap#option-img-3.collapse
                    .option-img.img-wrap
                      img(src="img/window/wn_3.png")
                li
                  span.option-name.checkbox
                    label(data-toggle="collapse", data-target="#option-img-4")
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Балконная дверь с окном
                  span.option-price 34000
                  .option-img-wrap#option-img-4.collapse
                    .option-img.img-wrap
                      img(src="img/window/wn_4.png")
                li
                  span.option-name.checkbox
                    label(data-toggle="collapse", data-target="#option-img-5")
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | эркер, пятистворчатое окно
                  span.option-price 48000
                  .option-img-wrap#option-img-5.collapse
                    .option-img.img-wrap
                      img(src="img/window/wn_5.png")
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Замена радиатора, шт.
                  span.option-size
                    .option-touchspin
                      input(type="text", value="", name="window_size[]", readonly)
                  span.option-price 16500
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Установка кондиционеров, шт.
                  span.option-size
                    .option-touchspin
                      input(type="text", value="", name="window_size[]", readonly)
                  span.option-price 51000
          .col-12
            .block-title
              | Капитальный ремонт
          .col-xl-10
            .option-picker-wrap
              ul.option-list
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Разводка электропроводки
                  span.option-price 105000
                li
                  span.option-name.checkbox
                    label
                      input(type="checkbox", value)
                      span.cr
                        i.cr-icon.mdi.mdi-check
                      | Возведение внутренних перегородок
                  span.option-price 80000

    section.result-block
      .container
        .row.justify-content-center
          .col-12
            .block-title
              | Итоговая смета
          .col-12
            .row
              .col-xl-7.offset-xl-1.col-lg-7.col-12
                #accordion.accordion
                  .smeta-wrap
                    .smeta-title
                      .smeta-btn.collapsed(data-toggle='collapse', data-target='#collapse1')
                        | Базовый ремонт
                    #collapse1.collapse.row
                      .smeta-text.col-md-6.col-12
                        | Anim pariatur cliche reprehenderit.
                      .smeta-text.col-md-6.col-12
                        | Anim pariatur cliche reprehenderit.
                      .smeta-text.col-md-6.col-12
                        | Anim pariatur cliche reprehenderit.
                      .smeta-text.col-md-6.col-12
                        | Anim pariatur cliche reprehenderit.
                      .smeta-text.col-md-6.col-12
                        | Anim pariatur cliche reprehenderit.
                      .smeta-text.col-md-6.col-12
                        | Anim pariatur cliche reprehenderit.

                  .smeta-wrap
                    .smeta-title
                      .smeta-btn.collapsed(data-toggle='collapse', data-target='#collapse2')
                        | Капитальный ремонт
                    #collapse2.collapse.row
                      .smeta-text.col-md-6.col-12
                        | Anim pariatur cliche reprehenderit.
                      .smeta-text.col-md-6.col-12
                        | Anim pariatur cliche reprehenderit.
                      .smeta-text.col-md-6.col-12
                        | Anim pariatur cliche reprehenderit.
                      .smeta-text.col-md-6.col-12
                        | Anim pariatur cliche reprehenderit.
                      .smeta-text.col-md-6.col-12
                        | Anim pariatur cliche reprehenderit.

                  .smeta-wrap
                    .smeta-title
                      .smeta-btn.collapsed(data-toggle='collapse', data-target='#collapse3')
                        | Дополнительные опции
                    #collapse3.collapse.row
                      .smeta-text.col-md-6.col-12
                        | Anim pariatur cliche reprehenderit.
                      .smeta-text.col-md-6.col-12
                        | Anim pariatur cliche reprehenderit.
                      .smeta-text.col-md-6.col-12
                        | Anim pariatur cliche reprehenderit.
                      .smeta-text.col-md-6.col-12
                        | Anim pariatur cliche reprehenderit.
                      .smeta-text.col-md-6.col-12
                        | Anim pariatur cliche reprehenderit.
              .col-xl-4.offset-lg-0.col-lg-5.offset-md-6.col-md-6.col-12
                .row
                  .col-12
                    .calc-res-wrap
                      .calc-res-title
                        | Итого
                      .calc-res-value
                        | 1 000 000
                      a.calc-res-btn.btn.white-border(href="#", data-toggle="modal", data-target="#orderCalcModal") Оформить заявку

                      #orderCalcModal.modal.fade(tabindex='-1', role='dialog')
                        .modal-dialog.modal-dialog-centered
                          .modal-content
                            form
                              .modal-header
                                .modal-title Оформить заявку
                                button.close(type='button', data-dismiss='modal')
                                  span ×
                              .modal-body
                                .form-group
                                  label(for='fioInputOrderModal') ФИО:
                                  input#fioInputOrderModal.form-control(type='text', placeholder='Введите ваше ФИО')
                                .form-group
                                  label(for='emailInputCalcModal') Email:
                                  input#emailInputOrderModal.form-control(type='email', placeholder='Введите ваш Email')
                                .form-group
                                  label(for='commentInputOrderModal') Комментарий к заказу:
                                  textarea#commentInputOrderModal.form-control(rows='6', placeholder='Опишите детали заказа...')
                              .modal-footer
                                button.btn.blue(type='button') Отправить

                .row.justify-content-between
                  .col-auto
                    a.calc-res-link(href='#')
                      i.mdi.mdi-file-outline
                      | Распечатать PDF
                  .col-auto
                    a.calc-res-link(href="#", data-toggle="modal", data-target="#emailCalcModal")
                      i.mdi.mdi-email-open-outline
                      | Отправить себе на почту

                    #emailCalcModal.modal.fade(tabindex='-1', role='dialog')
                      .modal-dialog.modal-dialog-centered
                        .modal-content
                          form
                            .modal-header
                              .modal-title Отправить смету себе на почту
                              button.close(type='button', data-dismiss='modal')
                                span ×
                            .modal-body
                              .form-group
                                label(for='emailInputCalcModal') Email:
                                input#emailInputCalcModal.form-control(type='email', placeholder='Введите ваш Email')
                            .modal-footer
                              button.btn.blue(type='button') Отправить

    section.dop-block
      .container
        .row
          .col
            .block-title
              | Посмотрите как преобразится квартира
        .row
          .col-lg-6
            .dop-pic.pic-1.img-wrap
              img(src="img/pics/options_1.jpg")
          .col-lg-6
            .row
              .col-sm-6
                .dop-pic.pic-2.img-wrap
                  img(src="img/pics/options_2.jpg")
              .col-sm-6
                .dop-pic.pic-3.img-wrap
                  img(src="img/pics/options_3.jpg")
            .row
              .col-12
                .dop-pic.pic-4.img-wrap
                  img(src="img/pics/options_4.jpg")

        .row.grid
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid.grid-sizer
            a.gallery-img-link(href="img/pics/apartment_1.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/apartment_1.jpg")
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid
            a.gallery-img-link(href="img/pics/apartment_2.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/apartment_2.jpg")
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid
            a.gallery-img-link(href="img/pics/apartment_3.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/apartment_3.jpg")
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid
            a.gallery-img-link(href="img/pics/apartment_4.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/apartment_4.jpg")

    section.status-block.shown
      .container
        .row
          .col-md-6.col-12
            .status-wrap
              .status-text
                span.title Стиль отделки:
                span.text Классический
          .col-md-6.col-12
            .status-wrap.right
              .status-text
                span.title Итоговая стоимость:
                span.text.price 2 432 121




