extends components/layout

append scripts
  script(type='text/javascript', src='js/maskedinput.min.js')

block content
  main.page-contacts

    section.title-block
      .container
        .row
          .col
            .block-title
              | Контакты
        .row
          .col
            .block-title-text
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque, ea error facere molestiae nam
              | qui repellat sunt? Assumenda aut dolores exercitationem modi porro! A dolores minima natus necessitatibus voluptas.

    section.contact-block
      .container
        .row
          .col-xl-4.offset-xl-1.col-lg-5.col-md-6.col-12
            form.contact-form
              .row
                .col-12
                  .form-text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam assumenda, beatae eaque
                    | exercitationem illum nobis officia ratione!
                .col-12
                  .input-group
                    .input-group-prepend
                      .input-group-text
                        i.mdi.mdi-account-outline
                    input.form-control(type='text', placeholder='Имя')
                .col-12
                  .input-group
                    .input-group-prepend
                      .input-group-text
                        i.mdi.mdi-phone-in-talk
                    input#inputPhone.form-control(type='tel', placeholder='Телефон')
                .col-12
                  .input-group
                    .input-group-prepend
                      .input-group-text
                        i.mdi.mdi-email-outline
                    textarea.form-control.comment(rows='9', placeholder='Сообщение')
                .col-12
                  .btn-wrap.text-center
                    .btn.blue-border Оформить заявку

          .col-xl-3.offset-xl-3.col-lg-4.offset-lg-2.col-md-5.offset-md-1.col-12
            .social-links-wrap
              .social-links
                .social-icon
                  i.mdi.mdi-map-marker
                .social-link
                  | Нижний Новгород,
                  br
                  | ул. Пушкина, д.666
              .social-links
                .social-icon
                  i.mdi.mdi-forum-outline
                a.social-link(href="tel:89991645421") +7 (999) 164-54-21
              .social-links
                .social-icon
                  i.mdi.mdi-email-outline
                a.social-link(href="mailto:info@info.ru") info@info.ru
              .social-links-services
                a.link(href="#")
                  i.mdi.mdi-vk
                a.link(href="#")
                  i.mdi.mdi-pinterest
                a.link(href="#")
                  i.mdi.mdi-instagram
                a.link(href="#")
                  i.mdi.mdi-facebook
                a.link(href="#")
                  i.mdi.mdi-youtube-play






