extends components/layout

append head
  link(rel='stylesheet', type='text/css', href='css/jquery.fancybox.min.css')
append scripts
  script(type='text/javascript', src='js/masonry.min.js')
  script(type='text/javascript', src='js/jquery.fancybox.min.js')

block content
  main.page-gallery

    section.breadcrumb-block
      .container
        .row
          .col
            nav.breadcrumb-wrap
              ol.breadcrumb
                li.breadcrumb-item
                  a(href='#') Главная
                li.breadcrumb-item.active Галерея

    section.gallery-block
      .container
        .row
          .col
            .block-title
              | Галерея
        .row
          .col
            .gallery-desc
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid beatae ea enim, error et in
                | laudantium praesentium repudiandae sed! Dolorum, facere, molestias. A cupiditate ducimus porro
                | reiciendis saepe totam?
        .row.grid
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid.grid-sizer
            a.gallery-img-link(href="img/pics/apartment_1.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/apartment_1.jpg")
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid
            a.gallery-img-link(href="img/pics/apartment_2.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/apartment_2.jpg")
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid
            a.gallery-img-link(href="img/pics/apartment_3.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/apartment_3.jpg")
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid
            a.gallery-img-link(href="img/pics/apartment_4.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/apartment_4.jpg")
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid
            a.gallery-img-link(href="img/pics/img_1.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/img_1.jpg")
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid
            a.gallery-img-link(href="img/pics/img_2.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/img_2.jpg")
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid
            a.gallery-img-link(href="img/pics/img_3.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/img_3.jpg")
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid
            a.gallery-img-link(href="img/pics/bg.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/bg.jpg")
          .col-lg-3.col-md-4.col-sm-6.col-12.item-grid
            a.gallery-img-link(href="img/pics/apartment_4.jpg", data-fancybox="images")
              img.gallery-img(src="img/pics/apartment_4.jpg")

    section.pagination-block
      .container
        .row
          .col
            nav.pagination-wrap
              ul.pagination
                li.page-item.disabled
                  a.page-link(href='#')
                    span
                      i.mdi.mdi-chevron-double-left
                li.page-item.disabled
                  a.page-link(href='#')
                    span
                      i.mdi.mdi-chevron-left
                li.page-item.active
                  a.page-link(href='#') 1
                li.page-item
                  a.page-link(href='#') 2
                li.page-item.disabled
                  a.page-link(href='#') ...
                li.page-item
                  a.page-link(href='#') 99
                li.page-item
                  a.page-link(href='#')
                    span
                      i.mdi.mdi-chevron-right
                li.page-item
                  a.page-link(href='#')
                    span
                      i.mdi.mdi-chevron-double-right





