extends components/layout

append head
  link(rel='stylesheet', type='text/css', href='css/swiper.min.css')
  link(rel='stylesheet', type='text/css', href='css/jquery.bootstrap-touchspin.min.css')
append scripts
  script(type='text/javascript', src='js/swiper.min.js')
  script(type='text/javascript', src='js/jquery.bootstrap-touchspin.min.js')

block content
  main.page-index

    section.intro-block
      .container
        .block-bg
          img(src="img/pics/bg.jpg")
        .intro-wrap.d-flex.align-items-end
          .intro-text
            .title
              | Занимайтесь любимыми делами, <br> а ремонт мы возьмём на себя.
            .text
              | Ремонтируем квартиры под ключ с готовыми <br> архитектурными проектами и фиксированной ценой <br> всего за 3 месяца.
            a.btn.blue(href="#") Выбрать дизайн
            a.btn.white-border(href="#") Рассчитать

    section.info-block
      .container
        .row
          .col-12
            .block-title
              | Мы работаем - Вы отдыхаете
          .col-xl-10.offset-xl-1.col-12
            .row
              .col-md-6.col-12
                .text-wrap
                  .text-title
                    | Lorem Ipsum
                  .text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequuntur ea earum eius excepturi expedita magni, minima modi mollitia officiis pariatur perferendis quo rem sapiente soluta totam unde, vitae, voluptates.
              .col-md-6.col-12
                .text-wrap
                  .text-title
                    | Lorem Ipsum
                  .text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequuntur ea earum eius excepturi expedita magni, minima modi mollitia officiis pariatur perferendis quo rem sapiente soluta totam unde, vitae, voluptates.
              .col-md-6.col-12
                .text-wrap
                  .text-title
                    | Lorem Ipsum
                  .text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequuntur ea earum eius excepturi expedita magni, minima modi mollitia officiis pariatur perferendis quo rem sapiente soluta totam unde, vitae, voluptates.
              .col-md-6.col-12
                .text-wrap
                  .text-title
                    | Lorem Ipsum
                  .text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequuntur ea earum eius excepturi expedita magni, minima modi mollitia officiis pariatur perferendis quo rem sapiente soluta totam unde, vitae, voluptates.
          .col-12.text-center
            a.btn.blue-border(href="#") Рассчитать стоимость

    section.stepper-block
      .container
        .row.justify-content-center
          .col-xl-11
            .stepper-wrap
              .row
                .col-md.text-center
                  .step-pic.pic-1
                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 66 119', enable-background='new 0 0 66 119', xml:space='preserve')
                      g
                        path(fill='#FFFFFF', d='M22.5,16.1l9-1.9c0.5-0.1,0.8-0.6,0.7-1L31,7.8c0-0.2-0.2-0.4-0.4-0.5c-0.2-0.1-0.4-0.2-0.6-0.1l-9,1.9\
                        c-0.2,0-0.4,0.2-0.5,0.4c-0.1,0.2-0.2,0.4-0.1,0.6l1.1,5.3c0.1,0.4,0.4,0.7,0.8,0.7C22.3,16.1,22.4,16.1,22.5,16.1L22.5,16.1z\
                        M29.5,9l0.8,3.7l-7.3,1.6l-0.8-3.7L29.5,9z M29.5,9')
                        path(fill='#FFFFFF', d='M24.3,24.6l9-1.9c0.5-0.1,0.8-0.6,0.7-1l-1.1-5.3c0-0.2-0.2-0.4-0.4-0.5c-0.2-0.1-0.4-0.2-0.6-0.1l-9,1.9\
                        c-0.5,0.1-0.8,0.6-0.7,1l1.1,5.3c0,0.2,0.2,0.4,0.4,0.5c0.1,0.1,0.3,0.1,0.5,0.1C24.1,24.6,24.2,24.6,24.3,24.6L24.3,24.6z\
                        M31.3,17.5l0.8,3.7l-7.3,1.6L24,19.1L31.3,17.5z M31.3,17.5')
                        path(fill='#FFFFFF', d='M12.2,16.3l-7.5,5.4c-0.2,0.1-0.3,0.3-0.3,0.6c0,0.2,0,0.5,0.1,0.6l3.2,4.4c0.2,0.2,0.4,0.4,0.7,0.4\
                        c0.2,0,0.3-0.1,0.5-0.2l7.5-5.4c0.4-0.3,0.5-0.8,0.2-1.2l-3.2-4.4C13.1,16.1,12.6,16,12.2,16.3L12.2,16.3z M14.7,21.2l-6.1,4.4\
                        l-2.2-3l6.1-4.4L14.7,21.2z M14.7,21.2')
                        path(fill='#FFFFFF', d='M9.6,29.9l3.2,4.4c0.1,0.2,0.3,0.3,0.6,0.3c0,0,0.1,0,0.1,0c0.2,0,0.4-0.1,0.5-0.2l7.5-5.4\
                        c0.4-0.3,0.5-0.8,0.2-1.2l-3.2-4.4c-0.1-0.2-0.3-0.3-0.6-0.3c-0.2,0-0.5,0-0.6,0.1l-7.5,5.4C9.4,29,9.3,29.5,9.6,29.9L9.6,29.9z\
                        M17.6,25.3l2.2,3l-6.1,4.4l-2.2-3L17.6,25.3z M17.6,25.3')
                        path(fill='#FFFFFF', d='M14.5,36.3c0,0.2,0,0.5,0.1,0.6l3.2,4.4c0.2,0.2,0.4,0.4,0.7,0.4c0.2,0,0.3-0.1,0.5-0.2l7.5-5.4\
                        c0.2-0.1,0.3-0.3,0.3-0.6c0-0.2,0-0.5-0.1-0.6l-3.2-4.4c-0.3-0.4-0.8-0.5-1.2-0.2l-7.5,5.4C14.6,35.9,14.5,36.1,14.5,36.3\
                        L14.5,36.3z M22.6,32.3l2.2,3l-6.1,4.4l-2.2-3L22.6,32.3z M22.6,32.3')
                        path(fill='#FFFFFF', d='M19.5,43.4c0,0.2,0,0.5,0.1,0.6l3.2,4.4c0.2,0.2,0.4,0.4,0.7,0.4c0.2,0,0.3-0.1,0.5-0.2l7.5-5.4\
                        c0.2-0.1,0.3-0.3,0.3-0.6c0-0.2,0-0.5-0.1-0.6l-3.2-4.4c-0.3-0.4-0.8-0.5-1.2-0.2l-7.5,5.4C19.7,43,19.5,43.2,19.5,43.4L19.5,43.4z\
                        M27.6,39.4l2.2,3l-6.1,4.4l-2.2-3L27.6,39.4z M27.6,39.4')
                        path(fill='#FFFFFF', d='M24.7,51.1l3.2,4.4c0.1,0.2,0.3,0.3,0.6,0.3c0,0,0.1,0,0.1,0c0.2,0,0.4-0.1,0.5-0.2l7.5-5.4\
                        c0.4-0.3,0.5-0.8,0.2-1.2l-3.2-4.4c-0.1-0.2-0.3-0.3-0.6-0.3c-0.2,0-0.5,0-0.6,0.1l-7.5,5.4C24.5,50.2,24.4,50.7,24.7,51.1\
                        L24.7,51.1z M32.7,46.4l2.2,3l-6.1,4.4l-2.2-3L32.7,46.4z M32.7,46.4')
                        path(fill='#FFFFFF', d='M40.9,10.9l9,2.1c0.1,0,0.1,0,0.2,0c0.2,0,0.3,0,0.4-0.1c0.2-0.1,0.3-0.3,0.4-0.5l1.2-5.3\
                        c0.1-0.5-0.2-0.9-0.6-1l-9-2.1c-0.5-0.1-0.9,0.2-1,0.6l-1.2,5.3c-0.1,0.2,0,0.5,0.1,0.6C40.5,10.7,40.7,10.9,40.9,10.9L40.9,10.9z\
                        M43,5.8l7.3,1.7l-0.9,3.6l-7.3-1.7L43,5.8z M43,5.8')
                        path(fill='#FFFFFF', d='M38.9,19.3l9,2.1c0.1,0,0.1,0,0.2,0c0.2,0,0.3,0,0.5-0.1c0.2-0.1,0.3-0.3,0.4-0.5l1.2-5.3\
                        c0.1-0.5-0.2-0.9-0.6-1l-9-2.1c-0.5-0.1-0.9,0.2-1,0.6l-1.2,5.3c-0.1,0.2,0,0.5,0.1,0.6C38.5,19.2,38.7,19.3,38.9,19.3L38.9,19.3z\
                        M41,14.2l7.3,1.7l-0.9,3.6l-7.3-1.7L41,14.2z M41,14.2')
                        path(fill='#FFFFFF', d='M65.5,7.1L51.7,0.6c-0.2-0.1-0.4-0.1-0.7,0c-0.2,0.1-0.4,0.2-0.5,0.4l-0.2,0.4l-3.8-1.4\
                        c-0.4-0.2-0.9,0.1-1.1,0.5l-0.2,0.6L40.4,0c-0.5-0.1-0.9,0.2-1,0.6l-3.6,15.2l-2.6-12c-0.1-0.5-0.6-0.8-1-0.7L17.3,6.5\
                        c-0.2,0-0.4,0.2-0.5,0.4c-0.1,0.2-0.2,0.4-0.1,0.6l2.6,12l-5.3-7.5c-0.1-0.2-0.3-0.3-0.6-0.3c-0.2,0-0.5,0-0.6,0.1L0.4,20.7\
                        C0,21-0.1,21.5,0.2,21.9l29.9,41.9c0.1,0.2,0.3,0.3,0.6,0.3c0,0,0.1,0,0.1,0c0.2,0,0.4-0.1,0.5-0.2l12.4-8.8\
                        c0.1-0.1,0.2-0.2,0.3-0.3l0,0l22-46.6C66.1,7.8,65.9,7.3,65.5,7.1L65.5,7.1z M39.1,31.6l5.2,1.2l-0.9,3.6L40,35.7L39.1,31.6z\
                        M41.7,43.8L41.2,41l1.2,0.3L41.7,43.8z M54.9,8.4l0.7,0.2l-1.3,3.5l-0.3-0.1L54.9,8.4z M50,29.2l1.6-4.4c0.1-0.4,0-0.8-0.3-1\
                        l0.4-1.5c0.1,0,0.2,0,0.2,0c0.4,0,0.7-0.2,0.8-0.6l1.8-5.1c0.2-0.4-0.1-0.9-0.5-1.1l-0.7-0.3l0.4-1.5l0.9,0.3\
                        c0.1,0,0.2,0.1,0.3,0.1c0.4,0,0.7-0.2,0.8-0.6l1.8-5.1c0.1-0.2,0.1-0.4,0-0.7c-0.1-0.2-0.3-0.4-0.5-0.4l-1.7-0.6l0.4-1.6l3.9,1.4\
                        L47.4,40.1L50,29.2z M40.8,1.9L54,5L43.2,50.6l-0.8-3.8c0.3-0.1,0.5-0.3,0.6-0.6l1.2-5.3c0.1-0.5-0.2-0.9-0.6-1l-2.8-0.7l-0.4-1.6\
                        l3.5,0.8c0.1,0,0.1,0,0.2,0c0.4,0,0.7-0.3,0.8-0.7l1.2-5.3c0.1-0.2,0-0.5-0.1-0.6c-0.1-0.2-0.3-0.3-0.5-0.4l-6.8-1.6l-0.4-1.6\
                        l7.5,1.8c0.1,0,0.1,0,0.2,0c0.4,0,0.7-0.3,0.8-0.7l1.2-5.3c0.1-0.2,0-0.5-0.1-0.6c-0.1-0.2-0.3-0.3-0.5-0.4l-9-2.1\
                        c-0.2-0.1-0.5,0-0.6,0.1c-0.2,0.1-0.3,0.3-0.4,0.5l-0.3,1.3l-0.6-2.9L40.8,1.9z M38.1,26.3l0.9-3.6l7.3,1.7L45.5,28L38.1,26.3z\
                        M18.5,8l13.2-2.8l9.8,45.5l-2.2-3c0.1-0.2,0.1-0.4,0.1-0.6l-1.1-5.3c0-0.2-0.2-0.4-0.4-0.5c-0.2-0.1-0.4-0.2-0.6-0.1L35,41.6\
                        l-1-1.3l2.9-0.6c0.2,0,0.4-0.2,0.5-0.4c0.1-0.2,0.2-0.4,0.1-0.6l-1.1-5.3c0-0.2-0.2-0.4-0.4-0.5c-0.2-0.1-0.4-0.2-0.6-0.1l-5.9,1.3\
                        l-1-1.3l6.6-1.4c0.2,0,0.4-0.2,0.5-0.4c0.1-0.2,0.2-0.4,0.1-0.6l-1.1-5.3c-0.1-0.5-0.6-0.8-1-0.7l-9,1.9c-0.2,0-0.4,0.1-0.5,0.3\
                        L21.7,23L18.5,8z M37.1,44.5l-1-1.4l0.7-0.1L37.1,44.5z M30.6,35.4l4.4-0.9l0.8,3.7l-2.8,0.6L30.6,35.4z M26.1,29.2l-0.3-1.6\
                        l7.3-1.6l0.8,3.7L27.4,31L26.1,29.2z M31,62.1L2,21.6l11-7.8l29,40.5L31,62.1z M50.1,37.8l5.3-14.6c0.2-0.1,0.3-0.2,0.4-0.4\
                        l2.3-4.9c0.2-0.4,0-0.9-0.4-1.1l0.5-1.4l0.1,0.1c0.1,0.1,0.2,0.1,0.4,0.1c0.3,0,0.6-0.2,0.8-0.5l2.3-4.9c0.2-0.4,0-0.9-0.4-1.1\
                        l-0.7-0.3L61.2,7L64,8.3L50.1,37.8z M50.1,37.8')
                      circle#Ellipse_1_copy_17(fill='#FFFFFF', cx='32.8', cy='102.1', r='17')
                      path#I(d='M32.1,106.8h1.3V95.6h-1.3V106.8z')

                  .step-text
                    | Выберите <br> стиль
                .col-md.text-center
                  .step-pic.pic-2
                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 59 115', enable-background='new 0 0 59 115', xml:space='preserve')
                      g
                        path(fill='#FFFFFF', d='M58.1,47.2c0.5,0,0.9-0.4,0.9-0.9V13.7c0-0.2-0.1-0.5-0.3-0.6l-9.9-9.9C48.7,3.1,48.5,3,48.2,3H27.5V2.8\
                        c0-1.5-1.2-2.8-2.8-2.8H2.8C1.2,0,0,1.2,0,2.8v29.8c0,1.5,1.2,2.8,2.8,2.8h7.1v22.7c0,0.5,0.4,0.9,0.9,0.9h47.3\
                        c0.5,0,0.9-0.4,0.9-0.9v-6.9c0-0.5-0.4-0.9-0.9-0.9c-0.5,0-0.9,0.4-0.9,0.9v6H11.7V35.4h13c1.5,0,2.8-1.2,2.8-2.8V16.7\
                        c0-0.5-0.4-0.9-0.9-0.9s-0.9,0.4-0.9,0.9v15.9c0,0.5-0.4,0.9-0.9,0.9H2.8c-0.5,0-0.9-0.4-0.9-0.9V2.8c0-0.5,0.4-0.9,0.9-0.9h21.9\
                        c0.5,0,0.9,0.4,0.9,0.9v9c0,0.5,0.4,0.9,0.9,0.9s0.9-0.4,0.9-0.9v-7h19.8c0,0,0,0,0,0.1v8.9c0,0.5,0.4,0.9,0.9,0.9h8.9\
                        c0,0,0,0,0.1,0v31.6C57.2,46.8,57.6,47.2,58.1,47.2L58.1,47.2z M49.2,12.8V6.1l6.7,6.7H49.2z')
                        path(fill='#FFFFFF', d='M22.9,42.4h-6.2c-0.5,0-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9h6.2c0.5,0,0.9-0.4,0.9-0.9\
                        C23.8,42.8,23.4,42.4,22.9,42.4L22.9,42.4z')
                        path(fill='#FFFFFF', d='M22.9,47.3h-6.2c-0.5,0-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9h6.2c0.5,0,0.9-0.4,0.9-0.9\
                        C23.8,47.7,23.4,47.3,22.9,47.3L22.9,47.3z')
                        path(fill='#FFFFFF', d='M41.3,28.6c-3.8,0-7.3,1.5-9.9,4.2c-0.4,0.4-0.3,1,0,1.3c0.4,0.4,1,0.3,1.3,0c2.3-2.4,5.3-3.7,8.6-3.7\
                        c6.6,0,11.9,5.3,11.9,11.9c0,6.6-5.3,11.9-11.9,11.9s-11.9-5.3-11.9-11.9c0-1.9,0.4-3.8,1.3-5.5c0.2-0.4,0.1-1-0.4-1.3\
                        c-0.4-0.2-1-0.1-1.2,0.4c-1,1.9-1.5,4.1-1.5,6.3c0,7.6,6.2,13.7,13.7,13.7c7.6,0,13.7-6.2,13.7-13.7C55.1,34.8,48.9,28.6,41.3,28.6\
                        L41.3,28.6z')
                        path(fill='#FFFFFF', d='M43.4,41.5l-1.4,0v-5.1h3.3c0.5,0,0.9-0.4,0.9-0.9c0-0.5-0.4-0.9-0.9-0.9H42v-1.1c0-0.5-0.4-0.9-0.9-0.9\
                        c-0.5,0-0.9,0.4-0.9,0.9v1.1h-0.9c-1.5,0-2.8,1.2-2.8,2.8v3.2c0,1.5,1.2,2.8,2.8,2.8l0.9,0v5h-2.8c-0.5,0-0.9,0.4-0.9,0.9\
                        c0,0.5,0.4,0.9,0.9,0.9h2.8v1.1c0,0.5,0.4,0.9,0.9,0.9c0.5,0,0.9-0.4,0.9-0.9v-1.1h1.4c1.5,0,2.8-1.2,2.8-2.8v-3.1\
                        C46.2,42.8,45,41.5,43.4,41.5L43.4,41.5z M40.2,41.4l-0.9,0c0,0,0,0,0,0c-0.5,0-0.9-0.4-0.9-0.9v-3.2c0-0.5,0.4-0.9,0.9-0.9h0.9\
                        V41.4L40.2,41.4z M44.3,47.4c0,0.5-0.4,0.9-0.9,0.9H42v-5l1.4,0c0,0,0,0,0,0c0.5,0,0.9,0.4,0.9,0.9V47.4z')
                        path(fill='#FFFFFF', d='M23.6,3H3.9C3.4,3,3,3.4,3,3.9v4.9c0,0.5,0.4,0.9,0.9,0.9h19.7c0.5,0,0.9-0.4,0.9-0.9V3.9\
                        C24.5,3.4,24.1,3,23.6,3L23.6,3z M22.7,7.9H4.8V4.8h17.9V7.9z')
                        path(fill='#FFFFFF', d='M7.8,10.8H3.9c-0.5,0-0.9,0.4-0.9,0.9v3.9c0,0.5,0.4,0.9,0.9,0.9h3.9c0.5,0,0.9-0.4,0.9-0.9v-3.9\
                        C8.7,11.3,8.3,10.8,7.8,10.8L7.8,10.8z M6.9,14.8H4.8v-2.1h2.1V14.8z')
                        path(fill='#FFFFFF', d='M15.7,10.8h-3.9c-0.5,0-0.9,0.4-0.9,0.9v3.9c0,0.5,0.4,0.9,0.9,0.9h3.9c0.5,0,0.9-0.4,0.9-0.9v-3.9\
                        C16.6,11.3,16.2,10.8,15.7,10.8L15.7,10.8z M14.8,14.8h-2.1v-2.1h2.1V14.8z')
                        path(fill='#FFFFFF', d='M23.6,10.8h-3.9c-0.5,0-0.9,0.4-0.9,0.9v3.9c0,0.5,0.4,0.9,0.9,0.9h3.9c0.5,0,0.9-0.4,0.9-0.9v-3.9\
                        C24.5,11.3,24.1,10.8,23.6,10.8L23.6,10.8z M22.7,14.8h-2.1v-2.1h2.1V14.8z')
                        path(fill='#FFFFFF', d='M7.8,18.7H3.9c-0.5,0-0.9,0.4-0.9,0.9v3.9c0,0.5,0.4,0.9,0.9,0.9h3.9c0.5,0,0.9-0.4,0.9-0.9v-3.9\
                        C8.7,19.1,8.3,18.7,7.8,18.7L7.8,18.7z M6.9,22.7H4.8v-2.1h2.1V22.7z')
                        path(fill='#FFFFFF', d='M15.7,18.7h-3.9c-0.5,0-0.9,0.4-0.9,0.9v3.9c0,0.5,0.4,0.9,0.9,0.9h3.9c0.5,0,0.9-0.4,0.9-0.9v-3.9\
                        C16.6,19.1,16.2,18.7,15.7,18.7L15.7,18.7z M14.8,22.7h-2.1v-2.1h2.1V22.7z')
                        path(fill='#FFFFFF', d='M7.8,26.6H3.9C3.4,26.6,3,27,3,27.5v3.9c0,0.5,0.4,0.9,0.9,0.9h3.9c0.5,0,0.9-0.4,0.9-0.9v-3.9\
                        C8.7,27,8.3,26.6,7.8,26.6L7.8,26.6z M6.9,30.6H4.8v-2.1h2.1V30.6z')
                        path(fill='#FFFFFF', d='M15.7,26.6h-3.9c-0.5,0-0.9,0.4-0.9,0.9v3.9c0,0.5,0.4,0.9,0.9,0.9h3.9c0.5,0,0.9-0.4,0.9-0.9v-3.9\
                        C16.6,27,16.2,26.6,15.7,26.6L15.7,26.6z M14.8,30.6h-2.1v-2.1h2.1V30.6z')
                        path(fill='#FFFFFF', d='M23.6,18.7h-3.9c-0.5,0-0.9,0.4-0.9,0.9v11.8c0,0.5,0.4,0.9,0.9,0.9h3.9c0.5,0,0.9-0.4,0.9-0.9V19.7\
                        C24.5,19.1,24.1,18.7,23.6,18.7L23.6,18.7z M22.7,30.6h-2.1v-10h2.1V30.6z')
                        path(fill='#FFFFFF', d='M54.8,21.8l-5-4.8c-0.4-0.3-1-0.3-1.3,0c-0.3,0.4-0.3,1,0,1.3l4.4,4.1l-0.8,0.8L38.8,9.9\
                        c-0.1-0.1-0.3-0.2-0.5-0.3L34.9,9l-1.6-1.8c-0.3-0.4-0.9-0.4-1.3-0.1c-0.4,0.3-0.4,0.9-0.1,1.3c0,0,1.9,2.1,2,2.1l0.6,3\
                        c0,0.2,0.1,0.3,0.3,0.5l14.7,14.7c0.5,0.5,1.3,0.8,2,0.8c0.7,0,1.4-0.3,2-0.8l0.2-0.2c1.1-1.1,1.1-2.8,0-3.9l-0.1-0.1l1.4-1.4\
                        C55.2,22.8,55.2,22.1,54.8,21.8L54.8,21.8z M36.2,12.9l-0.4-1.8l1.8,0.4l8.9,8.9l-1.5,1.5L36.2,12.9z M52.2,27.3L52,27.5\
                        c-0.4,0.4-1,0.4-1.3,0l-4.3-4.3l1.5-1.5l4.3,4.3C52.5,26.4,52.5,26.9,52.2,27.3L52.2,27.3z')
                      circle#Ellipse_1_copy_17(fill='#FFFFFF', cx='29.4', cy='98', r='17')
                      path#II(d='M26.8,102.8h1.2V93h-1.2V102.8z M30.8,102.8H32V93h-1.2L30.8,102.8L30.8,102.8z')

                  .step-text
                    | Рассчитайте <br> стоимость
                .col-md.text-center
                  .step-pic.pic-3
                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 55 119', enable-background='new 0 0 55 119', xml:space='preserve')
                      path(fill='#FFFFFF', d='M53.7,61.6c-15.9,0-31.8,0-47.6,0c-0.8-0.3-1-0.5-1-1.5c0-4.1,0-8.3,0-12.4c0-0.3-0.2-0.7-0.3-1\
                      C3.4,45.6,2.2,44.2,1,43c-0.7-0.7-0.7-1.2,0-1.9c0.3-0.3,0.5-0.5,0.8-0.8c0-0.2,0-0.2,0-0.2c-0.5-0.5-0.8-0.8-1.4-1.4\
                      c-0.7-0.7-0.7-1.2,0-1.9c1-1,2-2,3.2-3.2c0.5-0.5,0.8-0.8,1.7-0.5c0-0.3,0-0.5,0-0.8c0-10.3,0-20.7,0-30.8c0-1,0.2-1.2,1-1.5\
                      C22.4,0,38.3,0,54,0c0.7,0.3,0.8,0.7,0.8,1.4c0,19.5,0,39.1,0,58.6C54.5,61,54.4,61.3,53.7,61.6z M7.1,45.7c0,4.7,0,9.3,0,13.7\
                      c15.2,0,30.3,0,45.4,0c0-19.1,0-38.3,0-57.2c-15.2,0-30.3,0-45.6,0c0,0.3,0,0.5,0,0.7c0,10.5,0,21,0,31.7c0,0.5,0.2,0.8,0.5,1.2\
                      c4.6,4.6,9,9,13.5,13.5c0.7,0.7,0.7,1.2,0,1.9c-0.3,0.3-0.7,0.7-1,1c0.3,0.2,0.5,0.5,0.7,0.7c0.2,0.2,0.5,0.3,0.7,0.7\
                      c0.3,0.3,0.7,0.8,0.3,1.4c-0.3,0.5-1,0.7-1.7,0c-0.5-0.3-0.8-0.8-1.4-1.4c-0.3,0.3-0.5,0.7-0.8,0.8c-0.7,0.7-1.2,0.7-2,0\
                      c-2.7-2.7-5.6-5.6-8.3-8.3C7.5,46.1,7.3,45.9,7.1,45.7z M4.7,40.5C6.3,42,8,43.7,9.5,45.2c0.7-0.7,1.5-1.5,2.2-2.2\
                      c-1.5-1.5-3.2-3.2-4.7-4.7C6.3,39,5.4,39.6,4.7,40.5z M13.7,49.5c1,1,2,2,3,3c0.7-0.7,1.5-1.5,2.2-2.2c-1-1-2-2-3-3\
                      C15.2,47.9,14.4,48.6,13.7,49.5z M14.2,45.7c-0.3-0.3-0.7-0.8-1-1.2c-0.8,0.8-1.5,1.5-2.2,2.2c0.3,0.3,0.7,0.7,1.2,1.2\
                      C12.9,47.1,13.5,46.4,14.2,45.7z M5.2,36.7c-0.3-0.3-0.5-0.7-0.7-1c-0.8,0.8-1.5,1.5-2.4,2.4C2.5,38.4,2.9,38.8,3,39\
                      C3.9,38.1,4.6,37.4,5.2,36.7z M2.9,42.2C2.9,42.2,3,42.2,2.9,42.2c0.8,0.5,1.5,1.4,2.2,2c-0.2-1-1.4-1.5-1.9-2.4C3,42,3,42,2.9,42.2\
                      z')
                      path(fill='#FFFFFF', d='M45.4,49.3c0.3-0.7,0.5-1.2,0.7-1.7c0.3-1,1-1.2,1.9-0.5c1.2,1,2,2,1.9,3.7c0,0.8-0.5,1.4-1,1.9\
                      c-0.3,0.3-0.8,0.3-1.4-0.2c-0.3-0.3-0.3-0.8,0-1.4c0.5-0.8,0.5-1,0-1.7c-0.2,0.3-0.2,0.5-0.3,0.7c-0.7,0.7-1.2,1.5-1.9,2.2\
                      c-0.3,0.3-1,0.7-1.5,0.2c-0.5-0.3-0.3-0.8-0.3-1.4c0-0.2,0-0.3,0.2-0.5c-0.5,0.5-1,1-1.5,1.4c-0.8,0.7-1.9,0.8-2.9,0.3\
                      c-1-0.5-1.7-1.5-1.9-2.7c0-1,0.2-1.9,0.7-2.7c0.3-0.8,0.8-1.5,1.2-2.4c0.3-0.8-0.2-1.5-1-1.2c-0.7,0.2-1.2,0.3-1.7,0.7\
                      c-2.2,1.2-3.9,2.7-5.4,4.6c-0.7,0.8-1.4,1.7-1.9,2.7c-0.3,0.5-0.8,0.8-1.4,0.5c-0.5-0.2-0.7-0.8-0.5-1.4c0.3-0.8,0.8-1.5,1.4-2.2\
                      c1.9-2.2,3.9-4.1,6.3-5.6c1.2-0.7,2.4-1.2,3.9-1.2c1.5,0.2,3.2,1.7,2.4,3.7c-0.3,0.8-0.8,1.9-1.4,2.7c-0.2,0.3-0.3,0.7-0.3,1.2\
                      c-0.2,0.7,0.2,1.4,0.7,1.5c0.3,0,0.7-0.2,0.8-0.3c0.8-0.7,1.2-1.7,1.5-2.7c0.3-0.8,0.8-1.2,1.5-0.8c0.2,0.2,0.5,0.3,0.5,0.7\
                      C44.9,48.1,45,48.8,45.4,49.3z')
                      path(fill='#FFFFFF', d='M29.8,10.8c-5.4,0-10.7,0-16.1,0c-0.3,0-0.7,0-0.8-0.2c-0.5-0.2-0.7-0.5-0.7-1c0-0.5,0.5-0.8,0.8-1\
                      c0.2,0,0.3,0,0.3,0c10.8,0,21.7,0,32.7,0c0.5,0,1,0,1.2,0.5c0.3,0.5,0,1.2-0.5,1.4c-0.3,0-0.7,0.2-1,0.2\
                      C40.5,10.8,35.1,10.8,29.8,10.8z')
                      path(fill='#FFFFFF', d='M29.8,20.5c-5.4,0-10.7,0-16.1,0c-0.2,0-0.2,0-0.3,0c-0.7,0-1.2-0.5-1.2-1s0.5-1,1.2-1c0.2,0,0.2,0,0.3,0\
                      c10.7,0,21.5,0,32.2,0c0.2,0,0.5,0,0.7,0c0.5,0.2,0.8,0.5,0.8,1s-0.3,0.8-0.8,1c-0.2,0-0.3,0-0.7,0C40.6,20.5,35.2,20.5,29.8,20.5z')
                      path(fill='#FFFFFF', d='M25.6,35.2c-3.9,0-8,0-11.9,0c-0.2,0-0.3,0-0.3,0c-0.7,0-1.2-0.5-1.2-1c0-0.5,0.5-1,1.2-1c0.2,0,0.3,0,0.3,0\
                      c8,0,15.9,0,23.9,0c0.2,0,0.3,0,0.7,0c0.5,0.2,1,0.7,1,1c0,0.5-0.5,0.8-1,1c-0.2,0-0.3,0-0.3,0C33.5,35.2,29.6,35.2,25.6,35.2z')
                      path(fill='#FFFFFF', d='M24.4,23.4c3.7,0,7.3,0,11,0c0.7,0,1.2,0.3,1.2,0.8c0,0.5-0.3,1-1,1c-0.2,0-0.5,0-0.7,0\
                      c-6.6,0-13.2,0-19.8,0c-0.5,0-1,0-1.5,0c-0.2,0-0.5,0-0.7,0c-0.5-0.2-0.8-0.5-0.8-1c0-0.5,0.5-0.8,1-1c0.8,0,1.7,0,2.5,0\
                      C18.6,23.4,21.5,23.4,24.4,23.4z')
                      path(fill='#FFFFFF', d='M37.1,30.3c-3,0-6.1,0-9.1,0c-0.8,0-1.2-0.3-1.2-1c0-0.7,0.3-1,1-1c6.1,0,12.2,0,18.3,0c0.7,0,1.2,0.3,1.2,1\
                      c0,0.7-0.5,1-1.2,1C43.2,30.3,40.1,30.3,37.1,30.3z')
                      path(fill='#FFFFFF', d='M22,15.6c-2.9,0-5.8,0-8.6,0c-0.7,0-1.2-0.3-1.2-1c0-0.5,0.5-1,1.2-1c5.8,0,11.5,0,17.3,0\
                      c0.7,0,1.2,0.3,1.2,1c0,0.7-0.3,1-1.2,1C27.8,15.6,24.9,15.6,22,15.6z')
                      path(fill='#FFFFFF', d='M40.3,15.6c-2,0-4.1,0-6.1,0c-0.7,0-1-0.3-1.2-1c0-0.7,0.3-1,1-1c4.1,0,8.1,0,12.4,0c0.7,0,1,0.3,1,1\
                      c0,0.7-0.3,1-1,1C44.4,15.6,42.3,15.6,40.3,15.6z')
                      path(fill='#FFFFFF', d='M19,30.3c-1.9,0-3.7,0-5.8,0c-0.7,0-1.2-0.3-1.2-1c0-0.5,0.5-1,1-1c3.9,0,7.6,0,11.5,0c0.7,0,1,0.5,1,1\
                      s-0.5,1-1,1C22.9,30.3,20.8,30.3,19,30.3z')
                      path(fill='#FFFFFF', d='M29.5,53.5c0.3-0.5,0.5-1.2,0.8-1.7c1-1.5,2-3,3.6-4.1c0.5-0.3,1-0.5,1.5-0.7c0.5-0.2,1,0.2,1.2,0.7\
                      c0.2,0.5-0.2,0.8-0.7,1.2c-2.2,1-3.6,2.9-4.6,5.1c-0.2,0.5-0.7,0.8-1.2,0.8C30,54.5,29.6,54.2,29.5,53.5z')
                      path(fill='#FFFFFF', d='M42.7,23.4c1.2,0,2.4,0,3.7,0c0.7,0,1,0.3,1.2,0.8c0,0.5-0.3,1-1,1c-0.2,0-0.5,0-0.7,0c-2.2,0-4.2,0-6.4,0\
                      c-0.2,0-0.5,0-0.7,0c-0.5-0.2-0.8-0.5-0.8-1c0-0.5,0.5-1,1-1C40.1,23.4,41.3,23.4,42.7,23.4z')
                      circle#Ellipse_1_copy_17(fill='#FFFFFF', cx='26.8', cy='102', r='17')
                      path#III(d='M21.8,106.8H23V97h-1.2V106.8z M25.9,106.8h1.2V97h-1.2L25.9,106.8L25.9,106.8z M30,106.8h1.2V97H30L30,106.8\
                      L30,106.8z')

                  .step-text
                    | Подпишите <br> договор
                .col-md.text-center
                  .step-pic.pic-4
                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 58 123', enable-background='new 0 0 58 123', xml:space='preserve')
                      path(fill='#FFFFFF', d='M18.5,71.4c-1.2-1.2-2.3-2.4-3.5-3.5c-0.9-0.8-1.2-1.6-1.1-2.7c0.1-1.5,0-2.9,0-4.4c0-0.3,0.2-0.7,0.4-1\
                      c0.6-0.6,1.2-1.2,1.9-1.8c-0.7-0.7-1.3-1.3-1.9-1.9c-0.5-0.5-0.5-0.9,0-1.4c0.6-0.6,1.2-1.2,1.9-1.8c-0.7-0.6-1.2-1.2-1.8-1.8\
                      c-0.4-0.3-0.5-0.7-0.5-1.2c0-1.6,0-3.2,0-4.8c-0.1-0.1-0.1-0.1-0.2-0.1c-1.5-0.1-1.6-0.1-1.5-1.6c0.1-1.4-0.3-2.3-1.5-3.3\
                      c-2.5-2-3.9-4.7-4.3-7.9c-0.2-1.7,0-3.4,0.5-5C7,26.8,7,26.7,6.7,26.4c-2.9-1.9-5-4.5-6-7.9C-0.7,13.9,0,9.6,2.9,5.7\
                      C5.1,2.9,8,1.1,11.6,0.3c0.9-0.2,1.7-0.2,2.6-0.3c0.1,0,0.3,0,0.4,0c0.7,0.1,1.3,0.2,2,0.3c2.6,0.4,4.9,1.5,6.9,3.2\
                      c2.5,2.1,4.1,4.7,4.8,7.9c0.2,0.9,0.3,1.9,0.3,2.8c0,0.2-0.3,0.5-0.4,0.8c-0.2-0.2-0.5-0.4-0.6-0.6c-0.2-0.9-0.2-1.8-0.4-2.7\
                      c-0.4-2.3-1.5-4.3-3.1-6.1c-2-2.3-4.6-3.8-7.6-4.2c-4-0.6-7.5,0.3-10.7,2.9C3.3,6.2,1.8,9,1.3,12.2C0.6,16,1.5,19.5,4,22.6\
                      c1,1.2,2.1,2.2,3.5,3.1c0.6-0.9,1.1-1.7,1.8-2.6c1.7-2.2,4-3.6,6.7-4.2c3.5-0.8,6.7-0.1,9.6,1.9c2.9,2,4.6,4.8,5.1,8.3\
                      c0.5,3.5-0.4,6.6-2.5,9.3c-0.7,0.9-1.7,1.6-2.6,2.4c-0.4,0.3-0.6,0.6-0.6,1.1c0.1,0.7,0,1.4,0,2.1c0.1,0.7-0.3,0.9-0.9,0.9\
                      c-0.2,0-0.5,0-0.7,0c0,0.2-0.1,0.4-0.1,0.6c0,2.6,0,5.1,0,7.7c0,0.5,0.1,0.8,0.7,0.7c0.5-0.1,1.1,0,1.6,0c0.4,0,0.6,0.1,0.6,0.6\
                      c0,0.7,0,1.3,0,2c0,0.5-0.2,0.6-0.6,0.6c-0.6,0-1.2,0-1.8,0c-0.5,0-0.5,0.3-0.5,0.6c0,0.4,0,0.7,0.5,0.6c0.6,0,1.3,0,1.9,0\
                      c0.4,0,0.5,0.1,0.5,0.5c0,1.5,0,2.9,0,4.4c0,0.5-0.2,0.5-0.6,0.6c-0.7,0-1.4,0-2.2,0c0,0.7,0,1.4,0,2.1c0,0.3-0.1,0.7-0.3,0.9\
                      c-1.3,1.4-2.7,2.8-4.1,4.3c-0.1,0.1-0.2,0.2-0.3,0.2C18.5,71.4,18.5,71.4,18.5,71.4z M23.9,43.8c0-0.7,0-1.5,0-2.2\
                      c-0.1-0.6,0.2-1,0.7-1.3c1.7-1,2.9-2.4,3.8-4.1c1.2-2.2,1.6-4.6,1.2-7.1c-0.5-2.8-1.8-5.1-4.1-6.9c-2.6-2-5.5-2.7-8.6-2.3\
                      c-2.2,0.3-4.2,1.3-5.8,2.8c-1.1,1-2,2.2-2.6,3.7c2.5,1.2,5.1,1.5,6.5,1.3c-0.3-2.6,2.1-4.5,4.3-4c1.6,0.4,2.8,1.7,2.9,3.3\
                      c0.1,1.6-0.9,3.1-2.5,3.7c-1.5,0.5-3.2-0.1-4.1-1.4c-0.1-0.2-0.5-0.4-0.7-0.4c-1.6-0.1-3.3-0.2-4.8-0.7c-0.7-0.2-1.3-0.5-2-0.7\
                      c-0.8,2.1-0.8,4.2-0.3,6.3c0.7,2.8,2.3,5.1,4.8,6.7c0.6,0.4,0.8,0.8,0.8,1.5c-0.1,0.7,0,1.5,0,2.3c0.3,0,0.6,0,0.8,0\
                      c0.7-0.1,0.9,0.2,0.9,0.9c-0.1,0.8,0,1.6,0,2.4c0,1-0.2,2.1,0.1,2.9c0.3,0.8,1.3,1.4,1.9,2.1c0.5,0.5,0.5,0.8,0,1.3\
                      c-0.6,0.6-1.2,1.2-1.9,1.8c0.6,0.6,1.2,1.2,1.8,1.8c0.7,0.7,0.7,0.8,0,1.5c-0.5,0.5-1,1-1.5,1.5c-0.2,0.2-0.4,0.6-0.4,0.9\
                      c-0.1,1.3,0,2.6,0,4c-0.1,0.9,0.2,1.5,0.9,2.1c1,0.9,1.9,2,2.7,2.9c0.7-0.7,1.3-1.3,2-1.8c1.5-1.2,2.1-2.6,1.8-4.5\
                      c-0.1-0.6,0.3-0.9,0.9-0.9c0.7,0,1.3,0,2,0c0-1.2,0-2.3,0-3.5c-0.8,0-1.5,0-2.2,0c-0.5,0-0.7-0.2-0.7-0.7c0-0.5,0-1.1,0-1.7\
                      c0-0.7,0.3-0.9,0.9-0.9c0.7,0,1.3,0,2,0c0-0.5,0-0.8,0-1.3c-0.7,0-1.3,0-2,0c-0.7,0-0.9-0.2-0.9-0.9c0-2.8,0-5.6,0-8.4\
                      c0-1.6,0-1.6,1.6-1.7C23.8,43.9,23.8,43.9,23.9,43.8z M16.5,28.5c0.4,1,1.8,1.5,3,1c1.3-0.5,2-1.9,1.6-3.3c-0.4-1.2-1.8-2.1-2.9-1.9\
                      c-1.6,0.4-2.4,1.6-2.1,3.1c0.7-0.1,1.3-0.2,2-0.4c0.4-0.1,0.7-0.1,0.7,0.3c0,0.2-0.3,0.6-0.5,0.7C17.7,28.3,17.1,28.4,16.5,28.5z')
                      path(fill='#FFFFFF', d='M31.9,40.8c0.9-1.4,0.9-1.4,2.3-0.5c1.2,0.7,2.4,1.5,3.6,2.2c0.2,0.1,0.5,0.1,0.7,0.1\
                      c0.8-0.1,1.6-0.3,2.3-0.5c0.8-0.2,1-0.1,1.2,0.7c0.2,0.8,0.4,1.6,0.6,2.5c0.9-0.2,1.8-0.4,2.7-0.6c0.5-0.1,0.8,0,1,0.6\
                      c0.2,0.9,0.4,1.7,0.7,2.5c0.1,0.2,0.3,0.5,0.5,0.7c1.2,0.8,2.4,1.5,3.6,2.3c0.6,0.4,1.2,0.4,1.8,0.3c1.2-0.3,2.4-0.6,3.6-0.8\
                      c0.4-0.1,0.6-0.2,0.4-0.7c-0.4-1.3-0.7-2.7-1-4.1c-0.1-0.3-0.3-0.7-0.6-0.9c-5.9-3.7-11.7-7.3-17.6-11c-0.8-0.5-0.8-0.6-0.3-1.4\
                      c0.3-0.4,0.3-0.7-0.2-1c-0.5-0.3-1-0.7-1.6-1c-0.4-0.2-0.6-0.5-0.6-1.1c0-5.1-3.4-9.4-8.2-10.8c-1.5-0.4-3.1-0.5-4.6-0.3\
                      c-0.3,0.1-0.7,0.1-0.8-0.4c0-0.5,0.3-0.5,0.7-0.6c3.5-0.5,6.6,0.3,9.3,2.5c2.5,2,4,4.6,4.5,7.8c0,0.2,0.2,0.4,0.1,0.6\
                      c-0.3,1.1,0.4,1.6,1.2,2c0.4,0.2,0.7,0.5,1.1,0.7c0.7,0.5,0.8,0.6,0.3,1.3c-0.1,0.2-0.2,0.4-0.4,0.6c1,0.6,1.9,1.2,2.9,1.8\
                      c4.8,3,9.7,6,14.5,9c0.8,0.5,1.2,1.1,1.4,2c0.3,1.4,0.7,2.9,1,4.3c0.2,0.7,0.1,1.1-0.7,1.2c-1.7,0.3-3.4,0.7-5,1\
                      c-0.3,0.1-0.8,0-1.1-0.2c-1.5-0.9-3-1.8-4.5-2.7c-0.3-0.2-0.6-0.6-0.7-1c-0.2-0.8-0.4-1.6-0.6-2.4c-0.9,0.2-1.8,0.4-2.7,0.6\
                      c-0.5,0.1-0.8,0-0.9-0.5c-0.2-0.8-0.4-1.5-0.5-2.3c-0.1-0.4-0.2-0.6-0.7-0.4c-0.4,0.2-0.9,0.2-1.3,0.3c-0.9,0.3-1.7,0.1-2.5-0.5\
                      c-1.1-0.8-2.3-1.5-3.5-2.2c-1,1.3-1,1.3-2.4,0.4c-0.6-0.4-1.2-0.7-1.7-1.1c-0.2-0.1-0.2-0.5-0.3-0.7c0.3,0,0.6-0.2,0.8-0.1\
                      c0.4,0.2,0.8,0.4,1.2,0.7C31.1,40.3,31.5,40.5,31.9,40.8z')
                      path(fill='#FFFFFF', d='M51.8,44c-0.2,0.2-0.2,0.5-0.3,0.5c-0.2,0-0.5,0-0.7-0.1c-1.2-0.7-2.4-1.4-3.5-2.2c-2.8-1.7-5.6-3.5-8.4-5.2\
                      c-0.1-0.1-0.2-0.1-0.3-0.2c-0.1-0.2-0.2-0.5-0.2-0.8c0.3,0,0.6-0.1,0.8,0c1.1,0.6,2.2,1.3,3.2,2c2.9,1.8,5.8,3.6,8.7,5.4\
                      C51.3,43.5,51.5,43.7,51.8,44z')
                      path(fill='#FFFFFF', d='M10.1,30.2c0.1,0.2,0.3,0.5,0.3,0.8c0.2,1.5,0.5,3,1.4,4.3c0.5,0.7,1.2,1.3,1.8,2c0.1,0.1,0.4,0.2,0.4,0.4\
                      c0.1,0.2,0,0.5,0,0.7c-0.2,0-0.5,0.1-0.7,0c-1.7-1.2-2.9-2.7-3.5-4.7c-0.2-0.9-0.3-1.8-0.4-2.6c0-0.2,0.2-0.5,0.3-0.7\
                      C10,30.2,10.1,30.2,10.1,30.2z')
                      circle#Ellipse_1_copy_17(fill='#FFFFFF', cx='29', cy='106', r='17')
                      path#IV(d='M24.4,110.8h1.2V101h-1.2V110.8z M28.3,101H27l3.8,10h0.5l3.7-10h-1.2l-2.4,6.7l-0.4,1.5h0l-0.3-1.5L28.3,101z')

                  .step-text
                    | Передайте ключи <br> от квартиры
                .col-md.text-center
                  .step-pic.pic-5
                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 58 114', enable-background='new 0 0 58 114', xml:space='preserve')
                      g
                        path(fill='#FFFFFF', d='M24.1,26.5h-5.2c-0.5,0-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9h5.2c0.5,0,0.9-0.4,0.9-0.9\
                        C25,26.9,24.6,26.5,24.1,26.5L24.1,26.5z')
                        path(fill='#FFFFFF', d='M46.3,54.2h5.2c0.5,0,0.9-0.4,0.9-0.9c0-0.5-0.4-0.9-0.9-0.9h-5.2c-0.5,0-0.9,0.4-0.9,0.9\
                        C45.3,53.8,45.8,54.2,46.3,54.2L46.3,54.2z')
                        path(fill='#FFFFFF', d='M17.2,8.9h5.2c0.5,0,0.9-0.4,0.9-0.9c0-0.5-0.4-0.9-0.9-0.9h-5.2c-0.5,0-0.9,0.4-0.9,0.9\
                        C16.3,8.5,16.7,8.9,17.2,8.9L17.2,8.9z')
                        path(fill='#FFFFFF', d='M24.1,29.5h-5.2c-0.5,0-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9h5.2c0.5,0,0.9-0.4,0.9-0.9\
                        C25,29.9,24.6,29.5,24.1,29.5L24.1,29.5z')
                        path(fill='#FFFFFF', d='M18.9,50.7h5.2c0.5,0,0.9-0.4,0.9-0.9s-0.4-0.9-0.9-0.9h-5.2c-0.5,0-0.9,0.4-0.9,0.9\
                        C17.9,50.3,18.3,50.7,18.9,50.7L18.9,50.7z')
                        path(fill='#FFFFFF', d='M18.9,53.7h5.2c0.5,0,0.9-0.4,0.9-0.9s-0.4-0.9-0.9-0.9h-5.2c-0.5,0-0.9,0.4-0.9,0.9S18.3,53.7,18.9,53.7\
                        L18.9,53.7z')
                        path(fill='#FFFFFF', d='M56.2,45.3h-6.4v-9.7c0-0.5-0.4-0.9-0.9-0.9c-0.5,0-0.9,0.4-0.9,0.9v9.7h-7.1c-0.9,0-1.6,0.7-1.6,1.6V56H29\
                        c-0.1,0-0.1-0.1-0.1-0.1V22.4c0-0.1,0.1-0.1,0.1-0.1h5.4v10.4c0,0.4,0.2,0.7,0.5,0.8c0.3,0.2,0.7,0.1,1-0.1l2.6-2.1l2.6,2.1\
                        c0.2,0.1,0.4,0.2,0.6,0.2c0.1,0,0.3,0,0.4-0.1c0.3-0.2,0.5-0.5,0.5-0.8V22.3h5.4c0.1,0,0.1,0.1,0.1,0.1v10.1c0,0.5,0.4,0.9,0.9,0.9\
                        c0.5,0,0.9-0.4,0.9-0.9V22.4c0-1.1-0.9-2-2-2H29c0,0-0.1,0-0.1,0v-7.4c0-0.4-0.1-0.8-0.3-1.2c0.2-0.3,0.3-0.6,0.3-1V1.6\
                        c0-0.9-0.7-1.6-1.6-1.6H11.9c-0.9,0-1.6,0.7-1.6,1.6v9.1h-8c-1.3,0-2.4,1.1-2.4,2.4v19.7c0,0.6,0.2,1.1,0.5,1.5\
                        C0.2,34.7,0,35.2,0,35.7v19.7c0,1.3,1.1,2.4,2.4,2.4h18.5c0.5,0,0.9-0.4,0.9-0.9c0-0.5-0.4-0.9-0.9-0.9H2.4c-0.3,0-0.6-0.2-0.6-0.6\
                        V35.7c0-0.3,0.2-0.6,0.6-0.6h8v10.4c0,0.4,0.2,0.7,0.5,0.8c0.3,0.2,0.7,0.1,1-0.1l2.6-2.1l2.6,2.1c0.2,0.1,0.4,0.2,0.6,0.2\
                        c0.1,0,0.3,0,0.4-0.1c0.3-0.2,0.5-0.5,0.5-0.8V35.2h8c0.3,0,0.6,0.2,0.6,0.6v19.7c0,0.3-0.2,0.6-0.6,0.6H24c-0.5,0-0.9,0.4-0.9,0.9\
                        s0.4,0.9,0.9,0.9h2.5c0.5,0,0.9-0.2,1.3-0.4c0.3,0.3,0.7,0.4,1.2,0.4h12l0,0h15.3c0.9,0,1.6-0.7,1.6-1.6v-9.3\
                        C57.8,46,57.1,45.3,56.2,45.3L56.2,45.3z M36.2,22.3h4.5v8.5L39,29.5c-0.2-0.1-0.4-0.2-0.6-0.2s-0.4,0.1-0.6,0.2l-1.7,1.3\
                        L36.2,22.3L36.2,22.3z M12.2,12.5h4.5v8.5L15,19.7c-0.2-0.1-0.4-0.2-0.6-0.2c-0.2,0-0.4,0.1-0.6,0.2l-1.7,1.3L12.2,12.5L12.2,12.5z\
                        M16.7,43.7L15,42.4c-0.2-0.1-0.4-0.2-0.6-0.2c-0.2,0-0.4,0.1-0.6,0.2l-1.7,1.3v-8.5h4.5V43.7z M27,22.4v10.4\
                        c0,0.3-0.2,0.6-0.6,0.6H2.4c-0.3,0-0.6-0.2-0.6-0.6V13.1c0-0.3,0.2-0.6,0.6-0.6h8v10.4c0,0.4,0.2,0.7,0.5,0.8\
                        c0.3,0.2,0.7,0.1,1-0.1l2.6-2.1l2.6,2.1c0.2,0.1,0.4,0.2,0.6,0.2c0.1,0,0.3,0,0.4-0.1c0.3-0.2,0.5-0.5,0.5-0.8V12.5h8\
                        c0.3,0,0.6,0.2,0.6,0.6L27,22.4L27,22.4z M27,10.7H12.2V5.6H27C27,5.6,27,10.7,27,10.7z M27,3.8H12.2V1.8H27C27,1.8,27,3.8,27,3.8z\
                        M56,56H41.2v-5.1H56C56,50.9,56,56,56,56z M56,49H41.2v-1.9H56C56,47.1,56,49,56,49z')
                      circle#Ellipse_1_copy_17(fill='#FFFFFF', cx='28.9', cy='97', r='17')
                      path#V(d='M26.1,92h-1.3l3.8,10h0.5l3.7-10h-1.2l-2.4,6.7l-0.4,1.5h0l-0.3-1.5L26.1,92z')

                  .step-text
                    | Заезжаете <br> в обновленную <br> квартиру

    section.blog-block
      .container
        .row
          .col
            .block-title
              | Выберите дизайн - остальное мы сделаем за вас
        .row.blog-row
          .col-xl-7.col-lg-8.col-md-7.col-12
            .blog-pic
              a.img-wrap(href="#")
                img(src="img/pics/apartment_1.jpg", alt="")
          .col-xl-5.col-lg-4.col-md-5.col-12
            .blog-desc
              .desc-title.col-xl-10.offset-xl-2
                | Lorem Ipsum
              .desc-subtitle.col-xl-10.offset-xl-2
                | Lorem ipsum dolor sit amet
              .desc-text.dot.col-xl-10.offset-xl-2
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eius eum in modi mollitia neque repellat repellendus sapiente? Consectetur cum eum facere fuga nobis non similique voluptatem. Fuga minima, reprehenderit!
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eius eum in modi mollitia neque repellat repellendus sapiente? Consectetur cum eum facere fuga nobis non similique voluptatem. Fuga minima, reprehenderit!
              .desc-link.col-xl-11.offset-xl-1
                svg(xmlns='http://www.w3.org/2000/svg', width='28.97', height='9', viewbox='0 0 28.97 9')
                  path.cls-1(data-name='Forma 1 copy', d='M1135.25,2554.13a0.459,0.459,0,0,1,.65,0,0.447,0.447,0,0,1,0,.64l-3.32,3.27h26.96a0.45,0.45,0,0,1,.46.45,0.459,0.459,0,0,1-.46.46h-26.96l3.32,3.27a0.447,0.447,0,0,1,0,.64,0.459,0.459,0,0,1-.65,0l-4.11-4.05a0.419,0.419,0,0,1,0-.63Z', transform='translate(-1131.03 -2554)')
                a(href="#")
                  | Узнать больше
        .row.blog-row
          .col-xl-5.col-lg-4.col-md-5.col-12.order-md-1.order-sm-2.order-2
            .blog-desc
              .desc-title.col-xl-9.offset-xl-1
                | Lorem Ipsum
              .desc-subtitle.col-xl-9.offset-xl-1
                | Lorem ipsum dolor sit amet
              .desc-text.col-xl-9.offset-xl-1
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eius eum in modi mollitia neque repellat repellendus sapiente? Consectetur cum eum facere fuga nobis non similique voluptatem. Fuga minima, reprehenderit!
              .desc-link.col.text-right
                a(href="#")
                  | Узнать больше
                svg.rotate(xmlns='http://www.w3.org/2000/svg', width='28.97', height='9', viewbox='0 0 28.97 9')
                  path.cls-1(data-name='Forma 1 copy', d='M1135.25,2554.13a0.459,0.459,0,0,1,.65,0,0.447,0.447,0,0,1,0,.64l-3.32,3.27h26.96a0.45,0.45,0,0,1,.46.45,0.459,0.459,0,0,1-.46.46h-26.96l3.32,3.27a0.447,0.447,0,0,1,0,.64,0.459,0.459,0,0,1-.65,0l-4.11-4.05a0.419,0.419,0,0,1,0-.63Z', transform='translate(-1131.03 -2554)')
          .col-xl-7.col-lg-8.col-md-7.col-12.order-md-2.order-sm-1.order-1
            .blog-pic
              a.img-wrap(href="#")
                img(src="img/pics/apartment_2.jpg", alt="")
        .row.blog-row
          .col-xl-7.col-lg-8.col-md-7.col-12
            .blog-pic
              a.img-wrap(href="#")
                img(src="img/pics/apartment_1.jpg", alt="")
          .col-xl-5.col-lg-4.col-md-5.col-12
            .blog-desc
              .desc-title.col-xl-10.offset-xl-2
                | Lorem Ipsum
              .desc-subtitle.col-xl-10.offset-xl-2
                | Lorem ipsum dolor sit amet
              .desc-text.col-xl-10.offset-xl-2
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eius eum in modi mollitia neque repellat repellendus sapiente? Consectetur cum eum facere fuga nobis non similique voluptatem. Fuga minima, reprehenderit!
              .desc-link.col-xl-11.offset-xl-1
                svg(xmlns='http://www.w3.org/2000/svg', width='28.97', height='9', viewbox='0 0 28.97 9')
                  path.cls-1(data-name='Forma 1 copy', d='M1135.25,2554.13a0.459,0.459,0,0,1,.65,0,0.447,0.447,0,0,1,0,.64l-3.32,3.27h26.96a0.45,0.45,0,0,1,.46.45,0.459,0.459,0,0,1-.46.46h-26.96l3.32,3.27a0.447,0.447,0,0,1,0,.64,0.459,0.459,0,0,1-.65,0l-4.11-4.05a0.419,0.419,0,0,1,0-.63Z', transform='translate(-1131.03 -2554)')
                a(href="#")
                  | Узнать больше
        .row.blog-row
          .col-xl-5.col-lg-4.col-md-5.col-12.order-md-1.order-sm-2.order-2
            .blog-desc
              .desc-title.col-xl-9.offset-xl-1
                | Lorem Ipsum
              .desc-subtitle.col-xl-9.offset-xl-1
                | Lorem ipsum dolor sit amet
              .desc-text.col-xl-9.offset-xl-1
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eius eum in modi mollitia neque repellat repellendus sapiente? Consectetur cum eum facere fuga nobis non similique voluptatem. Fuga minima, reprehenderit!
              .desc-link.col.text-right
                a(href="#")
                  | Узнать больше
                svg.rotate(xmlns='http://www.w3.org/2000/svg', width='28.97', height='9', viewbox='0 0 28.97 9')
                  path.cls-1(data-name='Forma 1 copy', d='M1135.25,2554.13a0.459,0.459,0,0,1,.65,0,0.447,0.447,0,0,1,0,.64l-3.32,3.27h26.96a0.45,0.45,0,0,1,.46.45,0.459,0.459,0,0,1-.46.46h-26.96l3.32,3.27a0.447,0.447,0,0,1,0,.64,0.459,0.459,0,0,1-.65,0l-4.11-4.05a0.419,0.419,0,0,1,0-.63Z', transform='translate(-1131.03 -2554)')
          .col-xl-7.col-lg-8.col-md-7.col-12.order-md-2.order-sm-1.order-1
            .blog-pic
              a.img-wrap(href="#")
                img(src="img/pics/apartment_2.jpg", alt="")

    section.style-block
      .container-fluid
        .row
          .col-md-4.col-12
            a.intro-link.active(href="#")
            .block-bg
              .shadow-bg
              img(src="img/pics/bg_1.jpg")
            .intro-wrap.d-flex.align-items-end
              .intro-text
                .title
                  | Скандинавский
                .text
                  | Сдержанный и лаконичный
          .col-md-4.col-12
            a.intro-link(href="#")
            .block-bg
              .shadow-bg
              img(src="img/pics/bg_2.jpg")
            .intro-wrap.d-flex.align-items-end
              .intro-text
                .title
                  | Эко стиль
                .text
                  | Сдержанный и лаконичный
          .col-md-4.col-12
            a.intro-link(href="#")
            .block-bg
              .shadow-bg
              img(src="img/pics/bg_3.jpg")
            .intro-wrap.d-flex.align-items-end
              .intro-text
                .title
                  | Классический
                .text
                  | Сдержанный и лаконичный
    section.review-block
      .container
        .row
          .col
            .block-title
              | Отзывы
        .row.review-row
          .col-lg-6
            .review-wrap
              .review-inner
                .row.m-0
                  .col-2
                    .review-svg
                      svg(xmlns='http://www.w3.org/2000/svg', width='39', height='32', viewbox='0 0 39 32')
                        path.cls-1(data-name='Shape 1 copy 2', d='M454.26,4009a8.648,8.648,0,0,0-6.226,2.41,7.954,7.954,0,0,0-2.521,5.98,8.488,8.488,0,0,0,3.808,7.24L445,4041h8.335l6.586-13.74a53.226,53.226,0,0,0,2.315-5.67,13.453,13.453,0,0,0,.669-4.09,8.159,8.159,0,0,0-2.47-6.09,8.471,8.471,0,0,0-6.174-2.41h0Zm21.1,0a8.648,8.648,0,0,0-6.225,2.41,7.955,7.955,0,0,0-2.522,5.98,8.488,8.488,0,0,0,3.808,7.24L466.094,4041h8.335l6.586-13.74a53.013,53.013,0,0,0,2.315-5.67,13.422,13.422,0,0,0,.669-4.09,8.162,8.162,0,0,0-2.469-6.09,8.475,8.475,0,0,0-6.175-2.41h0Z', transform='translate(-445 -4009)')
                  .col-10
                    .row
                      .col-12.review-text
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deserunt et exercitationem ipsa minus, nisi officia possimus quod! Debitis deleniti dolores exercitationem facilis labore, sed! Autem culpa non repudiandae voluptates.
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deserunt et exercitationem ipsa minus, nisi officia possimus quod! Debitis deleniti dolores exercitationem facilis labore, sed! Autem culpa non repudiandae voluptates.
                      .col-8.review-who
                        .review-name
                          | Lorem Ipsum
                        .review-about
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      .review-pic
                        img(src="img/pics/avatar.png", alt="")
          .col-lg-6
            .review-wrap
              .review-inner
                .row.m-0
                  .col-2
                    .review-svg
                      svg(xmlns='http://www.w3.org/2000/svg', width='39', height='32', viewbox='0 0 39 32')
                        path.cls-1(data-name='Shape 1 copy 2', d='M454.26,4009a8.648,8.648,0,0,0-6.226,2.41,7.954,7.954,0,0,0-2.521,5.98,8.488,8.488,0,0,0,3.808,7.24L445,4041h8.335l6.586-13.74a53.226,53.226,0,0,0,2.315-5.67,13.453,13.453,0,0,0,.669-4.09,8.159,8.159,0,0,0-2.47-6.09,8.471,8.471,0,0,0-6.174-2.41h0Zm21.1,0a8.648,8.648,0,0,0-6.225,2.41,7.955,7.955,0,0,0-2.522,5.98,8.488,8.488,0,0,0,3.808,7.24L466.094,4041h8.335l6.586-13.74a53.013,53.013,0,0,0,2.315-5.67,13.422,13.422,0,0,0,.669-4.09,8.162,8.162,0,0,0-2.469-6.09,8.475,8.475,0,0,0-6.175-2.41h0Z', transform='translate(-445 -4009)')
                  .col-10
                    .row
                      .col-12.review-text.dot
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deserunt et exercitationem ipsa minus, nisi officia possimus quod! Debitis deleniti dolores exercitationem facilis labore, sed! Autem culpa non repudiandae voluptates.
                      .col-8.review-who
                        .review-name
                          | Lorem Ipsum
                        .review-about
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      .review-pic
                        img(src="img/pics/avatar.png", alt="")
          .col-lg-6
            .review-wrap
              .review-inner
                .row.m-0
                  .col-2
                    .review-svg
                      svg(xmlns='http://www.w3.org/2000/svg', width='39', height='32', viewbox='0 0 39 32')
                        path.cls-1(data-name='Shape 1 copy 2', d='M454.26,4009a8.648,8.648,0,0,0-6.226,2.41,7.954,7.954,0,0,0-2.521,5.98,8.488,8.488,0,0,0,3.808,7.24L445,4041h8.335l6.586-13.74a53.226,53.226,0,0,0,2.315-5.67,13.453,13.453,0,0,0,.669-4.09,8.159,8.159,0,0,0-2.47-6.09,8.471,8.471,0,0,0-6.174-2.41h0Zm21.1,0a8.648,8.648,0,0,0-6.225,2.41,7.955,7.955,0,0,0-2.522,5.98,8.488,8.488,0,0,0,3.808,7.24L466.094,4041h8.335l6.586-13.74a53.013,53.013,0,0,0,2.315-5.67,13.422,13.422,0,0,0,.669-4.09,8.162,8.162,0,0,0-2.469-6.09,8.475,8.475,0,0,0-6.175-2.41h0Z', transform='translate(-445 -4009)')
                  .col-10
                    .row
                      .col-12.review-text.dot
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deserunt et exercitationem ipsa minus, nisi officia possimus quod! Debitis deleniti dolores exercitationem facilis labore, sed! Autem culpa non repudiandae voluptates.
                      .col-8.review-who
                        .review-name
                          | Lorem Ipsum
                        .review-about
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      .review-pic
                        img(src="img/pics/avatar.png", alt="")
          .col-lg-6
            .review-wrap
              .review-inner
                .row.m-0
                  .col-2
                    .review-svg
                      svg(xmlns='http://www.w3.org/2000/svg', width='39', height='32', viewbox='0 0 39 32')
                        path.cls-1(data-name='Shape 1 copy 2', d='M454.26,4009a8.648,8.648,0,0,0-6.226,2.41,7.954,7.954,0,0,0-2.521,5.98,8.488,8.488,0,0,0,3.808,7.24L445,4041h8.335l6.586-13.74a53.226,53.226,0,0,0,2.315-5.67,13.453,13.453,0,0,0,.669-4.09,8.159,8.159,0,0,0-2.47-6.09,8.471,8.471,0,0,0-6.174-2.41h0Zm21.1,0a8.648,8.648,0,0,0-6.225,2.41,7.955,7.955,0,0,0-2.522,5.98,8.488,8.488,0,0,0,3.808,7.24L466.094,4041h8.335l6.586-13.74a53.013,53.013,0,0,0,2.315-5.67,13.422,13.422,0,0,0,.669-4.09,8.162,8.162,0,0,0-2.469-6.09,8.475,8.475,0,0,0-6.175-2.41h0Z', transform='translate(-445 -4009)')
                  .col-10
                    .row
                      .col-12.review-text.dot
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis deserunt et exercitationem ipsa minus, nisi officia possimus quod! Debitis deleniti dolores exercitationem facilis labore, sed! Autem culpa non repudiandae voluptates.
                      .col-8.review-who
                        .review-name
                          | Lorem Ipsum
                        .review-about
                          | Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                      .review-pic
                        img(src="img/pics/avatar.png", alt="")

    section.slider-block
      .container
        .row
          .col
            .block-title
              | Мы работаем - Вы отдыхаете
        .row
          .col-xl-8.col-lg-8
            .slider-wrap
              .swiper-container
                .swiper-wrapper
                  .swiper-slide
                    .img-wrap
                      img.img(src="img/pics/apartment_1.jpg")
                  .swiper-slide
                    .img-wrap
                      img.img(src="img/pics/apartment_2.jpg")
                  .swiper-slide
                    .img-wrap
                      img.img(src="img/pics/apartment_3.jpg")
                  .swiper-slide
                    .img-wrap
                      img.img(src="img/pics/apartment_4.jpg")
                  .swiper-slide
                    .img-wrap
                      img.img(src="img/pics/bg.jpg")
                .swiper-pagination
          .col-xl-4.col-lg-4
            .row
              .col-12
                .text-wrap
                  .text-title
                    i.mdi.mdi-check
                    | Текст названия базовой услуги
              .col-12
                .text-wrap
                  .text-title
                    i.mdi.mdi-check
                    | Текст названия базовой услуги
              .col-12
                .text-wrap
                  .text-title
                    i.mdi.mdi-check
                    | Текст названия базовой услуги
              .col-12
                .text-wrap
                  .text-title
                    i.mdi.mdi-check
                    | Текст названия базовой услуги
              .col-12
                .text-wrap
                  .text-title
                    i.mdi.mdi-check
                    | Текст названия базовой услуги
              .col-12
                .text-wrap
                  .text-title
                    i.mdi.mdi-check
                    | Текст названия базовой услуги
              .col-12
                .text-wrap
                  .text-title
                    i.mdi.mdi-check
                    | Текст названия базовой услуги

    section.metric-block
      .container
        .row
          .col
            .block-title
              | Метрики
        form
          .row
            .col-xl-4.col-lg-4.col-md-7
              .touchspin-wrap
                input(type="text", value="", name="num_1", readonly)
              .touchspin-text
                | площадь квартиры, м²
            .col-xl-2.col-lg-3.col-md-5
              .touchspin-wrap.short
                input(type="text", value="", name="num_2", readonly)
              .touchspin-text
                | количество комнат
              .touchspin-other
                .checkbox.text-center
                  label
                    input(type="checkbox", value)
                    span.cr
                      i.cr-icon.mdi.mdi-check
                    | Стулья
            .col-xl-6.col-lg-5.col-12
              .metric-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis fugiat ipsam magni necessitatibus nisi optio quas qui rerum sunt? Est mollitia quae quas? Error expedita harum ipsam nisi quam.
              a.btn.blue-border(href="#") Рассчитать





