extends components/layout

block head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, shrink-to-fit=no')
  meta(name='description', content='')
  meta(name='keywords', content='')
  link(rel='shortcut icon', type='image/x-icon', href='img/global/favicon.ico')
  link(rel='apple-touch-icon', href='img/global/favicon.ico')

  //- Site Title
  title Test

  //- CSS
  link(rel='stylesheet', type='text/css', href='css/fonts.css')
  link(rel='stylesheet', type='text/css', href='css/pdf.css')

block scripts

block preloader

block header

block footer

block content
  main.page-pdf

    section.header
      .container-fluid
        .row.justify-content-between
          .col-4
            .header-logo
              a.header-logo-link(href="index.html")
                img(src="img/pics/logo_blue.svg")
          .col-3
            .header-tel
              a.tel(href="tel:+7 (999) 164-54-21") +7 (999) 164-54-21

    section.content
      .container-fluid
        .row
          .col-12
            .content-title
              | Классический стиль
          .col-12
            .content-wrap
              .option-list
                .option-row
                  span.option-name
                    | Стены
                  span.option-text
                    | Слоновая кость
                .option-row
                  span.option-name
                    | Материал пола
                  span.option-text
                    | Паркетная доска
                .option-row
                  span.option-name
                    | Пол
                  span.option-text
                    | Светлое дерево

    section.content
      .container-fluid
        .row
          .col-12
            .content-title
              | Параметры квартиры
          .col-12
            .content-wrap
              ul.option-list
                li
                  span.option-name
                    | Площадь квартиры
                  span.option-area
                    | 30
                li
                  span.option-name
                    | Количество комнат
                  span.option-text
                    | 2

    section.content
      .container-fluid
        .row
          .col-12
            .content-title
              | Базовая отделка включает:
          .col-12
            .content-base
              .text
                i.cr-icon.mdi.mdi-check
                | Дизайн‐проект (альбом рабочих чертежей)
              .text
                i.cr-icon.mdi.mdi-check
                | Строительные работы и материалы
              .text
                i.cr-icon.mdi.mdi-check
                | Окраска стен
              .text
                i.cr-icon.mdi.mdi-check
                | Межкомнатные двери и плинтус
              .text
                i.cr-icon.mdi.mdi-check
                | Сантехника + зеркало с подсветкой
              .text
                i.cr-icon.mdi.mdi-check
                | Напольное покрытие
              .text
                i.cr-icon.mdi.mdi-check
                | Электрофурнитура
              .text
                i.cr-icon.mdi.mdi-check
                | Керамогранит и керамическая плитка в санузлах
              .text
                i.cr-icon.mdi.mdi-check
                | Натяжные потолки в санузлах
              .text
                i.cr-icon.mdi.mdi-check
                | Вывоз мусора
              .text
                i.cr-icon.mdi.mdi-check
                | Шпатлевка, грунтовка и окраска потолков в жилых помещениях
              .text
                i.cr-icon.mdi.mdi-check
                | Клининг

    section.content
      .container-fluid
        .row
          .col-12
            .content-title
              | Капитальный ремонт
          .col-12
            .content-wrap
              ul.option-list
                li
                  span.option-name
                    | Разводка электропроводки
                  span.option-price
                    | 96600
                li
                  span.option-name
                    | Возведение внутренних перегородок
                  span.option-price
                    | 73600

    section.content
      .container-fluid
        .row
          .col-12
            .content-title
              | Дополнительные опции
          .col-12
            .content-wrap
              ul.option-list
                li
                  span.option-name
                    | Теплый пол (одно помещение)
                  span.option-counter
                    | 3
                  span.option-price
                    | 11660
                li
                  span.option-name
                    | Возведение внутренних перегородок
                  span.option-price
                    | 73600

    section.content
      .container-fluid
        .row
          .col-12
            .content-title
              | Замена окон
          .col-12
            .content-wrap
              ul.option-list
                li
                  span.option-name
                    | одностворчатое окно
                  span.option-counter
                    | 3
                  span.option-price
                    | 11660
                li
                  span.option-name
                    | эркер, пятистворчатое окно
                  span.option-price
                    | 73600

    section.divider
      hr

    section.result
      .container-fluid
        .row
          .col-12
            .content-wrap
              ul.option-list
                li
                  span.option-name
                    | Базовая стоимотсь ремонта
                  span.option-price
                    | 99912321
                li
                  span.option-name
                    | Стоимость дополнительных опций
                  span.option-price
                    | 7123212321
                li
                  span.option-name.res
                    | Итоговая стоимость ремонта
                  span.option-price.res
                    | 71232123212







