extends components/layout

append head
  link(rel='stylesheet', type='text/css', href='css/swiper.min.css')
  link(rel='stylesheet', type='text/css', href='css/jquery.bootstrap-touchspin.min.css')
append scripts
  script(type='text/javascript', src='js/swiper.min.js')
  script(type='text/javascript', src='js/jquery.bootstrap-touchspin.min.js')

block content
  main.page-principles

    section.slider-block
      .container
        .row
          .col
            .block-title
              | Принципы работы
        .row
          .col-xl-8.col-lg-8
            .slider-wrap
              .swiper-container
                .swiper-wrapper
                  .swiper-slide
                    .img-wrap
                      img.img(src="img/pics/apartment_1.jpg")
                  .swiper-slide
                    .img-wrap
                      img.img(src="img/pics/apartment_2.jpg")
                  .swiper-slide
                    .img-wrap
                      img.img(src="img/pics/apartment_3.jpg")
                  .swiper-slide
                    .img-wrap
                      img.img(src="img/pics/apartment_4.jpg")
                  .swiper-slide
                    .img-wrap
                      img.img(src="img/pics/bg.jpg")
                .swiper-pagination
          .col-xl-4.col-lg-4
            .row
              .col-12
                .text-wrap
                  .text-title
                    | Lorem Ipsum
                  .text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequuntur ea earum eius excepturi
                    | expedita magni, minima modi mollitia officiis pariatur perferendis quo rem sapiente soluta totam unde,
                    | vitae, voluptates.
              .col-12
                .text-wrap
                  .text-title
                    | Lorem Ipsum
                  .text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequuntur ea earum eius excepturi
              .col-12
                .text-wrap
                  .text-title
                    | Lorem Ipsum
                  .text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequuntur ea earum eius excepturi
                    | expedita magni, minima modi mollitia officiis pariatur perferendis quo rem sapiente soluta totam unde,
                    | vitae, voluptates.
              .col-12
                .text-wrap
                  .text-title
                    | Lorem Ipsum
                  .text
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequuntur ea earum eius excepturi
                    | expedita magni, minima modi mollitia officiis pariatur perferendis quo rem

    section.stepper-block
      .container
        .row
          .col
            .block-title
              | Мы работаем - Вы отдыхаете
        .row.justify-content-center
          .col-xl-11
            .stepper-wrap
              .row
                .col-md.text-center
                  .step-pic.pic-1
                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 58 114', enable-background='new 0 0 58 114', xml:space='preserve')
                      g
                        path(fill='#1F5AB2', d='M19.8,18.9l7.9-1.7c0.4-0.1,0.7-0.5,0.6-0.9l-1.1-4.7c0-0.2-0.2-0.4-0.4-0.4C26.7,11,26.5,11,26.4,11\
                        l-7.9,1.7c-0.2,0-0.4,0.2-0.4,0.4s-0.2,0.4-0.1,0.5l1,4.7c0.1,0.4,0.4,0.6,0.7,0.6C19.6,18.9,19.7,18.9,19.8,18.9L19.8,18.9z\
                        M25.9,12.6l0.7,3.3l-6.4,1.4L19.5,14L25.9,12.6z')
                        path(fill='#1F5AB2', d='M21.4,26.3l7.9-1.7c0.4-0.1,0.7-0.5,0.6-0.9l-1-4.7c0-0.2-0.2-0.4-0.4-0.4s-0.4-0.2-0.5-0.1l-7.9,1.7\
                        c-0.4,0.1-0.7,0.5-0.6,0.9l1,4.7c0,0.2,0.2,0.4,0.4,0.4C20.9,26.3,21.1,26.3,21.4,26.3C21.2,26.3,21.3,26.3,21.4,26.3L21.4,26.3z\
                        M27.5,20.1l0.7,3.3l-6.4,1.4l-0.7-3.3L27.5,20.1z')
                        path(fill='#1F5AB2', d='M10.7,19l-6.6,4.7C4,23.9,3.9,24,3.9,24.3c0,0.2,0,0.4,0.1,0.5l2.8,3.9c0.2,0.2,0.4,0.4,0.6,0.4\
                        c0.2,0,0.3-0.1,0.4-0.2l6.6-4.7c0.4-0.3,0.4-0.7,0.2-1.1l-2.8-3.9C11.5,18.9,11.1,18.8,10.7,19L10.7,19z M12.9,23.3l-5.4,3.9\
                        l-1.9-2.6l5.4-3.9L12.9,23.3z')
                        path(fill='#1F5AB2', d='M8.4,31l2.8,3.9c0.1,0.2,0.3,0.3,0.5,0.3h0.1c0.2,0,0.4-0.1,0.4-0.2l6.6-4.7c0.4-0.3,0.4-0.7,0.2-1.1\
                        l-2.8-3.9C16.2,25.1,16,25,15.7,25c-0.2,0-0.4,0-0.5,0.1l-6.6,4.7C8.3,30.2,8.2,30.6,8.4,31L8.4,31z M15.5,26.9l1.9,2.6L12,33.4\
                        l-1.9-2.6L15.5,26.9z')
                        path(fill='#1F5AB2', d='M12.7,36.6c0,0.2,0,0.4,0.1,0.5l2.8,3.9c0.2,0.2,0.4,0.4,0.6,0.4c0.2,0,0.3-0.1,0.4-0.2l6.6-4.7\
                        c0.2-0.1,0.3-0.3,0.3-0.5c0-0.2,0-0.4-0.1-0.5l-2.8-3.9c-0.3-0.4-0.7-0.4-1.1-0.2L13,36.1C12.8,36.3,12.7,36.4,12.7,36.6L12.7,36.6\
                        z M19.9,33.1l1.9,2.6l-5.4,3.9L14.5,37L19.9,33.1z')
                        path(fill='#1F5AB2', d='M17.1,42.9c0,0.2,0,0.4,0.1,0.5l2.8,3.9c0.2,0.2,0.4,0.4,0.6,0.4c0.2,0,0.3-0.1,0.4-0.2l6.6-4.7\
                        c0.2-0.1,0.3-0.3,0.3-0.5c0-0.2,0-0.4-0.1-0.5L25,37.8c-0.3-0.4-0.7-0.4-1.1-0.2l-6.6,4.7C17.3,42.5,17.1,42.7,17.1,42.9L17.1,42.9\
                        z M24.3,39.3l1.9,2.6l-5.4,3.9l-1.9-2.6L24.3,39.3z')
                        path(fill='#1F5AB2', d='M21.7,49.6l2.8,3.9c0.1,0.2,0.3,0.3,0.5,0.3h0.1c0.2,0,0.4-0.1,0.4-0.2l6.6-4.7c0.4-0.3,0.4-0.7,0.2-1.1\
                        l-2.8-3.9c-0.1-0.2-0.3-0.3-0.5-0.3c-0.2,0-0.4,0-0.5,0.1l-6.6,4.7C21.5,48.8,21.4,49.3,21.7,49.6L21.7,49.6z M28.7,45.5l1.9,2.6\
                        L25.3,52l-1.9-2.6L28.7,45.5z')
                        path(fill='#1F5AB2', d='M35.9,14.3l7.9,1.8c0.1,0,0.1,0,0.2,0c0.2,0,0.3,0,0.4-0.1c0.2-0.1,0.3-0.3,0.4-0.4l1.1-4.7\
                        c0.1-0.4-0.2-0.8-0.5-0.9l-7.9-1.8c-0.4-0.1-0.8,0.2-0.9,0.5l-1.1,4.7c-0.1,0.2,0,0.4,0.1,0.5C35.6,14.1,35.8,14.3,35.9,14.3\
                        L35.9,14.3z M37.8,9.8l6.4,1.5l-0.8,3.2L37,13L37.8,9.8z')
                        path(fill='#1F5AB2', d='M34.2,21.7l7.9,1.8c0.1,0,0.1,0,0.2,0c0.2,0,0.3,0,0.4-0.1s0.3-0.3,0.4-0.4l1.1-4.7\
                        c0.1-0.4-0.2-0.8-0.5-0.9l-7.9-1.8c-0.4-0.1-0.8,0.2-0.9,0.5l-1.1,4.7c-0.1,0.2,0,0.4,0.1,0.5C33.8,21.6,34,21.7,34.2,21.7\
                        L34.2,21.7z M36,17.2l6.4,1.5l-0.8,3.2l-6.4-1.5L36,17.2z')
                        path(fill='#1F5AB2', d='M57.6,11L45.4,5.2c-0.2-0.1-0.4-0.1-0.6,0c-0.2,0.1-0.4,0.2-0.4,0.4l-0.2,0.4l-3.3-1.2\
                        c-0.4-0.2-0.8,0.1-1,0.4l-0.2,0.5l-4.2-1c-0.4-0.1-0.8,0.2-0.9,0.5l-3.2,13.4L29.2,8.1c-0.1-0.4-0.5-0.7-0.9-0.6l-13.1,3\
                        c-0.2,0-0.4,0.2-0.4,0.4c-0.1,0.2-0.2,0.4-0.1,0.5L17,21.8l-4.7-6.6C12.2,15.1,12,15,11.8,15c-0.2,0-0.4,0-0.5,0.1L0.4,22.9\
                        C0,23.2-0.1,23.6,0.2,24l26.3,36.8C26.5,61,26.7,61,27,61h0.1c0.2,0,0.4-0.1,0.4-0.2l10.9-7.7c0.1-0.1,0.2-0.2,0.3-0.3l0,0l19.3-41\
                        C58.1,11.6,57.9,11.1,57.6,11L57.6,11z M34.4,32.5l4.6,1.1l-0.8,3.2l-3-0.6L34.4,32.5z M36.6,43.2l-0.4-2.5l1.1,0.3L36.6,43.2z\
                        M48.2,12.1l0.6,0.2l-1.1,3.1l-0.3-0.1L48.2,12.1z M43.9,30.4l1.4-3.9c0.1-0.4,0-0.7-0.3-0.9l0.4-1.3c0.1,0,0.2,0,0.2,0\
                        c0.4,0,0.6-0.2,0.7-0.5l1.6-4.5c0.2-0.4-0.1-0.8-0.4-1l-0.6-0.3l0.4-1.3L48,17c0.1,0,0.2,0.1,0.3,0.1c0.4,0,0.6-0.2,0.7-0.5\
                        l1.6-4.5c0.1-0.2,0.1-0.4,0-0.6c-0.1-0.2-0.3-0.4-0.4-0.4l-1.5-0.5l0.4-1.4l3.4,1.2L41.7,40L43.9,30.4z M35.9,6.4l11.6,2.7L38,49.2\
                        l-0.7-3.3c0.3-0.1,0.4-0.3,0.5-0.5l1.1-4.7c0.1-0.4-0.2-0.8-0.5-0.9l-2.5-0.6l-0.4-1.4l3.1,0.7c0.1,0,0.1,0,0.2,0\
                        c0.4,0,0.6-0.3,0.7-0.6l1.1-4.7c0.1-0.2,0-0.4-0.1-0.5c-0.1-0.2-0.3-0.3-0.4-0.4l-6-1.4l-0.4-1.4l6.6,1.6c0.1,0,0.1,0,0.2,0\
                        c0.4,0,0.6-0.3,0.7-0.6l1.1-4.7c0.1-0.2,0-0.4-0.1-0.5c-0.1-0.2-0.3-0.3-0.4-0.4l-7.9-1.8c-0.2-0.1-0.4,0-0.5,0.1\
                        c-0.2,0.1-0.3,0.3-0.4,0.4l-0.3,1.1l-0.5-2.5L35.9,6.4z M33.5,27.8l0.8-3.2l6.4,1.5L40,29.3L33.5,27.8z M16.3,11.7l11.6-2.5l8.6,40\
                        l-1.9-2.6c0.1-0.2,0.1-0.4,0.1-0.5l-1-4.7c0-0.2-0.2-0.4-0.4-0.4c-0.2-0.1-0.4-0.2-0.5-0.1l-2,0.4l-0.9-1.1l2.5-0.5\
                        c0.2,0,0.4-0.2,0.4-0.4c0.1-0.2,0.2-0.4,0.1-0.5l-1-4.7c0-0.2-0.2-0.4-0.4-0.4c-0.2-0.1-0.4-0.2-0.5-0.1l-5.2,1.1L25,33.5l5.8-1.2\
                        c0.2,0,0.4-0.2,0.4-0.4c0.1-0.2,0.2-0.4,0.1-0.5l-1-4.7c-0.1-0.4-0.5-0.7-0.9-0.6l-7.9,1.7c-0.2,0-0.4,0.1-0.4,0.3l-2.1-3.2\
                        L16.3,11.7z M32.6,43.8l-0.9-1.2l0.6-0.1L32.6,43.8z M26.9,35.8l3.9-0.8l0.7,3.3L29,38.8L26.9,35.8z M22.9,30.4L22.7,29l6.4-1.4\
                        l0.7,3.3L24.1,32L22.9,30.4z M27.2,59.3L1.8,23.7l9.7-6.9l25.5,35.6L27.2,59.3z M44,37.9l4.7-12.8c0.2-0.1,0.3-0.2,0.4-0.4l2-4.3\
                        c0.2-0.4,0-0.8-0.4-1l0.4-1.2l0.1,0.1c0.1,0.1,0.2,0.1,0.4,0.1c0.3,0,0.5-0.2,0.7-0.4l2-4.3c0.2-0.4,0-0.8-0.4-1l-0.6-0.3l0.4-1.6\
                        l2.5,1.1L44,37.9z')
                      g#Ellipse_1_copy_17
                        path(fill='#1F5AB2', d='M28.8,81.5c7.1,0,12.9,5.8,12.9,12.9c0,7.1-5.8,12.9-12.9,12.9s-12.9-5.8-12.9-12.9\
                        C15.9,87.3,21.7,81.5,28.8,81.5 M28.8,79.5c-8.3,0-14.9,6.7-14.9,14.9s6.7,14.9,14.9,14.9s14.9-6.7,14.9-14.9S37.1,79.5,28.8,79.5\
                        L28.8,79.5z')
                      path#I(d='M28.2,98.6h1.1v-9.8h-1.1V98.6z')
                  .step-text
                    | Выберите <br> стиль
                .col-md.text-center
                  .step-pic.pic-2
                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 58 114', enable-background='new 0 0 58 114', xml:space='preserve')
                      g
                        path(fill='#1F5AB2', d='M57.1,46.9c0.5,0,0.9-0.4,0.9-0.9v-32c0-0.2-0.1-0.5-0.3-0.6L48,3.6c-0.1-0.1-0.3-0.2-0.6-0.2H27V3.2\
                        c0-1.5-1.2-2.8-2.8-2.8H2.8C1.2,0.5,0,1.7,0,3.2v29.3c0,1.5,1.2,2.8,2.8,2.8h7v22.3c0,0.5,0.4,0.9,0.9,0.9h46.5\
                        c0.5,0,0.9-0.4,0.9-0.9v-6.8c0-0.5-0.4-0.9-0.9-0.9c-0.5,0-0.9,0.4-0.9,0.9v5.9H11.5V35.3h12.8c1.5,0,2.8-1.2,2.8-2.8V16.9\
                        c0-0.5-0.4-0.9-0.9-0.9s-0.9,0.4-0.9,0.9v15.6c0,0.5-0.4,0.9-0.9,0.9H2.8c-0.5,0-0.9-0.4-0.9-0.9V3.2c0-0.5,0.4-0.9,0.9-0.9h21.5\
                        c0.5,0,0.9,0.4,0.9,0.9v8.8c0,0.5,0.4,0.9,0.9,0.9c0.5,0,0.9-0.4,0.9-0.9V5.2h19.5c0,0,0,0,0,0.1V14c0,0.5,0.4,0.9,0.9,0.9H56\
                        c0,0,0,0,0.1,0V46C56.2,46.5,56.6,46.9,57.1,46.9L57.1,46.9z M48.4,13.1V6.5l6.6,6.6C55,13.1,48.4,13.1,48.4,13.1z')
                        path(fill='#1F5AB2', d='M22.5,42.2h-6.1c-0.5,0-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9h6.1c0.5,0,0.9-0.4,0.9-0.9\
                        C23.4,42.5,23,42.2,22.5,42.2L22.5,42.2z')
                        path(fill='#1F5AB2', d='M22.5,47h-6.1c-0.5,0-0.9,0.4-0.9,0.9c0,0.5,0.4,0.9,0.9,0.9h6.1c0.5,0,0.9-0.4,0.9-0.9\
                        C23.4,47.4,23,47,22.5,47L22.5,47z')
                        path(fill='#1F5AB2', d='M40.6,28.6c-3.7,0-7.2,1.5-9.7,4.1c-0.4,0.4-0.3,1,0,1.3c0.4,0.4,1,0.3,1.3,0c2.3-2.4,5.2-3.6,8.5-3.6\
                        c6.5,0,11.7,5.2,11.7,11.7s-5.2,11.7-11.7,11.7s-11.7-5.2-11.7-11.7c0-1.9,0.4-3.7,1.3-5.4c0.2-0.4,0.1-1-0.4-1.3\
                        c-0.4-0.2-1-0.1-1.2,0.4c-1,1.9-1.5,4-1.5,6.2c0,7.5,6.1,13.5,13.5,13.5c7.5,0,13.5-6.1,13.5-13.5C54.2,34.7,48.1,28.6,40.6,28.6\
                        L40.6,28.6z')
                        path(fill='#1F5AB2', d='M42.7,41.3h-1.4v-5h3.2c0.5,0,0.9-0.4,0.9-0.9c0-0.5-0.4-0.9-0.9-0.9h-3.2v-1.1c0-0.5-0.4-0.9-0.9-0.9\
                        c-0.5,0-0.9,0.4-0.9,0.9v1.1h-0.9c-1.5,0-2.8,1.2-2.8,2.8v3.1c0,1.5,1.2,2.8,2.8,2.8h0.9v4.9h-2.8c-0.5,0-0.9,0.4-0.9,0.9\
                        s0.4,0.9,0.9,0.9h2.8v1.1c0,0.5,0.4,0.9,0.9,0.9c0.5,0,0.9-0.4,0.9-0.9v-1.1h1.4c1.5,0,2.8-1.2,2.8-2.8v-3\
                        C45.4,42.5,44.2,41.3,42.7,41.3L42.7,41.3z M39.5,41.2h-0.9l0,0c-0.5,0-0.9-0.4-0.9-0.9v-3.1c0-0.5,0.4-0.9,0.9-0.9h0.9V41.2\
                        L39.5,41.2z M43.5,47.1c0,0.5-0.4,0.9-0.9,0.9h-1.4V43h1.4l0,0c0.5,0,0.9,0.4,0.9,0.9C43.5,43.9,43.5,47.1,43.5,47.1z')
                        path(fill='#1F5AB2', d='M23.2,3.4H3.8c-0.5,0-0.9,0.4-0.9,0.9v4.8c0,0.5,0.4,0.9,0.9,0.9h19.4c0.5,0,0.9-0.4,0.9-0.9V4.3\
                        C24.1,3.8,23.7,3.4,23.2,3.4L23.2,3.4z M22.3,8.2H4.7v-3h17.6V8.2z')
                        path(fill='#1F5AB2', d='M7.7,11.1H3.8c-0.5,0-0.9,0.4-0.9,0.9v3.8c0,0.5,0.4,0.9,0.9,0.9h3.8c0.5,0,0.9-0.4,0.9-0.9V12\
                        C8.6,11.6,8.2,11.1,7.7,11.1L7.7,11.1z M6.8,15H4.7V13h2.1V15z')
                        path(fill='#1F5AB2', d='M15.4,11.1h-3.8c-0.5,0-0.9,0.4-0.9,0.9v3.8c0,0.5,0.4,0.9,0.9,0.9h3.8c0.5,0,0.9-0.4,0.9-0.9V12\
                        C16.3,11.6,15.9,11.1,15.4,11.1L15.4,11.1z M14.5,15h-2.1V13h2.1C14.5,13,14.5,15,14.5,15z')
                        path(fill='#1F5AB2', d='M23.2,11.1h-3.8c-0.5,0-0.9,0.4-0.9,0.9v3.8c0,0.5,0.4,0.9,0.9,0.9h3.8c0.5,0,0.9-0.4,0.9-0.9V12\
                        C24.1,11.6,23.7,11.1,23.2,11.1L23.2,11.1z M22.3,15h-2.1V13h2.1V15z')
                        path(fill='#1F5AB2', d='M7.7,18.9H3.8c-0.5,0-0.9,0.4-0.9,0.9v3.8c0,0.5,0.4,0.9,0.9,0.9h3.8c0.5,0,0.9-0.4,0.9-0.9v-3.8\
                        C8.6,19.3,8.2,18.9,7.7,18.9L7.7,18.9z M6.8,22.8H4.7v-2.1h2.1V22.8z')
                        path(fill='#1F5AB2', d='M15.4,18.9h-3.8c-0.5,0-0.9,0.4-0.9,0.9v3.8c0,0.5,0.4,0.9,0.9,0.9h3.8c0.5,0,0.9-0.4,0.9-0.9v-3.8\
                        C16.3,19.3,15.9,18.9,15.4,18.9L15.4,18.9z M14.5,22.8h-2.1v-2.1h2.1C14.5,20.7,14.5,22.8,14.5,22.8z')
                        path(fill='#1F5AB2', d='M7.7,26.6H3.8c-0.5,0-0.9,0.4-0.9,0.9v3.8c0,0.5,0.4,0.9,0.9,0.9h3.8c0.5,0,0.9-0.4,0.9-0.9v-3.8\
                        C8.6,27,8.2,26.6,7.7,26.6L7.7,26.6z M6.8,30.6H4.7v-2.1h2.1V30.6z')
                        path(fill='#1F5AB2', d='M15.4,26.6h-3.8c-0.5,0-0.9,0.4-0.9,0.9v3.8c0,0.5,0.4,0.9,0.9,0.9h3.8c0.5,0,0.9-0.4,0.9-0.9v-3.8\
                        C16.3,27,15.9,26.6,15.4,26.6L15.4,26.6z M14.5,30.6h-2.1v-2.1h2.1C14.5,28.5,14.5,30.6,14.5,30.6z')
                        path(fill='#1F5AB2', d='M23.2,18.9h-3.8c-0.5,0-0.9,0.4-0.9,0.9v11.6c0,0.5,0.4,0.9,0.9,0.9h3.8c0.5,0,0.9-0.4,0.9-0.9V19.8\
                        C24.1,19.3,23.7,18.9,23.2,18.9L23.2,18.9z M22.3,30.6h-2.1v-9.8h2.1V30.6z')
                        path(fill='#1F5AB2', d='M53.9,21.9L49,17.2c-0.4-0.3-1-0.3-1.3,0c-0.3,0.4-0.3,1,0,1.3l4.3,4l-0.8,0.8L38.1,10.2\
                        c-0.1-0.1-0.3-0.2-0.5-0.3l-3.3-0.6l-1.6-1.8c-0.3-0.4-0.9-0.4-1.3-0.1c-0.4,0.3-0.4,0.9-0.1,1.3c0,0,1.9,2.1,2,2.1l0.6,2.9\
                        c0,0.2,0.1,0.3,0.3,0.5l14.5,14.5c0.5,0.5,1.3,0.8,2,0.8s1.4-0.3,2-0.8l0.2-0.2c1.1-1.1,1.1-2.8,0-3.8l-0.1-0.1l1.4-1.4\
                        C54.3,22.9,54.3,22.2,53.9,21.9L53.9,21.9z M35.6,13.2l-0.4-1.8l1.8,0.4l8.7,8.7L44.2,22L35.6,13.2z M51.3,27.3l-0.2,0.2\
                        c-0.4,0.4-1,0.4-1.3,0l-4.2-4.2l1.5-1.5l4.2,4.2C51.6,26.4,51.6,26.9,51.3,27.3L51.3,27.3z')
                      g#Ellipse_1_copy_17
                        path(fill='#1F5AB2', d='M28.9,82.1c8.1,0,14.7,6.6,14.7,14.7s-6.6,14.7-14.7,14.7s-14.7-6.6-14.7-14.7S20.8,82.1,28.9,82.1\
                        M28.9,80.1c-9.2,0-16.7,7.5-16.7,16.7s7.5,16.7,16.7,16.7s16.7-7.5,16.7-16.7S38.1,80.1,28.9,80.1L28.9,80.1z')
                      path#II(d='M26.3,101.5h1.2v-9.6h-1.2V101.5z M30.3,101.5h1.2v-9.6h-1.2V101.5L30.3,101.5z')
                  .step-text
                    | Рассчитайте <br> стоимость
                .col-md.text-center
                  .step-pic.pic-3
                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 58 114', enable-background='new 0 0 58 114', xml:space='preserve')
                      path(fill='#1F5AB2', d='M54.1,59c-15.2,0-30.5,0-45.6,0c-0.8-0.3-1-0.5-1-1.4c0-3.9,0-8,0-11.9c0-0.3-0.2-0.7-0.3-1\
                      c-1.3-1.1-2.5-2.4-3.6-3.5c-0.7-0.7-0.7-1.1,0-1.8c0.3-0.3,0.5-0.5,0.8-0.8c0-0.2,0-0.2,0-0.2c-0.5-0.5-0.8-0.8-1.3-1.3\
                      c-0.7-0.7-0.7-1.1,0-1.8c1-1,1.9-1.9,3.1-3.1c0.5-0.5,0.8-0.8,1.6-0.5c0-0.3,0-0.5,0-0.8c0-9.9,0-19.8,0-29.5c0-1,0.2-1.1,1-1.4\
                      c15.4,0,30.7,0,45.7,0c0.7,0.3,0.8,0.7,0.8,1.3c0,18.7,0,37.5,0,56.1C54.9,58.4,54.8,58.7,54.1,59z M9.5,43.8c0,4.5,0,8.9,0,13.1\
                      c14.6,0,29,0,43.5,0c0-18.3,0-36.7,0-54.8c-14.6,0-29,0-43.7,0c0,0.3,0,0.5,0,0.7c0,10.1,0,20.1,0,30.4c0,0.5,0.2,0.8,0.5,1.1\
                      c4.4,4.4,8.6,8.6,12.9,12.9c0.7,0.7,0.7,1.1,0,1.8c-0.3,0.3-0.7,0.7-1,1c0.3,0.2,0.5,0.5,0.7,0.7c0.2,0.2,0.5,0.3,0.7,0.7\
                      c0.3,0.3,0.7,0.8,0.3,1.3c-0.3,0.5-1,0.7-1.6,0c-0.5-0.3-0.8-0.8-1.3-1.3c-0.3,0.3-0.5,0.7-0.8,0.8c-0.7,0.7-1.1,0.7-1.9,0\
                      c-2.6-2.6-5.4-5.4-8-8C9.8,44.2,9.6,44,9.5,43.8z M7.2,38.8c1.5,1.4,3.2,3.1,4.6,4.5c0.7-0.7,1.4-1.4,2.1-2.1\
                      c-1.4-1.4-3.1-3.1-4.5-4.5C8.7,37.4,7.8,37.9,7.2,38.8z M15.8,47.4c1,1,1.9,1.9,2.9,2.9c0.7-0.7,1.4-1.4,2.1-2.1\
                      c-1-1-1.9-1.9-2.9-2.9C17.2,45.9,16.5,46.6,15.8,47.4z M16.3,43.8c-0.3-0.3-0.7-0.8-1-1.1c-0.8,0.8-1.4,1.4-2.1,2.1\
                      c0.3,0.3,0.7,0.7,1.1,1.1C15,45.1,15.6,44.5,16.3,43.8z M7.6,35.2c-0.3-0.3-0.5-0.7-0.7-1c-0.8,0.8-1.4,1.4-2.3,2.3\
                      c0.4,0.3,0.8,0.7,0.9,0.9C6.4,36.5,7.1,35.8,7.6,35.2z M5.4,40.4C5.4,40.4,5.5,40.4,5.4,40.4c0.8,0.5,1.4,1.3,2.1,1.9\
                      c-0.2-1-1.3-1.4-1.8-2.3C5.5,40.2,5.5,40.2,5.4,40.4z')
                      path(fill='#1F5AB2', d='M46.1,47.2c0.3-0.7,0.5-1.1,0.7-1.6c0.3-1,1-1.1,1.8-0.5c1.1,1,1.9,1.9,1.8,3.5c0,0.8-0.5,1.3-1,1.8\
                      c-0.3,0.3-0.8,0.3-1.3-0.2c-0.3-0.3-0.3-0.8,0-1.3c0.5-0.8,0.5-1,0-1.6C48,47.6,48,47.8,47.9,48c-0.7,0.7-1.1,1.4-1.8,2.1\
                      c-0.3,0.3-1,0.7-1.4,0.2c-0.5-0.3-0.3-0.8-0.3-1.3c0-0.2,0-0.3,0.2-0.5c-0.5,0.5-1,1-1.4,1.3c-0.8,0.7-1.8,0.8-2.8,0.3\
                      c-1-0.5-1.6-1.4-1.8-2.6c0-1,0.2-1.8,0.7-2.6c0.3-0.8,0.8-1.4,1.1-2.3c0.3-0.8-0.2-1.4-1-1.1c-0.7,0.2-1.1,0.3-1.6,0.7\
                      c-2.1,1.1-3.7,2.6-5.2,4.4c-0.7,0.8-1.3,1.6-1.8,2.6c-0.3,0.5-0.8,0.8-1.3,0.5c-0.5-0.2-0.7-0.8-0.5-1.3c0.3-0.8,0.8-1.4,1.3-2.1\
                      c1.8-2.1,3.7-3.9,6-5.4c1.1-0.7,2.3-1.1,3.7-1.1c1.4,0.2,3.1,1.6,2.3,3.5C42,44,41.5,45,41,45.8c-0.2,0.3-0.3,0.7-0.3,1.1\
                      c-0.2,0.7,0.2,1.3,0.7,1.4c0.3,0,0.7-0.2,0.8-0.3c0.8-0.7,1.1-1.6,1.4-2.6c0.3-0.8,0.8-1.1,1.4-0.8c0.2,0.2,0.5,0.3,0.5,0.7\
                      C45.7,46.1,45.8,46.7,46.1,47.2z')
                      path(fill='#1F5AB2', d='M31.2,10.3c-5.2,0-10.3,0-15.4,0c-0.3,0-0.7,0-0.8-0.2c-0.5-0.2-0.7-0.5-0.7-1s0.5-0.8,0.8-1\
                      c0.2,0,0.3,0,0.3,0c10.3,0,20.8,0,31.3,0c0.5,0,1,0,1.1,0.5c0.3,0.5,0,1.1-0.5,1.3c-0.3,0-0.7,0.2-1,0.2\
                      C41.5,10.3,36.3,10.3,31.2,10.3z')
                      path(fill='#1F5AB2', d='M31.2,19.6c-5.2,0-10.3,0-15.4,0c-0.2,0-0.2,0-0.3,0c-0.7,0-1.1-0.5-1.1-1c0-0.5,0.5-1,1.1-1\
                      c0.2,0,0.2,0,0.3,0c10.3,0,20.6,0,30.8,0c0.2,0,0.5,0,0.7,0c0.5,0.2,0.8,0.5,0.8,1c0,0.5-0.3,0.8-0.8,1c-0.2,0-0.3,0-0.7,0\
                      C41.5,19.6,36.4,19.6,31.2,19.6z')
                      path(fill='#1F5AB2', d='M27.2,33.7c-3.7,0-7.7,0-11.4,0c-0.2,0-0.3,0-0.3,0c-0.7,0-1.1-0.5-1.1-1c0-0.5,0.5-1,1.1-1\
                      c0.2,0,0.3,0,0.3,0c7.7,0,15.2,0,22.9,0c0.2,0,0.3,0,0.7,0c0.5,0.2,1,0.7,1,1c0,0.5-0.5,0.8-1,1c-0.2,0-0.3,0-0.3,0\
                      C34.7,33.7,31,33.7,27.2,33.7z')
                      path(fill='#1F5AB2', d='M26,22.4c3.5,0,7,0,10.5,0c0.7,0,1.1,0.3,1.1,0.8c0,0.5-0.3,1-1,1c-0.2,0-0.5,0-0.7,0c-6.3,0-12.6,0-19,0\
                      c-0.5,0-1,0-1.4,0c-0.2,0-0.5,0-0.7,0c-0.5-0.2-0.8-0.5-0.8-1c0-0.5,0.5-0.8,1-1c0.8,0,1.6,0,2.4,0C20.5,22.4,23.3,22.4,26,22.4z')
                      path(fill='#1F5AB2', d='M38.2,29c-2.9,0-5.8,0-8.7,0c-0.8,0-1.1-0.3-1.1-1s0.3-1,1-1c5.8,0,11.7,0,17.5,0c0.7,0,1.1,0.3,1.1,1\
                      s-0.5,1-1.1,1C44,29,41.1,29,38.2,29z')
                      path(fill='#1F5AB2', d='M23.7,14.9c-2.8,0-5.6,0-8.2,0c-0.7,0-1.1-0.3-1.1-1c0-0.5,0.5-1,1.1-1c5.6,0,11,0,16.6,0\
                      c0.7,0,1.1,0.3,1.1,1c0,0.7-0.3,1-1.1,1C29.3,14.9,26.5,14.9,23.7,14.9z')
                      path(fill='#1F5AB2', d='M41.3,14.9c-1.9,0-3.9,0-5.8,0c-0.7,0-1-0.3-1.1-1c0-0.7,0.3-1,1-1c3.9,0,7.8,0,11.9,0c0.7,0,1,0.3,1,1\
                      c0,0.7-0.3,1-1,1C45.2,14.9,43.2,14.9,41.3,14.9z')
                      path(fill='#1F5AB2', d='M20.9,29c-1.8,0-3.5,0-5.6,0c-0.7,0-1.1-0.3-1.1-1c0-0.5,0.5-1,1-1c3.7,0,7.3,0,11,0c0.7,0,1,0.5,1,1\
                      c0,0.5-0.5,1-1,1C24.6,29,22.6,29,20.9,29z')
                      path(fill='#1F5AB2', d='M30.9,51.3c0.3-0.5,0.5-1.1,0.8-1.6c1-1.4,1.9-2.9,3.4-3.9c0.5-0.3,1-0.5,1.4-0.7s1,0.2,1.1,0.7\
                      c0.2,0.5-0.2,0.8-0.7,1.1c-2.1,1-3.4,2.8-4.4,4.9c-0.2,0.5-0.7,0.8-1.1,0.8C31.4,52.2,31,51.9,30.9,51.3z')
                      path(fill='#1F5AB2', d='M43.6,22.4c1.1,0,2.3,0,3.5,0c0.7,0,1,0.3,1.1,0.8c0,0.5-0.3,1-1,1c-0.2,0-0.5,0-0.7,0c-2.1,0-4,0-6.1,0\
                      c-0.2,0-0.5,0-0.7,0c-0.5-0.2-0.8-0.5-0.8-1c0-0.5,0.5-1,1-1C41.1,22.4,42.2,22.4,43.6,22.4z')
                      g#Ellipse_1_copy_17
                        path(fill='#1F5AB2', d='M28.3,83.4c7.9,0,14.3,6.4,14.3,14.3S36.2,112,28.3,112S14,105.6,14,97.7S20.5,83.4,28.3,83.4 M28.3,81.4\
                        c-9,0-16.3,7.3-16.3,16.3S19.3,114,28.3,114s16.3-7.3,16.3-16.3S37.3,81.4,28.3,81.4L28.3,81.4z')
                      path#III(d='M23.5,102.3h1.1v-9.4h-1.1V102.3z M27.5,102.3h1.1v-9.4h-1.1V102.3L27.5,102.3z M31.4,102.3h1.1v-9.4h-1.1V102.3\
                      L31.4,102.3z')
                  .step-text
                    | Подпишите <br> договор
                .col-md.text-center
                  .step-pic.pic-4
                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 58 114', enable-background='new 0 0 58 114', xml:space='preserve')
                      path(fill='#1F5AB2', stroke='#1F5AB2', stroke-miterlimit='10', d='M19.3,66.2c-1.1-1.1-2.1-2.2-3.2-3.2c-0.8-0.7-1.1-1.5-1-2.5\
                      c0.1-1.4,0-2.7,0-4.1c0-0.3,0.2-0.6,0.4-0.9c0.6-0.6,1.1-1.1,1.8-1.7c-0.6-0.6-1.2-1.2-1.8-1.8c-0.5-0.5-0.5-0.8,0-1.3\
                      c0.6-0.6,1.1-1.1,1.8-1.7c-0.6-0.6-1.1-1.1-1.7-1.7c-0.4-0.3-0.5-0.6-0.5-1.1c0-1.5,0-3,0-4.4c-0.1-0.1-0.1-0.1-0.2-0.1\
                      c-1.4-0.1-1.5-0.1-1.4-1.5c0.1-1.3-0.3-2.1-1.4-3.1c-2.3-1.9-3.6-4.4-4-7.3c-0.2-1.6,0-3.2,0.5-4.6c0.1-0.4,0.1-0.5-0.2-0.7\
                      c-2.7-1.8-4.6-4.2-5.6-7.3c-1.3-4.3-0.6-8.2,2-11.9c2-2.6,4.7-4.3,8.1-5c0.8-0.2,1.6-0.2,2.4-0.3c0.1,0,0.3,0,0.4,0\
                      c0.6,0.1,1.2,0.2,1.9,0.3c2.4,0.4,4.5,1.4,6.4,3c2.3,1.9,3.8,4.4,4.4,7.3c0.2,0.8,0.3,1.8,0.3,2.6c0,0.2-0.3,0.5-0.4,0.7\
                      c-0.2-0.2-0.5-0.4-0.6-0.6c-0.2-0.8-0.2-1.7-0.4-2.5c-0.4-2.1-1.4-4-2.9-5.7c-1.9-2.1-4.3-3.5-7-3.9c-3.7-0.6-7,0.3-9.9,2.7\
                      c-2.3,1.8-3.7,4.4-4.2,7.3c-0.6,3.5,0.2,6.8,2.5,9.6c0.9,1.1,1.9,2,3.2,2.9c0.6-0.8,1-1.6,1.7-2.4c1.6-2,3.7-3.3,6.2-3.9\
                      c3.2-0.7,6.2-0.1,8.9,1.8s4.3,4.4,4.7,7.7c0.5,3.2-0.4,6.1-2.3,8.6c-0.6,0.8-1.6,1.5-2.4,2.2c-0.4,0.3-0.6,0.6-0.6,1\
                      c0.1,0.6,0,1.3,0,1.9c0.1,0.6-0.3,0.8-0.8,0.8c-0.2,0-0.5,0-0.6,0c0,0.2-0.1,0.4-0.1,0.6c0,2.4,0,4.7,0,7.1c0,0.5,0.1,0.7,0.6,0.6\
                      c0.5-0.1,1,0,1.5,0c0.4,0,0.6,0.1,0.6,0.6c0,0.6,0,1.2,0,1.9c0,0.5-0.2,0.6-0.6,0.6c-0.6,0-1.1,0-1.7,0c-0.5,0-0.5,0.3-0.5,0.6\
                      c0,0.4,0,0.6,0.5,0.6c0.6,0,1.2,0,1.8,0c0.4,0,0.5,0.1,0.5,0.5c0,1.4,0,2.7,0,4.1c0,0.5-0.2,0.5-0.6,0.6c-0.6,0-1.3,0-2,0\
                      c0,0.6,0,1.3,0,1.9c0,0.3-0.1,0.6-0.3,0.8c-1.2,1.3-2.5,2.6-3.8,4c-0.1,0.1-0.2,0.2-0.3,0.2C19.3,66.2,19.3,66.2,19.3,66.2z\
                      M24.3,40.6c0-0.6,0-1.4,0-2c-0.1-0.6,0.2-0.9,0.6-1.2c1.6-0.9,2.7-2.2,3.5-3.8c1.1-2,1.5-4.3,1.1-6.6c-0.5-2.6-1.7-4.7-3.8-6.4\
                      c-2.4-1.9-5.1-2.5-8-2.1c-2,0.3-3.9,1.2-5.4,2.6c-1,0.9-1.9,2-2.4,3.4c2.3,1.1,4.7,1.4,6,1.2c-0.3-2.4,1.9-4.2,4-3.7\
                      c1.5,0.4,2.6,1.6,2.7,3.1c0.1,1.5-0.8,2.9-2.3,3.4c-1.4,0.5-3-0.1-3.8-1.3c-0.1-0.2-0.5-0.4-0.6-0.4c-1.5-0.1-3.1-0.2-4.4-0.6\
                      c-0.6-0.2-1.2-0.5-1.9-0.6c-0.7,1.9-0.7,3.9-0.3,5.8c0.6,2.6,2.1,4.7,4.4,6.2c0.6,0.4,0.7,0.7,0.7,1.4c-0.1,0.6,0,1.4,0,2.1\
                      c0.3,0,0.6,0,0.7,0c0.6-0.1,0.8,0.2,0.8,0.8c-0.1,0.7,0,1.5,0,2.2c0,0.9-0.2,1.9,0.1,2.7c0.3,0.7,1.2,1.3,1.8,1.9\
                      c0.5,0.5,0.5,0.7,0,1.2c-0.6,0.6-1.1,1.1-1.8,1.7c0.6,0.6,1.1,1.1,1.7,1.7c0.6,0.6,0.6,0.7,0,1.4c-0.5,0.5-0.9,0.9-1.4,1.4\
                      c-0.2,0.2-0.4,0.6-0.4,0.8c-0.1,1.2,0,2.4,0,3.7C16,61.4,16.3,62,17,62.6c0.9,0.8,1.8,1.9,2.5,2.7c0.6-0.6,1.2-1.2,1.9-1.7\
                      c1.4-1.1,1.9-2.4,1.7-4.2c-0.1-0.6,0.3-0.8,0.8-0.8c0.6,0,1.2,0,1.9,0c0-1.1,0-2.1,0-3.2c-0.7,0-1.4,0-2,0c-0.5,0-0.6-0.2-0.6-0.6\
                      c0-0.5,0-1,0-1.6c0-0.6,0.3-0.8,0.8-0.8c0.6,0,1.2,0,1.9,0c0-0.5,0-0.7,0-1.2c-0.6,0-1.2,0-1.9,0S23,50.9,23,50.2c0-2.6,0-5.2,0-7.8\
                      c0-1.5,0-1.5,1.5-1.6C24.2,40.7,24.2,40.7,24.3,40.6z M17.4,26.4c0.4,0.9,1.7,1.4,2.8,0.9c1.2-0.5,1.9-1.8,1.5-3.1\
                      c-0.4-1.1-1.7-1.9-2.7-1.8c-1.5,0.4-2.2,1.5-1.9,2.9c0.6-0.1,1.2-0.2,1.9-0.4c0.4-0.1,0.6-0.1,0.6,0.3c0,0.2-0.3,0.6-0.5,0.6\
                      C18.5,26.2,18,26.3,17.4,26.4z')
                      path(fill='#1F5AB2', stroke='#1F5AB2', stroke-miterlimit='10', d='M31.7,37.8c0.8-1.3,0.8-1.3,2.1-0.5c1.1,0.6,2.2,1.4,3.3,2\
                      c0.2,0.1,0.5,0.1,0.6,0.1c0.7-0.1,1.5-0.3,2.1-0.5c0.7-0.2,0.9-0.1,1.1,0.6c0.2,0.7,0.4,1.5,0.6,2.3c0.8-0.2,1.7-0.4,2.5-0.6\
                      c0.5-0.1,0.7,0,0.9,0.6c0.2,0.8,0.4,1.6,0.6,2.3c0.1,0.2,0.3,0.5,0.5,0.6c1.1,0.7,2.2,1.4,3.3,2.1c0.6,0.4,1.1,0.4,1.7,0.3\
                      c1.1-0.3,2.2-0.6,3.3-0.7c0.4-0.1,0.6-0.2,0.4-0.6c-0.4-1.2-0.6-2.5-0.9-3.8c-0.1-0.3-0.3-0.6-0.6-0.8c-5.5-3.4-10.8-6.8-16.3-10.2\
                      c-0.7-0.5-0.7-0.6-0.3-1.3c0.3-0.4,0.3-0.6-0.2-0.9c-0.5-0.3-0.9-0.6-1.5-0.9c-0.4-0.2-0.6-0.5-0.6-1c0-4.7-3.2-8.7-7.6-10\
                      c-1.4-0.4-2.9-0.5-4.3-0.3c-0.3,0.1-0.6,0.1-0.7-0.4c0-0.5,0.3-0.5,0.6-0.6c3.2-0.5,6.1,0.3,8.6,2.3c2.3,1.9,3.7,4.3,4.2,7.2\
                      c0,0.2,0.2,0.4,0.1,0.6c-0.3,1,0.4,1.5,1.1,1.9c0.4,0.2,0.6,0.5,1,0.6c0.6,0.5,0.7,0.6,0.3,1.2c-0.1,0.2-0.2,0.4-0.4,0.6\
                      c0.9,0.6,1.8,1.1,2.7,1.7c4.4,2.8,9,5.6,13.4,8.3c0.7,0.5,1.1,1,1.3,1.9c0.3,1.3,0.6,2.7,0.9,4c0.2,0.6,0.1,1-0.6,1.1\
                      c-1.6,0.3-3.2,0.6-4.6,0.9c-0.3,0.1-0.7,0-1-0.2c-1.4-0.8-2.8-1.7-4.2-2.5c-0.3-0.2-0.6-0.6-0.6-0.9c-0.2-0.7-0.4-1.5-0.6-2.2\
                      c-0.8,0.2-1.7,0.4-2.5,0.6c-0.5,0.1-0.7,0-0.8-0.5c-0.2-0.7-0.4-1.4-0.5-2.1c-0.1-0.4-0.2-0.6-0.6-0.4c-0.4,0.2-0.8,0.2-1.2,0.3\
                      c-0.8,0.3-1.6,0.1-2.3-0.5c-1-0.7-2.1-1.4-3.2-2c-0.9,1.2-0.9,1.2-2.2,0.4c-0.6-0.4-1.1-0.6-1.6-1c-0.2-0.1-0.2-0.5-0.3-0.6\
                      c0.3,0,0.6-0.2,0.7-0.1c0.4,0.2,0.7,0.4,1.1,0.6C30.9,37.4,31.3,37.5,31.7,37.8z')
                      path(fill='#1F5AB2', stroke='#1F5AB2', stroke-miterlimit='10', d='M50.1,40.8c-0.2,0.2-0.2,0.5-0.3,0.5c-0.2,0-0.5,0-0.6-0.1\
                      c-1.1-0.6-2.2-1.3-3.2-2c-2.6-1.6-5.2-3.2-7.8-4.8c-0.1-0.1-0.2-0.1-0.3-0.2c-0.1-0.2-0.2-0.5-0.2-0.7c0.3,0,0.6-0.1,0.7,0\
                      c1,0.6,2,1.2,3,1.9c2.7,1.7,5.4,3.3,8.1,5C49.7,40.3,49.9,40.5,50.1,40.8z')
                      path(fill='#1F5AB2', stroke='#1F5AB2', stroke-miterlimit='10', d='M11.5,28c0.1,0.2,0.3,0.5,0.3,0.7c0.2,1.4,0.5,2.8,1.3,4\
                      c0.5,0.6,1.1,1.2,1.7,1.9c0.1,0.1,0.4,0.2,0.4,0.4c0.1,0.2,0,0.5,0,0.6c-0.2,0-0.5,0.1-0.6,0c-1.6-1.1-2.7-2.5-3.2-4.4\
                      c-0.2-0.8-0.3-1.7-0.4-2.4c0-0.2,0.2-0.5,0.3-0.6C11.4,28,11.5,28,11.5,28z')
                      g#Ellipse_1_copy_17
                        path(fill='#1F5AB2', d='M29.6,84.5c7.6,0,13.8,6.2,13.8,13.8S37.2,112,29.6,112s-13.8-6.2-13.8-13.8S22.1,84.5,29.6,84.5\
                        M29.6,82.5c-8.7,0-15.8,7.1-15.8,15.8S20.9,114,29.6,114s15.8-7.1,15.8-15.8S38.4,82.5,29.6,82.5L29.6,82.5z')
                      path#IV(d='M24.7,102.7h1.1v-9.1h-1.1V102.7z M28.4,93.6h-1.2l3.5,9.3h0.5l3.4-9.3h-1.1l-2.2,6.2l-0.4,1.4l0,0l-0.3-1.4\
                      L28.4,93.6z')
                  .step-text
                    | Передайте ключи <br> от квартиры
                .col-md.text-center
                  .step-pic.pic-5
                    svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 58 114', enable-background='new 0 0 58 114', xml:space='preserve')
                      g
                        path(fill='#1F5AB2', d='M24.1,26.5h-5.2c-0.5,0-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9h5.2c0.5,0,0.9-0.4,0.9-0.9\
                        C25,26.9,24.6,26.5,24.1,26.5L24.1,26.5z')
                        path(fill='#1F5AB2', d='M46.3,54.2h5.2c0.5,0,0.9-0.4,0.9-0.9s-0.4-0.9-0.9-0.9h-5.2c-0.5,0-0.9,0.4-0.9,0.9\
                        C45.3,53.8,45.8,54.2,46.3,54.2L46.3,54.2z')
                        path(fill='#1F5AB2', d='M17.2,8.9h5.2c0.5,0,0.9-0.4,0.9-0.9s-0.4-0.9-0.9-0.9h-5.2c-0.5,0-0.9,0.4-0.9,0.9\
                        C16.3,8.5,16.7,8.9,17.2,8.9L17.2,8.9z')
                        path(fill='#1F5AB2', d='M24.1,29.5h-5.2c-0.5,0-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9h5.2c0.5,0,0.9-0.4,0.9-0.9\
                        C25,29.9,24.6,29.5,24.1,29.5L24.1,29.5z')
                        path(fill='#1F5AB2', d='M18.9,50.7h5.2c0.5,0,0.9-0.4,0.9-0.9s-0.4-0.9-0.9-0.9h-5.2c-0.5,0-0.9,0.4-0.9,0.9\
                        C17.9,50.3,18.3,50.7,18.9,50.7L18.9,50.7z')
                        path(fill='#1F5AB2', d='M18.9,53.7h5.2c0.5,0,0.9-0.4,0.9-0.9s-0.4-0.9-0.9-0.9h-5.2c-0.5,0-0.9,0.4-0.9,0.9S18.3,53.7,18.9,53.7\
                        L18.9,53.7z')
                        path(fill='#1F5AB2', d='M56.2,45.3h-6.4v-9.7c0-0.5-0.4-0.9-0.9-0.9S48,35.1,48,35.6v9.7h-7.1c-0.9,0-1.6,0.7-1.6,1.6V56H29\
                        c-0.1,0-0.1-0.1-0.1-0.1V22.4c0-0.1,0.1-0.1,0.1-0.1h5.4v10.4c0,0.4,0.2,0.7,0.5,0.8c0.3,0.2,0.7,0.1,1-0.1l2.6-2.1l2.6,2.1\
                        c0.2,0.1,0.4,0.2,0.6,0.2c0.1,0,0.3,0,0.4-0.1c0.3-0.2,0.5-0.5,0.5-0.8V22.3H48c0.1,0,0.1,0.1,0.1,0.1v10.1c0,0.5,0.4,0.9,0.9,0.9\
                        s0.9-0.4,0.9-0.9V22.4c0-1.1-0.9-2-2-2H29h-0.1V13c0-0.4-0.1-0.8-0.3-1.2c0.2-0.3,0.3-0.6,0.3-1V1.6c0-0.9-0.7-1.6-1.6-1.6H11.9\
                        c-0.9,0-1.6,0.7-1.6,1.6v9.1h-8c-1.3,0-2.4,1.1-2.4,2.4v19.7c0,0.6,0.2,1.1,0.5,1.5C0.2,34.7,0,35.2,0,35.7v19.7\
                        c0,1.3,1.1,2.4,2.4,2.4h18.5c0.5,0,0.9-0.4,0.9-0.9S21.4,56,20.9,56H2.4c-0.3,0-0.6-0.2-0.6-0.6V35.7c0-0.3,0.2-0.6,0.6-0.6h8v10.4\
                        c0,0.4,0.2,0.7,0.5,0.8c0.3,0.2,0.7,0.1,1-0.1l2.6-2.1l2.6,2.1c0.2,0.1,0.4,0.2,0.6,0.2c0.1,0,0.3,0,0.4-0.1\
                        c0.3-0.2,0.5-0.5,0.5-0.8V35.2h8c0.3,0,0.6,0.2,0.6,0.6v19.7c0,0.3-0.2,0.6-0.6,0.6H24c-0.5,0-0.9,0.4-0.9,0.9s0.4,0.9,0.9,0.9h2.5\
                        c0.5,0,0.9-0.2,1.3-0.4c0.3,0.3,0.7,0.4,1.2,0.4h12l0,0h15.3c0.9,0,1.6-0.7,1.6-1.6V47C57.8,46,57.1,45.3,56.2,45.3L56.2,45.3z\
                        M36.2,22.3h4.5v8.5L39,29.5c-0.2-0.1-0.4-0.2-0.6-0.2s-0.4,0.1-0.6,0.2l-1.7,1.3L36.2,22.3L36.2,22.3z M12.2,12.5h4.5V21L15,19.7\
                        c-0.2-0.1-0.4-0.2-0.6-0.2c-0.2,0-0.4,0.1-0.6,0.2L12.1,21L12.2,12.5L12.2,12.5z M16.7,43.7L15,42.4c-0.2-0.1-0.4-0.2-0.6-0.2\
                        c-0.2,0-0.4,0.1-0.6,0.2l-1.7,1.3v-8.5h4.5v8.5H16.7z M27,22.4v10.4c0,0.3-0.2,0.6-0.6,0.6h-24c-0.3,0-0.6-0.2-0.6-0.6V13.1\
                        c0-0.3,0.2-0.6,0.6-0.6h8v10.4c0,0.4,0.2,0.7,0.5,0.8c0.3,0.2,0.7,0.1,1-0.1l2.6-2.1l2.6,2.1c0.2,0.1,0.4,0.2,0.6,0.2\
                        c0.1,0,0.3,0,0.4-0.1c0.3-0.2,0.5-0.5,0.5-0.8V12.5h8c0.3,0,0.6,0.2,0.6,0.6L27,22.4L27,22.4z M27,10.7H12.2V5.6H27V10.7z M27,3.8\
                        H12.2v-2H27V3.8z M56,56H41.2v-5.1H56V56z M56,49H41.2v-1.9H56V49z')
                      g#Ellipse_1_copy_17
                        path(fill='#1F5AB2', d='M28.9,82c8.3,0,15,6.7,15,15s-6.7,15-15,15s-15-6.7-15-15S20.6,82,28.9,82 M28.9,80c-9.4,0-17,7.6-17,17\
                        s7.6,17,17,17s17-7.6,17-17S38.3,80,28.9,80L28.9,80z')
                      path#V(d='M26.1,92h-1.3l3.8,10h0.5l3.7-10h-1.2l-2.4,6.7l-0.4,1.5l0,0l-0.3-1.5L26.1,92z')
                  .step-text
                    | Заезжаете <br> в обновленную <br> квартиру

    section.blog-block
      .container
        .row.blog-row
          .col-xl-6.col-lg-4.col-md-5.col-12
            .blog-desc
              .desc-title.col-xl-10.offset-xl-2
                | Мы работаем - Вы отдыхаете
              .desc-text.col-xl-10.offset-xl-2
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eius eum in modi mollitia neque repellat repellendus sapiente? Consectetur cum eum facere fuga nobis non similique voluptatem. Fuga minima, reprehenderit!
          .col-xl-6.col-lg-8.col-md-7.col-12
            .blog-pic
              .img-wrap
                img(src="img/pics/apartment_2.jpg", alt="")

    section.metric-block
      .container
        .row
          .col
            .block-title
              | Метрики
            .block-title-text
              | Мы создали инструмент для точечного расчета стоимости вашего индивидуального ремонта. Составить четкую смету легко!
        form
          .row
            .col-xl-4.col-lg-4.col-md-7
              .touchspin-wrap
                input(type="text", value="", name="num_1", readonly)
              .touchspin-text
                | площадь квартиры, м²
            .col-xl-2.col-lg-3.col-md-5
              .touchspin-wrap.short
                input(type="text", value="", name="num_2", readonly)
              .touchspin-text
                | количество комнат
              .touchspin-other
                .checkbox.text-center
                  label
                    input(type="checkbox", value)
                    span.cr
                      i.cr-icon.mdi.mdi-check
                    | Стулья
            .col-xl-6.col-lg-5.col-12
              .metric-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis fugiat ipsam magni necessitatibus nisi optio quas qui rerum sunt? Est mollitia quae quas? Error expedita harum ipsam nisi quam.
              a.btn.blue-border(href="#") Рассчитать

