extends components/layout

append head
  link(rel='stylesheet', type='text/css', href='css/jquery.bootstrap-touchspin.min.css')
append scripts
  script(type='text/javascript', src='js/jquery.bootstrap-touchspin.min.js')

block content
  main.page-style

    section.intro-block
      .container-fluid
        .row
          .col-md-4.col-12
            a.intro-link.active(href="#")
            .block-bg
              .shadow-bg
              img(src="img/pics/bg_1.jpg")
            .intro-wrap.d-flex.align-items-end
              .intro-text
                .title
                  | Скандинавский
                .text
                  | Сдержанный и лаконичный
          .col-md-4.col-12
            a.intro-link(href="#")
            .block-bg
              .shadow-bg
              img(src="img/pics/bg_2.jpg")
            .intro-wrap.d-flex.align-items-end
              .intro-text
                .title
                  | Эко стиль
                .text
                  | Сдержанный и лаконичный
          .col-md-4.col-12
            a.intro-link(href="#")
            .block-bg
              .shadow-bg
              img(src="img/pics/bg_3.jpg")
            .intro-wrap.d-flex.align-items-end
              .intro-text
                .title
                  | Классический
                .text
                  | Сдержанный и лаконичный

    section.blog-block
      .container
        .row
          .col
            .block-title
              | Отделочные материалы
        .row.justify-content-center
          .col-xl-10
            .row
              .col-md-6
                .block-title-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae debitis deserunt, facilis neque obcaecati repellat vel voluptas. Atque aut consequatur deleniti dignissimos nulla qui quibusdam quidem, rem soluta ut.
              .col-md-6
                .block-title-text
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae debitis deserunt, facilis neque obcaecati repellat vel voluptas. Atque aut consequatur deleniti dignissimos nulla qui quibusdam quidem, rem soluta ut.
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae debitis deserunt, facilis neque obcaecati repellat vel voluptas. Atque aut consequatur deleniti dignissimos nulla qui quibusdam quidem, rem soluta ut.
        .row
          .col
            .block-title-pic.img-wrap
              img(src="img/pics/img_1.jpg")
        .row.blog-row
          .col-xl-6.col-lg-4.col-md-5.col-12.order-1
            .blog-desc
              .desc-title.col-xl-10.offset-xl-2
                | Заголовок 1
              .desc-text.col-xl-10.offset-xl-2
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eius eum in modi mollitia neque repellat repellendus sapiente? Consectetur cum eum facere fuga nobis non similique voluptatem. Fuga minima, reprehenderit!
          .col-xl-6.col-lg-8.col-md-7.col-12.order-2
            .blog-pic
              .img-wrap
                img(src="img/pics/apartment_2.jpg", alt="")
        .row.blog-row
          .col-xl-6.col-lg-8.col-md-7.col-12.order-md-1.order-2
            .blog-pic
              .img-wrap
                img(src="img/pics/apartment_2.jpg", alt="")
          .col-xl-6.col-lg-4.col-md-5.col-12.order-md-2.order-1
            .blog-desc
              .desc-title.col-xl-10
                | Заголовок 2
              .desc-text.col-xl-10
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur eius eum in modi mollitia neque repellat repellendus sapiente? Consectetur cum eum facere fuga nobis non similique voluptatem. Fuga minima, reprehenderit!
              .col
                .btn.blue-border Подробнее

    section.dop-block
      .container
        .row
          .col
            .block-title
              | Дополнительные операции
        .row
          .col-lg-6
            .dop-pic.pic-1.img-wrap
              img(src="img/pics/options_1.jpg")
          .col-lg-6
            .row
              .col-sm-6
                .dop-pic.pic-2.img-wrap
                  img(src="img/pics/options_2.jpg")
              .col-sm-6
                .dop-pic.pic-3.img-wrap
                  img(src="img/pics/options_3.jpg")
            .row
              .col-12
                .dop-pic.pic-4.img-wrap
                  img(src="img/pics/options_4.jpg")

    section.metric-block
      .container
        .row
          .col
            .block-title
              | Метрики
            .block-title-text
              | Мы создали инструмент для точечного расчета стоимости вашего индивидуального ремонта. Составить четкую смету легко!
        form
          .row
            .col-xl-4.col-lg-4.col-md-7
              .touchspin-wrap
                input(type="text", value="", name="num_1", readonly)
              .touchspin-text
                | площадь квартиры, м²
            .col-xl-2.col-lg-3.col-md-5
              .touchspin-wrap.short
                input(type="text", value="", name="num_2", readonly)
              .touchspin-text
                | количество комнат
              .touchspin-other
                .checkbox.text-center
                  label
                    input(type="checkbox", value)
                    span.cr
                      i.cr-icon.mdi.mdi-check
                    | Стулья
            .col-xl-6.col-lg-5.col-12
              .metric-text
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur corporis fugiat ipsam magni necessitatibus nisi optio quas qui rerum sunt? Est mollitia quae quas? Error expedita harum ipsam nisi quam.
              a.btn.blue-border(href="#") Рассчитать

