.page-index {
  .blog-block {
    .blog-desc {
      .desc-text {
        max-height: 240px;
      }
    }
  }
  .review-block {
    .review-inner {
      height: 290px;
    }
    .review-text {
      height: 110px;
      overflow: hidden;
    }
    .review-pic {
      display: flex;
      align-items: center;
      img {
        border-radius: 50%;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.page-calc {
  .style-block {
    .style-picker-pic {
      position: relative;
      .img-wrap {
        position: absolute;
        height: auto;
      }
    }
  }
  .option-block {
    .option-list {
      li {
        span {
          &.option-price {
            &:after {
              content: ' р.';
              color: #848383;
            }
          }
        }
      }
    }
  }
}

.page-faq {
  .faq-block {
    .faq-text {
      width: auto;
    }
  }
}

.page-style .intro-block .intro-link.active + .block-bg .shadow-bg {
  background-color: transparent;
}