html, body {
  background: #fff;
  /*font-variant-numeric: lining-nums;*/
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans', 'Fira Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  min-height: 100vh;

  /*overflow-x: hidden;
  overflow-y: auto;*/
  &.no-scroll {
    overflow: hidden !important;
  }
}

.header {
  padding-top: 50px;
  padding-bottom: 50px;
}

.header-tel {
  text-align: right;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  a {
    color: #333 !important;
    text-decoration: none !important;
  }
}

main {
  position: relative;
  width: 1240px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 80px;
  overflow: hidden;
}

.content {
  padding-bottom: 50px;
}

.content-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.option-list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  .option-row {
    border-bottom: 1px dotted #C2C2C2;
    position: relative;
    padding: 0;
    margin-bottom: 10px;
    width: 100%;
    float: left;

    span {
      background-color: #FFF;

    }
  }
}

.option-name {
  float: left;

  &.res {
    font-weight: bold;
  }
}

.option-price {

  &:after {
    content: ' р.';
    color: #848383;
  }
  &.res {
    font-weight: bold;
  }
}

.option-area {

  &:after {
    content: ' м²';
    color: #848383;
  }
}

.option-text {
  float: right;
}

.option-counter {
  position: relative;
  padding-right: 2px;
  &:before {
    content: ", кол-во: ";
  }
}

.content-base {
  .text {
    margin-bottom: 10px;
    i {
      margin-right: 10px;
      color: #155290;
    }
  }
}

.divider {
  hr {
    border-top: 3px solid #155290;
  }
}

.result {
  padding-top: 30px;
  padding-bottom: 150px;
}

