#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;

  .preload-wrap {
    position: fixed;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
  }
  .obj {
    border-radius: 50% 50% 50% 50%;
    position: absolute;
    border-left: 5px solid #70acdc;
    border-right: 5px solid #70acdc;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    animation: loading 2s infinite;
  }
  .obj-1 {
    left: 75px;
    top: 75px;
    width: 50px;
    height: 50px;
  }
  .obj-2 {
    left: 65px;
    top: 65px;
    width: 70px;
    height: 70px;
    animation-delay: 0.1s;
  }
  .obj-3 {
    left: 55px;
    top: 55px;
    width: 90px;
    height: 90px;
    animation-delay: 0.2s;
  }
  .obj-4 {
    left: 45px;
    top: 45px;
    width: 110px;
    height: 110px;
    animation-delay: 0.3s;
  }
}

@keyframes loading {
  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(0deg);
  }
}